In [1]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

In [3]:
import os 
print(os.listdir())

['.ipynb_checkpoints', 'DS+in+Python+Movie+Assignment (2).ipynb', 'Movie+Assignment+Data (2).csv']

## Reading and Inspection

-  ###  Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [4]:
movies =pd.read_csv('Movie.csv') # Write your code for importing the csv file here
movies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0
7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000
8,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,Adventure|Family|Fantasy|Mystery,...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000
10,Color,Zack Snyder,673.0,183.0,0.0,2000.0,Lauren Cohan,15000.0,330249062.0,Action|Adventure|Sci-Fi,...,3018.0,English,USA,PG-13,250000000.0,2016.0,4000.0,6.9,2.35,197000
11,Color,Bryan Singer,434.0,169.0,0.0,903.0,Marlon Brando,18000.0,200069408.0,Action|Adventure|Sci-Fi,...,2367.0,English,USA,PG-13,209000000.0,2006.0,10000.0,6.1,2.35,0
12,Color,Marc Forster,403.0,106.0,395.0,393.0,Mathieu Amalric,451.0,168368427.0,Action|Adventure,...,1243.0,English,UK,PG-13,200000000.0,2008.0,412.0,6.7,2.35,0
13,Color,Gore Verbinski,313.0,151.0,563.0,1000.0,Orlando Bloom,40000.0,423032628.0,Action|Adventure|Fantasy,...,1832.0,English,USA,PG-13,225000000.0,2006.0,5000.0,7.3,2.35,5000
14,Color,Gore Verbinski,450.0,150.0,563.0,1000.0,Ruth Wilson,40000.0,89289910.0,Action|Adventure|Western,...,711.0,English,USA,PG-13,215000000.0,2013.0,2000.0,6.5,2.35,48000
15,Color,Zack Snyder,733.0,143.0,0.0,748.0,Christopher Meloni,15000.0,291021565.0,Action|Adventure|Fantasy|Sci-Fi,...,2536.0,English,USA,PG-13,225000000.0,2013.0,3000.0,7.2,2.35,118000
16,Color,Andrew Adamson,258.0,150.0,80.0,201.0,Pierfrancesco Favino,22000.0,141614023.0,Action|Adventure|Family|Fantasy,...,438.0,English,USA,PG,225000000.0,2008.0,216.0,6.6,2.35,0
17,Color,Joss Whedon,703.0,173.0,0.0,19000.0,Robert Downey Jr.,26000.0,623279547.0,Action|Adventure|Sci-Fi,...,1722.0,English,USA,PG-13,220000000.0,2012.0,21000.0,8.1,1.85,123000
18,Color,Rob Marshall,448.0,136.0,252.0,1000.0,Sam Claflin,40000.0,241063875.0,Action|Adventure|Fantasy,...,484.0,English,USA,PG-13,250000000.0,2011.0,11000.0,6.7,2.35,58000
19,Color,Barry Sonnenfeld,451.0,106.0,188.0,718.0,Michael Stuhlbarg,10000.0,179020854.0,Action|Adventure|Comedy|Family|Fantasy|Sci-Fi,...,341.0,English,USA,PG-13,225000000.0,2012.0,816.0,6.8,1.85,40000
20,Color,Peter Jackson,422.0,164.0,0.0,773.0,Adam Brown,5000.0,255108370.0,Adventure|Fantasy,...,802.0,English,New Zealand,PG-13,250000000.0,2014.0,972.0,7.5,2.35,65000
21,Color,Marc Webb,599.0,153.0,464.0,963.0,Andrew Garfield,15000.0,262030663.0,Action|Adventure|Fantasy,...,1225.0,English,USA,PG-13,230000000.0,2012.0,10000.0,7.0,2.35,56000
22,Color,Ridley Scott,343.0,156.0,0.0,738.0,William Hurt,891.0,105219735.0,Action|Adventure|Drama|History,...,546.0,English,USA,PG-13,200000000.0,2010.0,882.0,6.7,2.35,17000
23,Color,Peter Jackson,509.0,186.0,0.0,773.0,Adam Brown,5000.0,258355354.0,Adventure|Fantasy,...,951.0,English,USA,PG-13,225000000.0,2013.0,972.0,7.9,2.35,83000
24,Color,Chris Weitz,251.0,113.0,129.0,1000.0,Eva Green,16000.0,70083519.0,Adventure|Family|Fantasy,...,666.0,English,USA,PG-13,180000000.0,2007.0,6000.0,6.1,2.35,0
25,Color,Peter Jackson,446.0,201.0,0.0,84.0,Thomas Kretschmann,6000.0,218051260.0,Action|Adventure|Drama|Romance,...,2618.0,English,New Zealand,PG-13,207000000.0,2005.0,919.0,7.2,2.35,0
26,Color,James Cameron,315.0,194.0,0.0,794.0,Kate Winslet,29000.0,658672302.0,Drama|Romance,...,2528.0,English,USA,PG-13,200000000.0,1997.0,14000.0,7.7,2.35,26000
27,Color,Anthony Russo,516.0,147.0,94.0,11000.0,Scarlett Johansson,21000.0,407197282.0,Action|Adventure|Sci-Fi,...,1022.0,English,USA,PG-13,250000000.0,2016.0,19000.0,8.2,2.35,72000
28,Color,Peter Berg,377.0,131.0,532.0,627.0,Alexander Skarsgård,14000.0,65173160.0,Action|Adventure|Sci-Fi|Thriller,...,751.0,English,USA,PG-13,209000000.0,2012.0,10000.0,5.9,2.35,44000
29,Color,Colin Trevorrow,644.0,124.0,365.0,1000.0,Judy Greer,3000.0,652177271.0,Action|Adventure|Sci-Fi|Thriller,...,1290.0,English,USA,PG-13,150000000.0,2015.0,2000.0,7.0,2.00,150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5013,Color,Eric Eason,28.0,79.0,3.0,42.0,Panchito Gómez,93.0,NaN,Drama|Family,...,21.0,English,USA,NaN,24000.0,2002.0,46.0,7.0,1.78,61
5014,Color,Uwe Boll,58.0,80.0,892.0,492.0,Katharine Isabelle,986.0,NaN,Action|Crime|Thriller,...,129.0,English,Canada,R,NaN,2009.0,918.0,6.3,2.35,0
5015,Black and White,Richard Linklater,61.0,100.0,0.0,0.0,Richard Linklater,5.0,1227508.0,Comedy|Drama,...,80.0,English,USA,R,23000.0,1991.0,0.0,7.1,1.37,2000
5016,Color,Joseph Mazzella,NaN,90.0,0.0,9.0,Mikaal Bates,313.0,NaN,Crime|Drama|Thriller,...,2.0,English,USA,NaN,25000.0,2015.0,25.0,4.8,NaN,33
5017,Color,Travis Legge,1.0,90.0,138.0,138.0,Suzi Lorraine,370.0,NaN,Comedy|Romance,...,3.0,English,USA,NaN,22000.0,2013.0,184.0,3.3,1.78,200
5018,Color,Alex Kendrick,5.0,120.0,589.0,4.0,Lisa Arnold,51.0,NaN,Drama,...,49.0,English,USA,NaN,20000.0,2003.0,49.0,6.9,1.85,725
5019,Color,Marcus Nispel,43.0,91.0,158.0,265.0,Brittany Curran,630.0,NaN,Horror|Mystery|Thriller,...,33.0,English,USA,R,NaN,2015.0,512.0,4.6,1.85,0
5020,NaN,Brandon Landers,NaN,143.0,8.0,8.0,Alana Kaniewski,720.0,NaN,Drama|Horror|Thriller,...,8.0,English,USA,NaN,17350.0,2011.0,19.0,3.0,NaN,33
5021,Color,Jay Duplass,51.0,85.0,157.0,10.0,Katie Aselton,830.0,192467.0,Comedy|Drama|Romance,...,71.0,English,USA,R,15000.0,2005.0,224.0,6.6,NaN,297
5022,Black and White,Jim Chuchu,6.0,60.0,0.0,4.0,Olwenya Maina,147.0,NaN,Drama,...,1.0,Swahili,Kenya,NaN,15000.0,2014.0,19.0,7.4,NaN,45
5023,Color,Daryl Wein,22.0,88.0,38.0,211.0,Heather Burns,331.0,76382.0,Romance,...,8.0,English,USA,NaN,15000.0,2009.0,212.0,6.2,2.35,324
5024,Color,Jason Trost,42.0,78.0,91.0,86.0,Jason Trost,407.0,NaN,Sci-Fi|Thriller,...,35.0,English,USA,Unrated,20000.0,2011.0,91.0,4.0,2.35,835
5025,Color,John Waters,73.0,108.0,0.0,105.0,Mink Stole,462.0,180483.0,Comedy|Crime|Horror,...,183.0,English,USA,NC-17,10000.0,1972.0,143.0,6.1,1.37,0
5026,Color,Olivier Assayas,81.0,110.0,107.0,45.0,Béatrice Dalle,576.0,136007.0,Drama|Music|Romance,...,39.0,French,France,R,4500.0,2004.0,133.0,6.9,2.35,171
5027,Color,Jafar Panahi,64.0,90.0,397.0,0.0,Nargess Mamizadeh,5.0,673780.0,Drama,...,26.0,Persian,Iran,Not Rated,10000.0,2000.0,0.0,7.5,1.85,697
5028,Black and White,Ivan Kavanagh,12.0,83.0,18.0,0.0,Michael Parle,10.0,NaN,Horror,...,1.0,English,Ireland,NaN,10000.0,2007.0,5.0,6.7,1.33,105
5029,Color,Kiyoshi Kurosawa,78.0,111.0,62.0,6.0,Anna Nakagawa,89.0,94596.0,Crime|Horror|Mystery|Thriller,...,50.0,Japanese,Japan,NaN,1000000.0,1997.0,13.0,7.4,1.85,817
5030,Color,Tadeo Garcia,NaN,84.0,5.0,12.0,Michael Cortez,21.0,NaN,Drama,...,3.0,English,USA,NaN,NaN,2004.0,20.0,6.1,NaN,22
5031,Color,Thomas L. Phillips,13.0,82.0,120.0,84.0,Joe Coffey,785.0,NaN,Comedy|Horror|Thriller,...,8.0,English,USA,NaN,200000.0,2012.0,98.0,5.4,16.00,424
5032,Color,Ash Baron-Cohen,10.0,98.0,3.0,152.0,Stanley B. Herman,789.0,NaN,Crime|Drama,...,14.0,English,USA,NaN,NaN,1995.0,194.0,6.4,NaN,20
5033,Color,Shane Carruth,143.0,77.0,291.0,8.0,David Sullivan,291.0,424760.0,Drama|Sci-Fi|Thriller,...,371.0,English,USA,PG-13,7000.0,2004.0,45.0,7.0,1.85,19000
5034,Color,Neill Dela Llana,35.0,80.0,0.0,0.0,Edgar Tancangco,0.0,70071.0,Thriller,...,35.0,English,Philippines,Not Rated,7000.0,2005.0,0.0,6.3,NaN,74
5035,Color,Robert Rodriguez,56.0,81.0,0.0,6.0,Peter Marquardt,121.0,2040920.0,Action|Crime|Drama|Romance|Thriller,...,130.0,Spanish,USA,R,7000.0,1992.0,20.0,6.9,1.37,0
5036,Color,Anthony Vallone,NaN,84.0,2.0,2.0,John Considine,45.0,NaN,Crime|Drama,...,1.0,English,USA,PG-13,3250.0,2005.0,44.0,7.8,NaN,4
5037,Color,Edward Burns,14.0,95.0,0.0,133.0,Caitlin FitzGerald,296.0,4584.0,Comedy|Drama,...,14.0,English,USA,Not Rated,9000.0,2011.0,205.0,6.4,NaN,413
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

-  ###  Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [5]:
# Write your code for inspection here
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

##  Cleaning the Data

-  ###  Inspect Null values


Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [6]:
# Write your code for column-wise null count here
#method 1 
movies.isnull().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [7]:
#method 2
movies.isna().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [8]:
# Write your code for row-wise null count here
 # method 1
movies.isna().sum(axis = 1)

0        0
1        0
2        0
3        0
4       14
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
5013     2
5014     2
5015     0
5016     5
5017     2
5018     2
5019     2
5020     5
5021     1
5022     4
5023     2
5024     1
5025     0
5026     0
5027     0
5028     3
5029     1
5030     5
5031     3
5032     4
5033     0
5034     1
5035     0
5036     3
5037     1
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

In [9]:
movies.isnull().sum(axis = 1)

0        0
1        0
2        0
3        0
4       14
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
5013     2
5014     2
5015     0
5016     5
5017     2
5018     2
5019     2
5020     5
5021     1
5022     4
5023     2
5024     1
5025     0
5026     0
5027     0
5028     3
5029     1
5030     5
5031     3
5032     4
5033     0
5034     1
5035     0
5036     3
5037     1
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

In [10]:
#3rd way to get result
for i in range(len(movies.index)):
    print('NaN values in row',i,':',movies.iloc[i].isna().sum())

NaN values in row 0 : 0
NaN values in row 1 : 0
NaN values in row 2 : 0
NaN values in row 3 : 0
NaN values in row 4 : 14
NaN values in row 5 : 0
NaN values in row 6 : 0
NaN values in row 7 : 0
NaN values in row 8 : 0
NaN values in row 9 : 0
NaN values in row 10 : 0
NaN values in row 11 : 0
NaN values in row 12 : 0
NaN values in row 13 : 0
NaN values in row 14 : 0
NaN values in row 15 : 0
NaN values in row 16 : 0
NaN values in row 17 : 0
NaN values in row 18 : 0
NaN values in row 19 : 0
NaN values in row 20 : 0
NaN values in row 21 : 0
NaN values in row 22 : 0
NaN values in row 23 : 0
NaN values in row 24 : 0
NaN values in row 25 : 0
NaN values in row 26 : 0
NaN values in row 27 : 0
NaN values in row 28 : 0
NaN values in row 29 : 0
NaN values in row 30 : 0
NaN values in row 31 : 0
NaN values in row 32 : 0
NaN values in row 33 : 0
NaN values in row 34 : 0
NaN values in row 35 : 0
NaN values in row 36 : 0
NaN values in row 37 : 0
NaN values in row 38 : 0
NaN values in row 39 : 0
NaN values in row 40 : 0
NaN values in row 41 : 0
NaN values in row 42 : 0
NaN values in row 43 : 0
NaN values in row 44 : 0
NaN values in row 45 : 0
NaN values in row 46 : 0
NaN values in row 47 : 0
NaN values in row 48 : 0
NaN values in row 49 : 0
NaN values in row 50 : 0
NaN values in row 51 : 0
NaN values in row 52 : 0
NaN values in row 53 : 0
NaN values in row 54 : 0
NaN values in row 55 : 1
NaN values in row 56 : 0
NaN values in row 57 : 0
NaN values in row 58 : 0
NaN values in row 59 : 0
NaN values in row 60 : 0
NaN values in row 61 : 0
NaN values in row 62 : 0
NaN values in row 63 : 0
NaN values in row 64 : 0
NaN values in row 65 : 0
NaN values in row 66 : 0
NaN values in row 67 : 0
NaN values in row 68 : 0
NaN values in row 69 : 0
NaN values in row 70 : 0
NaN values in row 71 : 0
NaN values in row 72 : 0
NaN values in row 73 : 0
NaN values in row 74 : 0
NaN values in row 75 : 0
NaN values in row 76 : 0
NaN values in row 77 : 0
NaN values in row 78 : 0
NaN values in row 79 : 0
NaN values in row 80 : 0
NaN values in row 81 : 0
NaN values in row 82 : 0
NaN values in row 83 : 0
NaN values in row 84 : 3
NaN values in row 85 : 0
NaN values in row 86 : 0
NaN values in row 87 : 0
NaN values in row 88 : 0
NaN values in row 89 : 0
NaN values in row 90 : 0
NaN values in row 91 : 0
NaN values in row 92 : 0
NaN values in row 93 : 0
NaN values in row 94 : 0
NaN values in row 95 : 0
NaN values in row 96 : 0
NaN values in row 97 : 0
NaN values in row 98 : 3
NaN values in row 99 : 1
NaN values in row 100 : 0
NaN values in row 101 : 0
NaN values in row 102 : 0
NaN values in row 103 : 0
NaN values in row 104 : 0
NaN values in row 105 : 0
NaN values in row 106 : 0
NaN values in row 107 : 0
NaN values in row 108 : 0
NaN values in row 109 : 0
NaN values in row 110 : 0
NaN values in row 111 : 0
NaN values in row 112 : 0
NaN values in row 113 : 0
NaN values in row 114 : 0
NaN values in row 115 : 0
NaN values in row 116 : 0
NaN values in row 117 : 0
NaN values in row 118 : 0
NaN values in row 119 : 0
NaN values in row 120 : 0
NaN values in row 121 : 0
NaN values in row 122 : 0
NaN values in row 123 : 0
NaN values in row 124 : 0
NaN values in row 125 : 0
NaN values in row 126 : 0
NaN values in row 127 : 0
NaN values in row 128 : 0
NaN values in row 129 : 0
NaN values in row 130 : 0
NaN values in row 131 : 0
NaN values in row 132 : 0
NaN values in row 133 : 0
NaN values in row 134 : 0
NaN values in row 135 : 0
NaN values in row 136 : 0
NaN values in row 137 : 0
NaN values in row 138 : 0
NaN values in row 139 : 0
NaN values in row 140 : 0
NaN values in row 141 : 0
NaN values in row 142 : 0
NaN values in row 143 : 0
NaN values in row 144 : 0
NaN values in row 145 : 0
NaN values in row 146 : 0
NaN values in row 147 : 0
NaN values in row 148 : 0
NaN values in row 149 : 0
NaN values in row 150 : 0
NaN values in row 151 : 0
NaN values in row 152 : 0
NaN values in row 153 : 0
NaN values in row 154 : 0
NaN values in row 155 : 0
NaN values in row 156 : 0
NaN values in row 157 : 0
NaN values in row 158 : 0
NaN values in row 159 : 0
NaN values in row 160 : 0
NaN values in row 161 : 0
NaN values in row 162 : 0
NaN values in row 163 : 0
NaN values in row 164 : 0
NaN values in row 165 : 0
NaN values in row 166 : 0
NaN values in row 167 : 0
NaN values in row 168 : 0
NaN values in row 169 : 0
NaN values in row 170 : 0
NaN values in row 171 : 0
NaN values in row 172 : 0
NaN values in row 173 : 0
NaN values in row 174 : 0
NaN values in row 175 : 0
NaN values in row 176 : 0
NaN values in row 177 : 4
NaN values in row 178 : 0
NaN values in row 179 : 0
NaN values in row 180 : 0
NaN values in row 181 : 0
NaN values in row 182 : 0
NaN values in row 183 : 0
NaN values in row 184 : 0
NaN values in row 185 : 0
NaN values in row 186 : 0
NaN values in row 187 : 0
NaN values in row 188 : 0
NaN values in row 189 : 0
NaN values in row 190 : 0
NaN values in row 191 : 0
NaN values in row 192 : 0
NaN values in row 193 : 0
NaN values in row 194 : 0
NaN values in row 195 : 0
NaN values in row 196 : 0
NaN values in row 197 : 0
NaN values in row 198 : 0
NaN values in row 199 : 6
NaN values in row 200 : 0
NaN values in row 201 : 0
NaN values in row 202 : 0
NaN values in row 203 : 0
NaN values in row 204 : 3
NaN values in row 205 : 0
NaN values in row 206 : 6
NaN values in row 207 : 0
NaN values in row 208 : 0
NaN values in row 209 : 0
NaN values in row 210 : 0
NaN values in row 211 : 0
NaN values in row 212 : 0
NaN values in row 213 : 0
NaN values in row 214 : 0
NaN values in row 215 : 0
NaN values in row 216 : 0
NaN values in row 217 : 0
NaN values in row 218 : 0
NaN values in row 219 : 0
NaN values in row 220 : 0
NaN values in row 221 : 0
NaN values in row 222 : 0
NaN values in row 223 : 0
NaN values in row 224 : 0
NaN values in row 225 : 0
NaN values in row 226 : 0
NaN values in row 227 : 0
NaN values in row 228 : 0
NaN values in row 229 : 0
NaN values in row 230 : 0
NaN values in row 231 : 0
NaN values in row 232 : 0
NaN values in row 233 : 0
NaN values in row 234 : 0
NaN values in row 235 : 0
NaN values in row 236 : 0
NaN values in row 237 : 0
NaN values in row 238 : 0
NaN values in row 239 : 0
NaN values in row 240 : 0
NaN values in row 241 : 0
NaN values in row 242 : 2
NaN values in row 243 : 0
NaN values in row 244 : 0
NaN values in row 245 : 0
NaN values in row 246 : 0
NaN values in row 247 : 0
NaN values in row 248 : 1
NaN values in row 249 : 0
NaN values in row 250 : 0
NaN values in row 251 : 0
NaN values in row 252 : 0
NaN values in row 253 : 0
NaN values in row 254 : 0
NaN values in row 255 : 0
NaN values in row 256 : 0
NaN values in row 257 : 0
NaN values in row 258 : 0
NaN values in row 259 : 0
NaN values in row 260 : 5
NaN values in row 261 : 0
NaN values in row 262 : 0
NaN values in row 263 : 0
NaN values in row 264 : 0
NaN values in row 265 : 0
NaN values in row 266 : 0
NaN values in row 267 : 0
NaN values in row 268 : 0
NaN values in row 269 : 0
NaN values in row 270 : 0
NaN values in row 271 : 0
NaN values in row 272 : 0
NaN values in row 273 : 0
NaN values in row 274 : 0
NaN values in row 275 : 0
NaN values in row 276 : 0
NaN values in row 277 : 0
NaN values in row 278 : 0
NaN values in row 279 : 15
NaN values in row 280 : 0
NaN values in row 281 : 0
NaN values in row 282 : 0
NaN values in row 283 : 0
NaN values in row 284 : 0
NaN values in row 285 : 0
NaN values in row 286 : 0
NaN values in row 287 : 0
NaN values in row 288 : 0
NaN values in row 289 : 0
NaN values in row 290 : 0
NaN values in row 291 : 0
NaN values in row 292 : 0
NaN values in row 293 : 0
NaN values in row 294 : 0
NaN values in row 295 : 0
NaN values in row 296 : 0
NaN values in row 297 : 0
NaN values in row 298 : 0
NaN values in row 299 : 0
NaN values in row 300 : 0
NaN values in row 301 : 0
NaN values in row 302 : 0
NaN values in row 303 : 0
NaN values in row 304 : 0
NaN values in row 305 : 0
NaN values in row 306 : 0
NaN values in row 307 : 0
NaN values in row 308 : 0
NaN values in row 309 : 0
NaN values in row 310 : 0
NaN values in row 311 : 0
NaN values in row 312 : 0
NaN values in row 313 : 0
NaN values in row 314 : 0
NaN values in row 315 : 0
NaN values in row 316 : 0
NaN values in row 317 : 0
NaN values in row 318 : 0
NaN values in row 319 : 0
NaN values in row 320 : 0
NaN values in row 321 : 0
NaN values in row 322 : 0
NaN values in row 323 : 0
NaN values in row 324 : 0
NaN values in row 325 : 0
NaN values in row 326 : 0
NaN values in row 327 : 0
NaN values in row 328 : 0
NaN values in row 329 : 0
NaN values in row 330 : 0
NaN values in row 331 : 0
NaN values in row 332 : 0
NaN values in row 333 : 0
NaN values in row 334 : 0
NaN values in row 335 : 0
NaN values in row 336 : 0
NaN values in row 337 : 0
NaN values in row 338 : 0
NaN values in row 339 : 0
NaN values in row 340 : 0
NaN values in row 341 : 0
NaN values in row 342 : 0
NaN values in row 343 : 0
NaN values in row 344 : 0
NaN values in row 345 : 0
NaN values in row 346 : 0
NaN values in row 347 : 0
NaN values in row 348 : 0
NaN values in row 349 : 0
NaN values in row 350 : 0
NaN values in row 351 : 0
NaN values in row 352 : 0
NaN values in row 353 : 0
NaN values in row 354 : 0
NaN values in row 355 : 0
NaN values in row 356 : 0
NaN values in row 357 : 0
NaN values in row 358 : 0
NaN values in row 359 : 0
NaN values in row 360 : 0
NaN values in row 361 : 0
NaN values in row 362 : 0
NaN values in row 363 : 0
NaN values in row 364 : 0
NaN values in row 365 : 0
NaN values in row 366 : 0
NaN values in row 367 : 3
NaN values in row 368 : 0
NaN values in row 369 : 0
NaN values in row 370 : 0
NaN values in row 371 : 0
NaN values in row 372 : 0
NaN values in row 373 : 0
NaN values in row 374 : 0
NaN values in row 375 : 0
NaN values in row 376 : 0
NaN values in row 377 : 0
NaN values in row 378 : 0
NaN values in row 379 : 0
NaN values in row 380 : 0
NaN values in row 381 : 0
NaN values in row 382 : 0
NaN values in row 383 : 0
NaN values in row 384 : 0
NaN values in row 385 : 0
NaN values in row 386 : 0
NaN values in row 387 : 0
NaN values in row 388 : 0
NaN values in row 389 : 0
NaN values in row 390 : 0
NaN values in row 391 : 0
NaN values in row 392 : 0
NaN values in row 393 : 0
NaN values in row 394 : 0
NaN values in row 395 : 0
NaN values in row 396 : 0
NaN values in row 397 : 0
NaN values in row 398 : 0
NaN values in row 399 : 0
NaN values in row 400 : 0
NaN values in row 401 : 0
NaN values in row 402 : 0
NaN values in row 403 : 0
NaN values in row 404 : 5
NaN values in row 405 : 0
NaN values in row 406 : 0
NaN values in row 407 : 0
NaN values in row 408 : 0
NaN values in row 409 : 0
NaN values in row 410 : 0
NaN values in row 411 : 0
NaN values in row 412 : 0
NaN values in row 413 : 0
NaN values in row 414 : 0
NaN values in row 415 : 0
NaN values in row 416 : 0
NaN values in row 417 : 0
NaN values in row 418 : 0
NaN values in row 419 : 0
NaN values in row 420 : 0
NaN values in row 421 : 0
NaN values in row 422 : 2
NaN values in row 423 : 0
NaN values in row 424 : 0
NaN values in row 425 : 0
NaN values in row 426 : 0
NaN values in row 427 : 0
NaN values in row 428 : 0
NaN values in row 429 : 0
NaN values in row 430 : 1
NaN values in row 431 : 0
NaN values in row 432 : 0
NaN values in row 433 : 0
NaN values in row 434 : 0
NaN values in row 435 : 0
NaN values in row 436 : 0
NaN values in row 437 : 0
NaN values in row 438 : 0
NaN values in row 439 : 0
NaN values in row 440 : 0
NaN values in row 441 : 0
NaN values in row 442 : 0
NaN values in row 443 : 0
NaN values in row 444 : 1
NaN values in row 445 : 0
NaN values in row 446 : 0
NaN values in row 447 : 0
NaN values in row 448 : 0
NaN values in row 449 : 0
NaN values in row 450 : 0
NaN values in row 451 : 0
NaN values in row 452 : 0
NaN values in row 453 : 0
NaN values in row 454 : 0
NaN values in row 455 : 0
NaN values in row 456 : 0
NaN values in row 457 : 0
NaN values in row 458 : 0
NaN values in row 459 : 6
NaN values in row 460 : 0
NaN values in row 461 : 0
NaN values in row 462 : 0
NaN values in row 463 : 0
NaN values in row 464 : 0
NaN values in row 465 : 0
NaN values in row 466 : 0
NaN values in row 467 : 0
NaN values in row 468 : 0
NaN values in row 469 : 0
NaN values in row 470 : 0
NaN values in row 471 : 0
NaN values in row 472 : 0
NaN values in row 473 : 0
NaN values in row 474 : 0
NaN values in row 475 : 0
NaN values in row 476 : 0
NaN values in row 477 : 1
NaN values in row 478 : 0
NaN values in row 479 : 5

NaN values in row 480 : 0
NaN values in row 481 : 0
NaN values in row 482 : 0
NaN values in row 483 : 0
NaN values in row 484 : 0
NaN values in row 485 : 0
NaN values in row 486 : 0
NaN values in row 487 : 0
NaN values in row 488 : 0
NaN values in row 489 : 3
NaN values in row 490 : 1
NaN values in row 491 : 0
NaN values in row 492 : 0
NaN values in row 493 : 0
NaN values in row 494 : 0
NaN values in row 495 : 0
NaN values in row 496 : 0
NaN values in row 497 : 0
NaN values in row 498 : 0
NaN values in row 499 : 0
NaN values in row 500 : 0
NaN values in row 501 : 0
NaN values in row 502 : 0
NaN values in row 503 : 0
NaN values in row 504 : 0
NaN values in row 505 : 0
NaN values in row 506 : 0
NaN values in row 507 : 3
NaN values in row 508 : 0
NaN values in row 509 : 0
NaN values in row 510 : 0
NaN values in row 511 : 0
NaN values in row 512 : 0
NaN values in row 513 : 0
NaN values in row 514 : 0
NaN values in row 515 : 0
NaN values in row 516 : 0
NaN values in row 517 : 0
NaN values in row 518 : 0
NaN values in row 519 : 0
NaN values in row 520 : 0
NaN values in row 521 : 0
NaN values in row 522 : 0
NaN values in row 523 : 0
NaN values in row 524 : 0
NaN values in row 525 : 0
NaN values in row 526 : 0
NaN values in row 527 : 0
NaN values in row 528 : 0
NaN values in row 529 : 0
NaN values in row 530 : 0
NaN values in row 531 : 0
NaN values in row 532 : 0
NaN values in row 533 : 0
NaN values in row 534 : 0
NaN values in row 535 : 0
NaN values in row 536 : 0
NaN values in row 537 : 5
NaN values in row 538 : 0
NaN values in row 539 : 0
NaN values in row 540 : 0
NaN values in row 541 : 0
NaN values in row 542 : 0
NaN values in row 543 : 7
NaN values in row 544 : 0
NaN values in row 545 : 0
NaN values in row 546 : 0
NaN values in row 547 : 0
NaN values in row 548 : 0
NaN values in row 549 : 0
NaN values in row 550 : 0
NaN values in row 551 : 0
NaN values in row 552 : 0
NaN values in row 553 : 0
NaN values in row 554 : 0
NaN values in row 555 : 0
NaN values in row 556 : 0
NaN values in row 557 : 0
NaN values in row 558 : 0
NaN values in row 559 : 1
NaN values in row 560 : 0
NaN values in row 561 : 0
NaN values in row 562 : 0
NaN values in row 563 : 0
NaN values in row 564 : 0
NaN values in row 565 : 0
NaN values in row 566 : 0
NaN values in row 567 : 0
NaN values in row 568 : 0
NaN values in row 569 : 0
NaN values in row 570 : 0
NaN values in row 571 : 0
NaN values in row 572 : 0
NaN values in row 573 : 0
NaN values in row 574 : 0
NaN values in row 575 : 0
NaN values in row 576 : 0
NaN values in row 577 : 0
NaN values in row 578 : 0
NaN values in row 579 : 0
NaN values in row 580 : 0
NaN values in row 581 : 0
NaN values in row 582 : 0
NaN values in row 583 : 0
NaN values in row 584 : 0
NaN values in row 585 : 0
NaN values in row 586 : 0
NaN values in row 587 : 0
NaN values in row 588 : 0
NaN values in row 589 : 0
NaN values in row 590 : 0
NaN values in row 591 : 0
NaN values in row 592 : 0
NaN values in row 593 : 5
NaN values in row 594 : 0
NaN values in row 595 : 0
NaN values in row 596 : 0
NaN values in row 597 : 0
NaN values in row 598 : 0
NaN values in row 599 : 0
NaN values in row 600 : 0
NaN values in row 601 : 0
NaN values in row 602 : 0
NaN values in row 603 : 0
NaN values in row 604 : 0
NaN values in row 605 : 0
NaN values in row 606 : 0
NaN values in row 607 : 0
NaN values in row 608 : 0
NaN values in row 609 : 0
NaN values in row 610 : 0
NaN values in row 611 : 0
NaN values in row 612 : 0
NaN values in row 613 : 0
NaN values in row 614 : 0
NaN values in row 615 : 0
NaN values in row 616 : 0
NaN values in row 617 : 0
NaN values in row 618 : 0
NaN values in row 619 : 0
NaN values in row 620 : 0
NaN values in row 621 : 0
NaN values in row 622 : 0
NaN values in row 623 : 0
NaN values in row 624 : 1
NaN values in row 625 : 0
NaN values in row 626 : 0
NaN values in row 627 : 0
NaN values in row 628 : 0
NaN values in row 629 : 0
NaN values in row 630 : 0
NaN values in row 631 : 0
NaN values in row 632 : 0
NaN values in row 633 : 0
NaN values in row 634 : 0
NaN values in row 635 : 0
NaN values in row 636 : 0
NaN values in row 637 : 0
NaN values in row 638 : 0
NaN values in row 639 : 0
NaN values in row 640 : 1
NaN values in row 641 : 0
NaN values in row 642 : 1
NaN values in row 643 : 0
NaN values in row 644 : 0
NaN values in row 645 : 5
NaN values in row 646 : 0
NaN values in row 647 : 0
NaN values in row 648 : 0
NaN values in row 649 : 0
NaN values in row 650 : 0
NaN values in row 651 : 0
NaN values in row 652 : 0
NaN values in row 653 : 0
NaN values in row 654 : 0
NaN values in row 655 : 0
NaN values in row 656 : 0
NaN values in row 657 : 0
NaN values in row 658 : 0
NaN values in row 659 : 0
NaN values in row 660 : 0
NaN values in row 661 : 0
NaN values in row 662 : 0
NaN values in row 663 : 0
NaN values in row 664 : 0
NaN values in row 665 : 0
NaN values in row 666 : 0
NaN values in row 667 : 0
NaN values in row 668 : 0
NaN values in row 669 : 0
NaN values in row 670 : 0
NaN values in row 671 : 0
NaN values in row 672 : 0
NaN values in row 673 : 0
NaN values in row 674 : 0
NaN values in row 675 : 0
NaN values in row 676 : 1
NaN values in row 677 : 0
NaN values in row 678 : 0
NaN values in row 679 : 0
NaN values in row 680 : 0
NaN values in row 681 : 0
NaN values in row 682 : 0
NaN values in row 683 : 0
NaN values in row 684 : 0
NaN values in row 685 : 7
NaN values in row 686 : 0
NaN values in row 687 : 0
NaN values in row 688 : 0
NaN values in row 689 : 0
NaN values in row 690 : 0
NaN values in row 691 : 0
NaN values in row 692 : 0
NaN values in row 693 : 0
NaN values in row 694 : 0
NaN values in row 695 : 0
NaN values in row 696 : 0
NaN values in row 697 : 0
NaN values in row 698 : 0
NaN values in row 699 : 0
NaN values in row 700 : 0
NaN values in row 701 : 0
NaN values in row 702 : 0
NaN values in row 703 : 0
NaN values in row 704 : 0
NaN values in row 705 : 0
NaN values in row 706 : 0
NaN values in row 707 : 0
NaN values in row 708 : 0
NaN values in row 709 : 0
NaN values in row 710 : 0
NaN values in row 711 : 0
NaN values in row 712 : 0
NaN values in row 713 : 1
NaN values in row 714 : 0
NaN values in row 715 : 0
NaN values in row 716 : 0
NaN values in row 717 : 0
NaN values in row 718 : 0
NaN values in row 719 : 0
NaN values in row 720 : 0
NaN values in row 721 : 0
NaN values in row 722 : 0
NaN values in row 723 : 0
NaN values in row 724 : 0
NaN values in row 725 : 0
NaN values in row 726 : 0
NaN values in row 727 : 0
NaN values in row 728 : 0
NaN values in row 729 : 0
NaN values in row 730 : 0
NaN values in row 731 : 0
NaN values in row 732 : 0
NaN values in row 733 : 0
NaN values in row 734 : 0
NaN values in row 735 : 0
NaN values in row 736 : 0
NaN values in row 737 : 0
NaN values in row 738 : 0
NaN values in row 739 : 0
NaN values in row 740 : 0
NaN values in row 741 : 0
NaN values in row 742 : 0
NaN values in row 743 : 0
NaN values in row 744 : 0
NaN values in row 745 : 0
NaN values in row 746 : 0
NaN values in row 747 : 0
NaN values in row 748 : 0
NaN values in row 749 : 0
NaN values in row 750 : 0
NaN values in row 751 : 0
NaN values in row 752 : 0
NaN values in row 753 : 0
NaN values in row 754 : 0
NaN values in row 755 : 0
NaN values in row 756 : 0
NaN values in row 757 : 5
NaN values in row 758 : 0
NaN values in row 759 : 0
NaN values in row 760 : 0
NaN values in row 761 : 0
NaN values in row 762 : 0
NaN values in row 763 : 0
NaN values in row 764 : 0
NaN values in row 765 : 0
NaN values in row 766 : 0
NaN values in row 767 : 0
NaN values in row 768 : 0
NaN values in row 769 : 0
NaN values in row 770 : 0
NaN values in row 771 : 0
NaN values in row 772 : 0
NaN values in row 773 : 1
NaN values in row 774 : 0
NaN values in row 775 : 0
NaN values in row 776 : 0
NaN values in row 777 : 0
NaN values in row 778 : 0
NaN values in row 779 : 0
NaN values in row 780 : 1
NaN values in row 781 : 0
NaN values in row 782 : 0
NaN values in row 783 : 0
NaN values in row 784 : 0
NaN values in row 785 : 0
NaN values in row 786 : 0
NaN values in row 787 : 0
NaN values in row 788 : 0
NaN values in row 789 : 1
NaN values in row 790 : 0
NaN values in row 791 : 0
NaN values in row 792 : 0
NaN values in row 793 : 0
NaN values in row 794 : 0
NaN values in row 795 : 0
NaN values in row 796 : 0
NaN values in row 797 : 0
NaN values in row 798 : 0
NaN values in row 799 : 0
NaN values in row 800 : 0
NaN values in row 801 : 0
NaN values in row 802 : 0
NaN values in row 803 : 0
NaN values in row 804 : 0
NaN values in row 805 : 0
NaN values in row 806 : 0
NaN values in row 807 : 0
NaN values in row 808 : 0
NaN values in row 809 : 0
NaN values in row 810 : 2
NaN values in row 811 : 0
NaN values in row 812 : 0
NaN values in row 813 : 0
NaN values in row 814 : 0
NaN values in row 815 : 0
NaN values in row 816 : 4
NaN values in row 817 : 0
NaN values in row 818 : 0
NaN values in row 819 : 0
NaN values in row 820 : 0
NaN values in row 821 : 2
NaN values in row 822 : 0
NaN values in row 823 : 0
NaN values in row 824 : 0
NaN values in row 825 : 0
NaN values in row 826 : 5
NaN values in row 827 : 0
NaN values in row 828 : 0
NaN values in row 829 : 0
NaN values in row 830 : 0
NaN values in row 831 : 0
NaN values in row 832 : 0
NaN values in row 833 : 6
NaN values in row 834 : 0
NaN values in row 835 : 0
NaN values in row 836 : 0
NaN values in row 837 : 0
NaN values in row 838 : 0
NaN values in row 839 : 0
NaN values in row 840 : 0
NaN values in row 841 : 0
NaN values in row 842 : 0
NaN values in row 843 : 0
NaN values in row 844 : 0
NaN values in row 845 : 0
NaN values in row 846 : 0
NaN values in row 847 : 0
NaN values in row 848 : 0
NaN values in row 849 : 0
NaN values in row 850 : 0
NaN values in row 851 : 0
NaN values in row 852 : 0
NaN values in row 853 : 0
NaN values in row 854 : 0
NaN values in row 855 : 0
NaN values in row 856 : 0
NaN values in row 857 : 4
NaN values in row 858 : 0
NaN values in row 859 : 0
NaN values in row 860 : 0
NaN values in row 861 : 0
NaN values in row 862 : 0
NaN values in row 863 : 0
NaN values in row 864 : 0
NaN values in row 865 : 0
NaN values in row 866 : 0
NaN values in row 867 : 0
NaN values in row 868 : 0
NaN values in row 869 : 0
NaN values in row 870 : 0
NaN values in row 871 : 0
NaN values in row 872 : 0
NaN values in row 873 : 0
NaN values in row 874 : 0
NaN values in row 875 : 0
NaN values in row 876 : 0
NaN values in row 877 : 0
NaN values in row 878 : 0
NaN values in row 879 : 0
NaN values in row 880 : 0
NaN values in row 881 : 0
NaN values in row 882 : 0
NaN values in row 883 : 0
NaN values in row 884 : 0
NaN values in row 885 : 0
NaN values in row 886 : 0
NaN values in row 887 : 0
NaN values in row 888 : 0
NaN values in row 889 : 0
NaN values in row 890 : 1
NaN values in row 891 : 1
NaN values in row 892 : 0
NaN values in row 893 : 0
NaN values in row 894 : 0
NaN values in row 895 : 0
NaN values in row 896 : 0
NaN values in row 897 : 0
NaN values in row 898 : 0
NaN values in row 899 : 0
NaN values in row 900 : 0
NaN values in row 901 : 0
NaN values in row 902 : 0
NaN values in row 903 : 0
NaN values in row 904 : 0
NaN values in row 905 : 0
NaN values in row 906 : 0
NaN values in row 907 : 0
NaN values in row 908 : 0
NaN values in row 909 : 0
NaN values in row 910 : 0
NaN values in row 911 : 0
NaN values in row 912 : 0
NaN values in row 913 : 0
NaN values in row 914 : 0
NaN values in row 915 : 0
NaN values in row 916 : 0
NaN values in row 917 : 0
NaN values in row 918 : 0
NaN values in row 919 : 0
NaN values in row 920 : 0
NaN values in row 921 : 0
NaN values in row 922 : 0
NaN values in row 923 : 0
NaN values in row 924 : 0
NaN values in row 925 : 1
NaN values in row 926 : 0
NaN values in row 927 : 0
NaN values in row 928 : 0
NaN values in row 929 : 0
NaN values in row 930 : 0
NaN values in row 931 : 0
NaN values in row 932 : 0
NaN values in row 933 : 0
NaN values in row 934 : 0
NaN values in row 935 : 0
NaN values in row 936 : 0
NaN values in row 937 : 0
NaN values in row 938 : 0
NaN values in row 939 : 0
NaN values in row 940 : 0
NaN values in row 941 : 0
NaN values in row 942 : 0
NaN values in row 943 : 0
NaN values in row 944 : 0
NaN values in row 945 : 0
NaN values in row 946 : 0
NaN values in row 947 : 0
NaN values in row 948 : 0
NaN values in row 949 : 1
NaN values in row 950 : 0
NaN values in row 951 : 0
NaN values in row 952 : 1
NaN values in row 953 : 0
NaN values in row 954 : 0
NaN values in row 955 : 0
NaN values in row 956 : 0
NaN values in row 957 : 0
NaN values in row 958 : 0
NaN values in row 959 : 0
NaN values in row 960 : 0
NaN values in row 961 : 0
NaN values in row 962 : 8
NaN values in row 963 : 0
NaN values in row 964 : 0
NaN values in row 965 : 0
NaN values in row 966 : 0
NaN values in row 967 : 0
NaN values in row 968 : 0
NaN values in row 969 : 0
NaN values in row 970 : 0
NaN values in row 971 : 0
NaN values in row 972 : 0
NaN values in row 973 : 0
NaN values in row 974 : 0
NaN values in row 975 : 0
NaN values in row 976 : 0
NaN values in row 977 : 0
NaN values in row 978 : 0
NaN values in row 979 : 0

NaN values in row 980 : 0
NaN values in row 981 : 0
NaN values in row 982 : 0
NaN values in row 983 : 0
NaN values in row 984 : 0
NaN values in row 985 : 0
NaN values in row 986 : 0
NaN values in row 987 : 0
NaN values in row 988 : 0
NaN values in row 989 : 0
NaN values in row 990 : 0
NaN values in row 991 : 0
NaN values in row 992 : 0
NaN values in row 993 : 0
NaN values in row 994 : 6
NaN values in row 995 : 0
NaN values in row 996 : 0
NaN values in row 997 : 0
NaN values in row 998 : 0
NaN values in row 999 : 0
NaN values in row 1000 : 0
NaN values in row 1001 : 0
NaN values in row 1002 : 0
NaN values in row 1003 : 0
NaN values in row 1004 : 0
NaN values in row 1005 : 0
NaN values in row 1006 : 0
NaN values in row 1007 : 7
NaN values in row 1008 : 0
NaN values in row 1009 : 0
NaN values in row 1010 : 0
NaN values in row 1011 : 0
NaN values in row 1012 : 0
NaN values in row 1013 : 0
NaN values in row 1014 : 0
NaN values in row 1015 : 0
NaN values in row 1016 : 0
NaN values in row 1017 : 0
NaN values in row 1018 : 0
NaN values in row 1019 : 0
NaN values in row 1020 : 0
NaN values in row 1021 : 0
NaN values in row 1022 : 0
NaN values in row 1023 : 5
NaN values in row 1024 : 0
NaN values in row 1025 : 0
NaN values in row 1026 : 0
NaN values in row 1027 : 0
NaN values in row 1028 : 0
NaN values in row 1029 : 0
NaN values in row 1030 : 0
NaN values in row 1031 : 0
NaN values in row 1032 : 0
NaN values in row 1033 : 0
NaN values in row 1034 : 0
NaN values in row 1035 : 5
NaN values in row 1036 : 0
NaN values in row 1037 : 1
NaN values in row 1038 : 0
NaN values in row 1039 : 0
NaN values in row 1040 : 1
NaN values in row 1041 : 0
NaN values in row 1042 : 0
NaN values in row 1043 : 0
NaN values in row 1044 : 2
NaN values in row 1045 : 0
NaN values in row 1046 : 0
NaN values in row 1047 : 0
NaN values in row 1048 : 0
NaN values in row 1049 : 0
NaN values in row 1050 : 0
NaN values in row 1051 : 0
NaN values in row 1052 : 0
NaN values in row 1053 : 0
NaN values in row 1054 : 0
NaN values in row 1055 : 0
NaN values in row 1056 : 2
NaN values in row 1057 : 0
NaN values in row 1058 : 0
NaN values in row 1059 : 0
NaN values in row 1060 : 1
NaN values in row 1061 : 1
NaN values in row 1062 : 0
NaN values in row 1063 : 0
NaN values in row 1064 : 0
NaN values in row 1065 : 0
NaN values in row 1066 : 0
NaN values in row 1067 : 0
NaN values in row 1068 : 0
NaN values in row 1069 : 0
NaN values in row 1070 : 0
NaN values in row 1071 : 1
NaN values in row 1072 : 1
NaN values in row 1073 : 0
NaN values in row 1074 : 0
NaN values in row 1075 : 0
NaN values in row 1076 : 0
NaN values in row 1077 : 0
NaN values in row 1078 : 0
NaN values in row 1079 : 0
NaN values in row 1080 : 0
NaN values in row 1081 : 0
NaN values in row 1082 : 0
NaN values in row 1083 : 0
NaN values in row 1084 : 0
NaN values in row 1085 : 0
NaN values in row 1086 : 0
NaN values in row 1087 : 0
NaN values in row 1088 : 0
NaN values in row 1089 : 0
NaN values in row 1090 : 0
NaN values in row 1091 : 0
NaN values in row 1092 : 0
NaN values in row 1093 : 0
NaN values in row 1094 : 0
NaN values in row 1095 : 0
NaN values in row 1096 : 0
NaN values in row 1097 : 0
NaN values in row 1098 : 0
NaN values in row 1099 : 1
NaN values in row 1100 : 0
NaN values in row 1101 : 0
NaN values in row 1102 : 0
NaN values in row 1103 : 0
NaN values in row 1104 : 0
NaN values in row 1105 : 0
NaN values in row 1106 : 0
NaN values in row 1107 : 0
NaN values in row 1108 : 0
NaN values in row 1109 : 0
NaN values in row 1110 : 0
NaN values in row 1111 : 0
NaN values in row 1112 : 0
NaN values in row 1113 : 0
NaN values in row 1114 : 0
NaN values in row 1115 : 0
NaN values in row 1116 : 0
NaN values in row 1117 : 0
NaN values in row 1118 : 0
NaN values in row 1119 : 0
NaN values in row 1120 : 0
NaN values in row 1121 : 0
NaN values in row 1122 : 0
NaN values in row 1123 : 0
NaN values in row 1124 : 0
NaN values in row 1125 : 0
NaN values in row 1126 : 0
NaN values in row 1127 : 0
NaN values in row 1128 : 0
NaN values in row 1129 : 0
NaN values in row 1130 : 0
NaN values in row 1131 : 0
NaN values in row 1132 : 0
NaN values in row 1133 : 5
NaN values in row 1134 : 0
NaN values in row 1135 : 0
NaN values in row 1136 : 2
NaN values in row 1137 : 0
NaN values in row 1138 : 0
NaN values in row 1139 : 0
NaN values in row 1140 : 0
NaN values in row 1141 : 0
NaN values in row 1142 : 0
NaN values in row 1143 : 0
NaN values in row 1144 : 0
NaN values in row 1145 : 0
NaN values in row 1146 : 0
NaN values in row 1147 : 0
NaN values in row 1148 : 0
NaN values in row 1149 : 0
NaN values in row 1150 : 0
NaN values in row 1151 : 0
NaN values in row 1152 : 0
NaN values in row 1153 : 0
NaN values in row 1154 : 0
NaN values in row 1155 : 0
NaN values in row 1156 : 0
NaN values in row 1157 : 0
NaN values in row 1158 : 0
NaN values in row 1159 : 0
NaN values in row 1160 : 0
NaN values in row 1161 : 0
NaN values in row 1162 : 0
NaN values in row 1163 : 0
NaN values in row 1164 : 0
NaN values in row 1165 : 0
NaN values in row 1166 : 0
NaN values in row 1167 : 0
NaN values in row 1168 : 0
NaN values in row 1169 : 0
NaN values in row 1170 : 0
NaN values in row 1171 : 0
NaN values in row 1172 : 0
NaN values in row 1173 : 0
NaN values in row 1174 : 0
NaN values in row 1175 : 5
NaN values in row 1176 : 0
NaN values in row 1177 : 0
NaN values in row 1178 : 4
NaN values in row 1179 : 0
NaN values in row 1180 : 0
NaN values in row 1181 : 0
NaN values in row 1182 : 0
NaN values in row 1183 : 0
NaN values in row 1184 : 0
NaN values in row 1185 : 0
NaN values in row 1186 : 0
NaN values in row 1187 : 0
NaN values in row 1188 : 0
NaN values in row 1189 : 0
NaN values in row 1190 : 0
NaN values in row 1191 : 0
NaN values in row 1192 : 0
NaN values in row 1193 : 0
NaN values in row 1194 : 0
NaN values in row 1195 : 0
NaN values in row 1196 : 0
NaN values in row 1197 : 0
NaN values in row 1198 : 0
NaN values in row 1199 : 0
NaN values in row 1200 : 0
NaN values in row 1201 : 0
NaN values in row 1202 : 0
NaN values in row 1203 : 0
NaN values in row 1204 : 0
NaN values in row 1205 : 0
NaN values in row 1206 : 0
NaN values in row 1207 : 0
NaN values in row 1208 : 0
NaN values in row 1209 : 0
NaN values in row 1210 : 0
NaN values in row 1211 : 0
NaN values in row 1212 : 0
NaN values in row 1213 : 0
NaN values in row 1214 : 0
NaN values in row 1215 : 0
NaN values in row 1216 : 0
NaN values in row 1217 : 0
NaN values in row 1218 : 0
NaN values in row 1219 : 0
NaN values in row 1220 : 0
NaN values in row 1221 : 0
NaN values in row 1222 : 0
NaN values in row 1223 : 0
NaN values in row 1224 : 0
NaN values in row 1225 : 0
NaN values in row 1226 : 1
NaN values in row 1227 : 0
NaN values in row 1228 : 0
NaN values in row 1229 : 0
NaN values in row 1230 : 0
NaN values in row 1231 : 0
NaN values in row 1232 : 0
NaN values in row 1233 : 0
NaN values in row 1234 : 0
NaN values in row 1235 : 0
NaN values in row 1236 : 0
NaN values in row 1237 : 0
NaN values in row 1238 : 0
NaN values in row 1239 : 0
NaN values in row 1240 : 0
NaN values in row 1241 : 0
NaN values in row 1242 : 0
NaN values in row 1243 : 0
NaN values in row 1244 : 0
NaN values in row 1245 : 0
NaN values in row 1246 : 0
NaN values in row 1247 : 0
NaN values in row 1248 : 0
NaN values in row 1249 : 0
NaN values in row 1250 : 0
NaN values in row 1251 : 0
NaN values in row 1252 : 0
NaN values in row 1253 : 1
NaN values in row 1254 : 0
NaN values in row 1255 : 0
NaN values in row 1256 : 0
NaN values in row 1257 : 0
NaN values in row 1258 : 0
NaN values in row 1259 : 0
NaN values in row 1260 : 0
NaN values in row 1261 : 0
NaN values in row 1262 : 0
NaN values in row 1263 : 0
NaN values in row 1264 : 0
NaN values in row 1265 : 5
NaN values in row 1266 : 0
NaN values in row 1267 : 0
NaN values in row 1268 : 0
NaN values in row 1269 : 0
NaN values in row 1270 : 0
NaN values in row 1271 : 0
NaN values in row 1272 : 0
NaN values in row 1273 : 0
NaN values in row 1274 : 0
NaN values in row 1275 : 0
NaN values in row 1276 : 0
NaN values in row 1277 : 0
NaN values in row 1278 : 0
NaN values in row 1279 : 0
NaN values in row 1280 : 0
NaN values in row 1281 : 0
NaN values in row 1282 : 0
NaN values in row 1283 : 0
NaN values in row 1284 : 0
NaN values in row 1285 : 0
NaN values in row 1286 : 0
NaN values in row 1287 : 0
NaN values in row 1288 : 0
NaN values in row 1289 : 0
NaN values in row 1290 : 0
NaN values in row 1291 : 0
NaN values in row 1292 : 0
NaN values in row 1293 : 0
NaN values in row 1294 : 0
NaN values in row 1295 : 0
NaN values in row 1296 : 0
NaN values in row 1297 : 0
NaN values in row 1298 : 0
NaN values in row 1299 : 0
NaN values in row 1300 : 0
NaN values in row 1301 : 0
NaN values in row 1302 : 0
NaN values in row 1303 : 0
NaN values in row 1304 : 0
NaN values in row 1305 : 0
NaN values in row 1306 : 0
NaN values in row 1307 : 1
NaN values in row 1308 : 0
NaN values in row 1309 : 0
NaN values in row 1310 : 0
NaN values in row 1311 : 0
NaN values in row 1312 : 0
NaN values in row 1313 : 0
NaN values in row 1314 : 0
NaN values in row 1315 : 0
NaN values in row 1316 : 0
NaN values in row 1317 : 0
NaN values in row 1318 : 0
NaN values in row 1319 : 0
NaN values in row 1320 : 0
NaN values in row 1321 : 0
NaN values in row 1322 : 0
NaN values in row 1323 : 0
NaN values in row 1324 : 0
NaN values in row 1325 : 0
NaN values in row 1326 : 1
NaN values in row 1327 : 1
NaN values in row 1328 : 0
NaN values in row 1329 : 1
NaN values in row 1330 : 0
NaN values in row 1331 : 1
NaN values in row 1332 : 0
NaN values in row 1333 : 0
NaN values in row 1334 : 0
NaN values in row 1335 : 0
NaN values in row 1336 : 0
NaN values in row 1337 : 0
NaN values in row 1338 : 0
NaN values in row 1339 : 0
NaN values in row 1340 : 0
NaN values in row 1341 : 0
NaN values in row 1342 : 0
NaN values in row 1343 : 0
NaN values in row 1344 : 0
NaN values in row 1345 : 0
NaN values in row 1346 : 5
NaN values in row 1347 : 4
NaN values in row 1348 : 0
NaN values in row 1349 : 0
NaN values in row 1350 : 0
NaN values in row 1351 : 0
NaN values in row 1352 : 0
NaN values in row 1353 : 0
NaN values in row 1354 : 0
NaN values in row 1355 : 0
NaN values in row 1356 : 0
NaN values in row 1357 : 0
NaN values in row 1358 : 0
NaN values in row 1359 : 0
NaN values in row 1360 : 0
NaN values in row 1361 : 0
NaN values in row 1362 : 0
NaN values in row 1363 : 0
NaN values in row 1364 : 0
NaN values in row 1365 : 1
NaN values in row 1366 : 0
NaN values in row 1367 : 0
NaN values in row 1368 : 0
NaN values in row 1369 : 0
NaN values in row 1370 : 0
NaN values in row 1371 : 0
NaN values in row 1372 : 0
NaN values in row 1373 : 0
NaN values in row 1374 : 0
NaN values in row 1375 : 0
NaN values in row 1376 : 0
NaN values in row 1377 : 0
NaN values in row 1378 : 0
NaN values in row 1379 : 0
NaN values in row 1380 : 0
NaN values in row 1381 : 0
NaN values in row 1382 : 3
NaN values in row 1383 : 0
NaN values in row 1384 : 0
NaN values in row 1385 : 0
NaN values in row 1386 : 0
NaN values in row 1387 : 0
NaN values in row 1388 : 0
NaN values in row 1389 : 0
NaN values in row 1390 : 0
NaN values in row 1391 : 0
NaN values in row 1392 : 0
NaN values in row 1393 : 0
NaN values in row 1394 : 0
NaN values in row 1395 : 0
NaN values in row 1396 : 0
NaN values in row 1397 : 0
NaN values in row 1398 : 0
NaN values in row 1399 : 0
NaN values in row 1400 : 0
NaN values in row 1401 : 0
NaN values in row 1402 : 0
NaN values in row 1403 : 0
NaN values in row 1404 : 6
NaN values in row 1405 : 0
NaN values in row 1406 : 0
NaN values in row 1407 : 0
NaN values in row 1408 : 0
NaN values in row 1409 : 0
NaN values in row 1410 : 0
NaN values in row 1411 : 0
NaN values in row 1412 : 0
NaN values in row 1413 : 0
NaN values in row 1414 : 0
NaN values in row 1415 : 0
NaN values in row 1416 : 0
NaN values in row 1417 : 0
NaN values in row 1418 : 0
NaN values in row 1419 : 0
NaN values in row 1420 : 0
NaN values in row 1421 : 0
NaN values in row 1422 : 0
NaN values in row 1423 : 0
NaN values in row 1424 : 0
NaN values in row 1425 : 0
NaN values in row 1426 : 0
NaN values in row 1427 : 0
NaN values in row 1428 : 0
NaN values in row 1429 : 0
NaN values in row 1430 : 0
NaN values in row 1431 : 0
NaN values in row 1432 : 0
NaN values in row 1433 : 0
NaN values in row 1434 : 0
NaN values in row 1435 : 0
NaN values in row 1436 : 0
NaN values in row 1437 : 0
NaN values in row 1438 : 0
NaN values in row 1439 : 0
NaN values in row 1440 : 0
NaN values in row 1441 : 0
NaN values in row 1442 : 0
NaN values in row 1443 : 0
NaN values in row 1444 : 7
NaN values in row 1445 : 0
NaN values in row 1446 : 2
NaN values in row 1447 : 0
NaN values in row 1448 : 0
NaN values in row 1449 : 0
NaN values in row 1450 : 0
NaN values in row 1451 : 0
NaN values in row 1452 : 0
NaN values in row 1453 : 0
NaN values in row 1454 : 0
NaN values in row 1455 : 0
NaN values in row 1456 : 0
NaN values in row 1457 : 0
NaN values in row 1458 : 0
NaN values in row 1459 : 1
NaN values in row 1460 : 0
NaN values in row 1461 : 0
NaN values in row 1462 : 0
NaN values in row 1463 : 1
NaN values in row 1464 : 0
NaN values in row 1465 : 0
NaN values in row 1466 : 0
NaN values in row 1467 : 0
NaN values in row 1468 : 0
NaN values in row 1469 : 0
NaN values in row 1470 : 0
NaN values in row 1471 : 0
NaN values in row 1472 : 0
NaN values in row 1473 : 0
NaN values in row 1474 : 0
NaN values in row 1475 : 0
NaN values in row 1476 : 0
NaN values in row 1477 : 0
NaN values in row 1478 : 0
NaN values in row 1479 : 0

NaN values in row 1480 : 0
NaN values in row 1481 : 1
NaN values in row 1482 : 1
NaN values in row 1483 : 0
NaN values in row 1484 : 0
NaN values in row 1485 : 0
NaN values in row 1486 : 0
NaN values in row 1487 : 0
NaN values in row 1488 : 0
NaN values in row 1489 : 0
NaN values in row 1490 : 0
NaN values in row 1491 : 0
NaN values in row 1492 : 0
NaN values in row 1493 : 0
NaN values in row 1494 : 0
NaN values in row 1495 : 0
NaN values in row 1496 : 0
NaN values in row 1497 : 0
NaN values in row 1498 : 0
NaN values in row 1499 : 5
NaN values in row 1500 : 0
NaN values in row 1501 : 0
NaN values in row 1502 : 0
NaN values in row 1503 : 0
NaN values in row 1504 : 1
NaN values in row 1505 : 1
NaN values in row 1506 : 0
NaN values in row 1507 : 1
NaN values in row 1508 : 3
NaN values in row 1509 : 1
NaN values in row 1510 : 6
NaN values in row 1511 : 0
NaN values in row 1512 : 0
NaN values in row 1513 : 0
NaN values in row 1514 : 0
NaN values in row 1515 : 0
NaN values in row 1516 : 0
NaN values in row 1517 : 0
NaN values in row 1518 : 0
NaN values in row 1519 : 0
NaN values in row 1520 : 0
NaN values in row 1521 : 0
NaN values in row 1522 : 0
NaN values in row 1523 : 1
NaN values in row 1524 : 0
NaN values in row 1525 : 0
NaN values in row 1526 : 0
NaN values in row 1527 : 2
NaN values in row 1528 : 0
NaN values in row 1529 : 0
NaN values in row 1530 : 0
NaN values in row 1531 : 0
NaN values in row 1532 : 0
NaN values in row 1533 : 0
NaN values in row 1534 : 0
NaN values in row 1535 : 0
NaN values in row 1536 : 0
NaN values in row 1537 : 0
NaN values in row 1538 : 0
NaN values in row 1539 : 1
NaN values in row 1540 : 0
NaN values in row 1541 : 0
NaN values in row 1542 : 0
NaN values in row 1543 : 0
NaN values in row 1544 : 0
NaN values in row 1545 : 0
NaN values in row 1546 : 0
NaN values in row 1547 : 0
NaN values in row 1548 : 0
NaN values in row 1549 : 0
NaN values in row 1550 : 0
NaN values in row 1551 : 0
NaN values in row 1552 : 0
NaN values in row 1553 : 0
NaN values in row 1554 : 0
NaN values in row 1555 : 0
NaN values in row 1556 : 1
NaN values in row 1557 : 0
NaN values in row 1558 : 0
NaN values in row 1559 : 0
NaN values in row 1560 : 0
NaN values in row 1561 : 0
NaN values in row 1562 : 0
NaN values in row 1563 : 0
NaN values in row 1564 : 0
NaN values in row 1565 : 0
NaN values in row 1566 : 0
NaN values in row 1567 : 0
NaN values in row 1568 : 0
NaN values in row 1569 : 0
NaN values in row 1570 : 1
NaN values in row 1571 : 0
NaN values in row 1572 : 0
NaN values in row 1573 : 0
NaN values in row 1574 : 0
NaN values in row 1575 : 0
NaN values in row 1576 : 0
NaN values in row 1577 : 0
NaN values in row 1578 : 0
NaN values in row 1579 : 0
NaN values in row 1580 : 0
NaN values in row 1581 : 0
NaN values in row 1582 : 0
NaN values in row 1583 : 0
NaN values in row 1584 : 0
NaN values in row 1585 : 0
NaN values in row 1586 : 0
NaN values in row 1587 : 0
NaN values in row 1588 : 0
NaN values in row 1589 : 0
NaN values in row 1590 : 0
NaN values in row 1591 : 0
NaN values in row 1592 : 0
NaN values in row 1593 : 0
NaN values in row 1594 : 0
NaN values in row 1595 : 0
NaN values in row 1596 : 0
NaN values in row 1597 : 0
NaN values in row 1598 : 0
NaN values in row 1599 : 0
NaN values in row 1600 : 0
NaN values in row 1601 : 0
NaN values in row 1602 : 0
NaN values in row 1603 : 0
NaN values in row 1604 : 0
NaN values in row 1605 : 0
NaN values in row 1606 : 0
NaN values in row 1607 : 0
NaN values in row 1608 : 0
NaN values in row 1609 : 0
NaN values in row 1610 : 0
NaN values in row 1611 : 0
NaN values in row 1612 : 0
NaN values in row 1613 : 0
NaN values in row 1614 : 0
NaN values in row 1615 : 0
NaN values in row 1616 : 0
NaN values in row 1617 : 0
NaN values in row 1618 : 0
NaN values in row 1619 : 0
NaN values in row 1620 : 5
NaN values in row 1621 : 0
NaN values in row 1622 : 0
NaN values in row 1623 : 0
NaN values in row 1624 : 0
NaN values in row 1625 : 0
NaN values in row 1626 : 0
NaN values in row 1627 : 0
NaN values in row 1628 : 0
NaN values in row 1629 : 0
NaN values in row 1630 : 0
NaN values in row 1631 : 0
NaN values in row 1632 : 0
NaN values in row 1633 : 0
NaN values in row 1634 : 0
NaN values in row 1635 : 0
NaN values in row 1636 : 0
NaN values in row 1637 : 1
NaN values in row 1638 : 0
NaN values in row 1639 : 0
NaN values in row 1640 : 0
NaN values in row 1641 : 1
NaN values in row 1642 : 0
NaN values in row 1643 : 1
NaN values in row 1644 : 0
NaN values in row 1645 : 0
NaN values in row 1646 : 0
NaN values in row 1647 : 0
NaN values in row 1648 : 0
NaN values in row 1649 : 0
NaN values in row 1650 : 0
NaN values in row 1651 : 0
NaN values in row 1652 : 0
NaN values in row 1653 : 0
NaN values in row 1654 : 0
NaN values in row 1655 : 0
NaN values in row 1656 : 0
NaN values in row 1657 : 0
NaN values in row 1658 : 0
NaN values in row 1659 : 5
NaN values in row 1660 : 0
NaN values in row 1661 : 0
NaN values in row 1662 : 0
NaN values in row 1663 : 0
NaN values in row 1664 : 5
NaN values in row 1665 : 0
NaN values in row 1666 : 0
NaN values in row 1667 : 0
NaN values in row 1668 : 0
NaN values in row 1669 : 1
NaN values in row 1670 : 0
NaN values in row 1671 : 0
NaN values in row 1672 : 0
NaN values in row 1673 : 0
NaN values in row 1674 : 0
NaN values in row 1675 : 0
NaN values in row 1676 : 0
NaN values in row 1677 : 0
NaN values in row 1678 : 0
NaN values in row 1679 : 0
NaN values in row 1680 : 0
NaN values in row 1681 : 0
NaN values in row 1682 : 0
NaN values in row 1683 : 0
NaN values in row 1684 : 0
NaN values in row 1685 : 0
NaN values in row 1686 : 0
NaN values in row 1687 : 0
NaN values in row 1688 : 0
NaN values in row 1689 : 0
NaN values in row 1690 : 0
NaN values in row 1691 : 0
NaN values in row 1692 : 0
NaN values in row 1693 : 0
NaN values in row 1694 : 0
NaN values in row 1695 : 0
NaN values in row 1696 : 0
NaN values in row 1697 : 0
NaN values in row 1698 : 0
NaN values in row 1699 : 0
NaN values in row 1700 : 0
NaN values in row 1701 : 0
NaN values in row 1702 : 0
NaN values in row 1703 : 0
NaN values in row 1704 : 0
NaN values in row 1705 : 0
NaN values in row 1706 : 0
NaN values in row 1707 : 0
NaN values in row 1708 : 0
NaN values in row 1709 : 1
NaN values in row 1710 : 6
NaN values in row 1711 : 0
NaN values in row 1712 : 0
NaN values in row 1713 : 0
NaN values in row 1714 : 0
NaN values in row 1715 : 0
NaN values in row 1716 : 0
NaN values in row 1717 : 0
NaN values in row 1718 : 1
NaN values in row 1719 : 0
NaN values in row 1720 : 0
NaN values in row 1721 : 0
NaN values in row 1722 : 0
NaN values in row 1723 : 0
NaN values in row 1724 : 3
NaN values in row 1725 : 1
NaN values in row 1726 : 0
NaN values in row 1727 : 2
NaN values in row 1728 : 1
NaN values in row 1729 : 1
NaN values in row 1730 : 2
NaN values in row 1731 : 3
NaN values in row 1732 : 1
NaN values in row 1733 : 1
NaN values in row 1734 : 0
NaN values in row 1735 : 0
NaN values in row 1736 : 5
NaN values in row 1737 : 0
NaN values in row 1738 : 0
NaN values in row 1739 : 0
NaN values in row 1740 : 1
NaN values in row 1741 : 0
NaN values in row 1742 : 0
NaN values in row 1743 : 0
NaN values in row 1744 : 0
NaN values in row 1745 : 0
NaN values in row 1746 : 0
NaN values in row 1747 : 0
NaN values in row 1748 : 0
NaN values in row 1749 : 0
NaN values in row 1750 : 0
NaN values in row 1751 : 0
NaN values in row 1752 : 1
NaN values in row 1753 : 0
NaN values in row 1754 : 0
NaN values in row 1755 : 0
NaN values in row 1756 : 0
NaN values in row 1757 : 0
NaN values in row 1758 : 0
NaN values in row 1759 : 0
NaN values in row 1760 : 0
NaN values in row 1761 : 1
NaN values in row 1762 : 0
NaN values in row 1763 : 0
NaN values in row 1764 : 0
NaN values in row 1765 : 0
NaN values in row 1766 : 0
NaN values in row 1767 : 0
NaN values in row 1768 : 0
NaN values in row 1769 : 0
NaN values in row 1770 : 0
NaN values in row 1771 : 0
NaN values in row 1772 : 0
NaN values in row 1773 : 0
NaN values in row 1774 : 0
NaN values in row 1775 : 0
NaN values in row 1776 : 0
NaN values in row 1777 : 0
NaN values in row 1778 : 0
NaN values in row 1779 : 0
NaN values in row 1780 : 0
NaN values in row 1781 : 0
NaN values in row 1782 : 2
NaN values in row 1783 : 0
NaN values in row 1784 : 0
NaN values in row 1785 : 0
NaN values in row 1786 : 0
NaN values in row 1787 : 0
NaN values in row 1788 : 0
NaN values in row 1789 : 0
NaN values in row 1790 : 0
NaN values in row 1791 : 0
NaN values in row 1792 : 0
NaN values in row 1793 : 2
NaN values in row 1794 : 0
NaN values in row 1795 : 0
NaN values in row 1796 : 0
NaN values in row 1797 : 0
NaN values in row 1798 : 0
NaN values in row 1799 : 0
NaN values in row 1800 : 0
NaN values in row 1801 : 0
NaN values in row 1802 : 5
NaN values in row 1803 : 0
NaN values in row 1804 : 0
NaN values in row 1805 : 0
NaN values in row 1806 : 0
NaN values in row 1807 : 0
NaN values in row 1808 : 1
NaN values in row 1809 : 0
NaN values in row 1810 : 0
NaN values in row 1811 : 0
NaN values in row 1812 : 0
NaN values in row 1813 : 0
NaN values in row 1814 : 0
NaN values in row 1815 : 1
NaN values in row 1816 : 0
NaN values in row 1817 : 0
NaN values in row 1818 : 6
NaN values in row 1819 : 1
NaN values in row 1820 : 0
NaN values in row 1821 : 0
NaN values in row 1822 : 0
NaN values in row 1823 : 0
NaN values in row 1824 : 0
NaN values in row 1825 : 0
NaN values in row 1826 : 0
NaN values in row 1827 : 0
NaN values in row 1828 : 0
NaN values in row 1829 : 0
NaN values in row 1830 : 0
NaN values in row 1831 : 2
NaN values in row 1832 : 0
NaN values in row 1833 : 0
NaN values in row 1834 : 0
NaN values in row 1835 : 0
NaN values in row 1836 : 0
NaN values in row 1837 : 0
NaN values in row 1838 : 0
NaN values in row 1839 : 0
NaN values in row 1840 : 0
NaN values in row 1841 : 0
NaN values in row 1842 : 5
NaN values in row 1843 : 0
NaN values in row 1844 : 0
NaN values in row 1845 : 0
NaN values in row 1846 : 0
NaN values in row 1847 : 0
NaN values in row 1848 : 0
NaN values in row 1849 : 0
NaN values in row 1850 : 0
NaN values in row 1851 : 0
NaN values in row 1852 : 0
NaN values in row 1853 : 0
NaN values in row 1854 : 0
NaN values in row 1855 : 0
NaN values in row 1856 : 0
NaN values in row 1857 : 0
NaN values in row 1858 : 0
NaN values in row 1859 : 0
NaN values in row 1860 : 1
NaN values in row 1861 : 0
NaN values in row 1862 : 1
NaN values in row 1863 : 0
NaN values in row 1864 : 0
NaN values in row 1865 : 0
NaN values in row 1866 : 0
NaN values in row 1867 : 0
NaN values in row 1868 : 0
NaN values in row 1869 : 0
NaN values in row 1870 : 0
NaN values in row 1871 : 0
NaN values in row 1872 : 0
NaN values in row 1873 : 0
NaN values in row 1874 : 0
NaN values in row 1875 : 0
NaN values in row 1876 : 0
NaN values in row 1877 : 0
NaN values in row 1878 : 2
NaN values in row 1879 : 0
NaN values in row 1880 : 3
NaN values in row 1881 : 0
NaN values in row 1882 : 0
NaN values in row 1883 : 0
NaN values in row 1884 : 0
NaN values in row 1885 : 0
NaN values in row 1886 : 0
NaN values in row 1887 : 0
NaN values in row 1888 : 0
NaN values in row 1889 : 0
NaN values in row 1890 : 0
NaN values in row 1891 : 0
NaN values in row 1892 : 0
NaN values in row 1893 : 0
NaN values in row 1894 : 1
NaN values in row 1895 : 0
NaN values in row 1896 : 0
NaN values in row 1897 : 0
NaN values in row 1898 : 0
NaN values in row 1899 : 0
NaN values in row 1900 : 0
NaN values in row 1901 : 0
NaN values in row 1902 : 0
NaN values in row 1903 : 0
NaN values in row 1904 : 0
NaN values in row 1905 : 0
NaN values in row 1906 : 0
NaN values in row 1907 : 0
NaN values in row 1908 : 0
NaN values in row 1909 : 0
NaN values in row 1910 : 0
NaN values in row 1911 : 0
NaN values in row 1912 : 0
NaN values in row 1913 : 0
NaN values in row 1914 : 0
NaN values in row 1915 : 0
NaN values in row 1916 : 0
NaN values in row 1917 : 0
NaN values in row 1918 : 1
NaN values in row 1919 : 0
NaN values in row 1920 : 0
NaN values in row 1921 : 0
NaN values in row 1922 : 0
NaN values in row 1923 : 0
NaN values in row 1924 : 0
NaN values in row 1925 : 0
NaN values in row 1926 : 0
NaN values in row 1927 : 0
NaN values in row 1928 : 0
NaN values in row 1929 : 0
NaN values in row 1930 : 0
NaN values in row 1931 : 0
NaN values in row 1932 : 0
NaN values in row 1933 : 0
NaN values in row 1934 : 0
NaN values in row 1935 : 1
NaN values in row 1936 : 0
NaN values in row 1937 : 0
NaN values in row 1938 : 0
NaN values in row 1939 : 0
NaN values in row 1940 : 0
NaN values in row 1941 : 0
NaN values in row 1942 : 1
NaN values in row 1943 : 0
NaN values in row 1944 : 0
NaN values in row 1945 : 0
NaN values in row 1946 : 0
NaN values in row 1947 : 6
NaN values in row 1948 : 2
NaN values in row 1949 : 0
NaN values in row 1950 : 0
NaN values in row 1951 : 0
NaN values in row 1952 : 0
NaN values in row 1953 : 0
NaN values in row 1954 : 0
NaN values in row 1955 : 0
NaN values in row 1956 : 0
NaN values in row 1957 : 0
NaN values in row 1958 : 1
NaN values in row 1959 : 0
NaN values in row 1960 : 0
NaN values in row 1961 : 0
NaN values in row 1962 : 0
NaN values in row 1963 : 0
NaN values in row 1964 : 0
NaN values in row 1965 : 0
NaN values in row 1966 : 0
NaN values in row 1967 : 1
NaN values in row 1968 : 0
NaN values in row 1969 : 0
NaN values in row 1970 : 0
NaN values in row 1971 : 1
NaN values in row 1972 : 5
NaN values in row 1973 : 0
NaN values in row 1974 : 0
NaN values in row 1975 : 0
NaN values in row 1976 : 0
NaN values in row 1977 : 2
NaN values in row 1978 : 0
NaN values in row 1979 : 0

NaN values in row 1980 : 0
NaN values in row 1981 : 0
NaN values in row 1982 : 0
NaN values in row 1983 : 0
NaN values in row 1984 : 0
NaN values in row 1985 : 0
NaN values in row 1986 : 0
NaN values in row 1987 : 0
NaN values in row 1988 : 0
NaN values in row 1989 : 0
NaN values in row 1990 : 1
NaN values in row 1991 : 0
NaN values in row 1992 : 0
NaN values in row 1993 : 0
NaN values in row 1994 : 0
NaN values in row 1995 : 0
NaN values in row 1996 : 0
NaN values in row 1997 : 0
NaN values in row 1998 : 0
NaN values in row 1999 : 1
NaN values in row 2000 : 0
NaN values in row 2001 : 2
NaN values in row 2002 : 0
NaN values in row 2003 : 0
NaN values in row 2004 : 0
NaN values in row 2005 : 0
NaN values in row 2006 : 2
NaN values in row 2007 : 0
NaN values in row 2008 : 0
NaN values in row 2009 : 2
NaN values in row 2010 : 2
NaN values in row 2011 : 0
NaN values in row 2012 : 1
NaN values in row 2013 : 1
NaN values in row 2014 : 1
NaN values in row 2015 : 3
NaN values in row 2016 : 0
NaN values in row 2017 : 0
NaN values in row 2018 : 0
NaN values in row 2019 : 0
NaN values in row 2020 : 0
NaN values in row 2021 : 0
NaN values in row 2022 : 0
NaN values in row 2023 : 0
NaN values in row 2024 : 0
NaN values in row 2025 : 0
NaN values in row 2026 : 0
NaN values in row 2027 : 0
NaN values in row 2028 : 0
NaN values in row 2029 : 0
NaN values in row 2030 : 0
NaN values in row 2031 : 0
NaN values in row 2032 : 0
NaN values in row 2033 : 0
NaN values in row 2034 : 0
NaN values in row 2035 : 0
NaN values in row 2036 : 0
NaN values in row 2037 : 0
NaN values in row 2038 : 0
NaN values in row 2039 : 0
NaN values in row 2040 : 0
NaN values in row 2041 : 0
NaN values in row 2042 : 0
NaN values in row 2043 : 1
NaN values in row 2044 : 0
NaN values in row 2045 : 0
NaN values in row 2046 : 0
NaN values in row 2047 : 0
NaN values in row 2048 : 0
NaN values in row 2049 : 0
NaN values in row 2050 : 0
NaN values in row 2051 : 0
NaN values in row 2052 : 0
NaN values in row 2053 : 0
NaN values in row 2054 : 0
NaN values in row 2055 : 0
NaN values in row 2056 : 0
NaN values in row 2057 : 0
NaN values in row 2058 : 0
NaN values in row 2059 : 0
NaN values in row 2060 : 0
NaN values in row 2061 : 0
NaN values in row 2062 : 0
NaN values in row 2063 : 0
NaN values in row 2064 : 0
NaN values in row 2065 : 0
NaN values in row 2066 : 0
NaN values in row 2067 : 0
NaN values in row 2068 : 0
NaN values in row 2069 : 0
NaN values in row 2070 : 0
NaN values in row 2071 : 1
NaN values in row 2072 : 0
NaN values in row 2073 : 2
NaN values in row 2074 : 0
NaN values in row 2075 : 7
NaN values in row 2076 : 0
NaN values in row 2077 : 2
NaN values in row 2078 : 0
NaN values in row 2079 : 0
NaN values in row 2080 : 0
NaN values in row 2081 : 0
NaN values in row 2082 : 0
NaN values in row 2083 : 0
NaN values in row 2084 : 0
NaN values in row 2085 : 0
NaN values in row 2086 : 0
NaN values in row 2087 : 0
NaN values in row 2088 : 1
NaN values in row 2089 : 0
NaN values in row 2090 : 0
NaN values in row 2091 : 0
NaN values in row 2092 : 0
NaN values in row 2093 : 0
NaN values in row 2094 : 0
NaN values in row 2095 : 0
NaN values in row 2096 : 0
NaN values in row 2097 : 0
NaN values in row 2098 : 0
NaN values in row 2099 : 0
NaN values in row 2100 : 1
NaN values in row 2101 : 0
NaN values in row 2102 : 0
NaN values in row 2103 : 0
NaN values in row 2104 : 0
NaN values in row 2105 : 0
NaN values in row 2106 : 0
NaN values in row 2107 : 0
NaN values in row 2108 : 0
NaN values in row 2109 : 0
NaN values in row 2110 : 0
NaN values in row 2111 : 0
NaN values in row 2112 : 0
NaN values in row 2113 : 0
NaN values in row 2114 : 0
NaN values in row 2115 : 0
NaN values in row 2116 : 0
NaN values in row 2117 : 1
NaN values in row 2118 : 0
NaN values in row 2119 : 0
NaN values in row 2120 : 0
NaN values in row 2121 : 0
NaN values in row 2122 : 0
NaN values in row 2123 : 1
NaN values in row 2124 : 0
NaN values in row 2125 : 0
NaN values in row 2126 : 0
NaN values in row 2127 : 0
NaN values in row 2128 : 0
NaN values in row 2129 : 0
NaN values in row 2130 : 1
NaN values in row 2131 : 0
NaN values in row 2132 : 0
NaN values in row 2133 : 0
NaN values in row 2134 : 0
NaN values in row 2135 : 0
NaN values in row 2136 : 0
NaN values in row 2137 : 0
NaN values in row 2138 : 0
NaN values in row 2139 : 1
NaN values in row 2140 : 0
NaN values in row 2141 : 0
NaN values in row 2142 : 0
NaN values in row 2143 : 10
NaN values in row 2144 : 0
NaN values in row 2145 : 0
NaN values in row 2146 : 0
NaN values in row 2147 : 0
NaN values in row 2148 : 0
NaN values in row 2149 : 0
NaN values in row 2150 : 0
NaN values in row 2151 : 0
NaN values in row 2152 : 0
NaN values in row 2153 : 0
NaN values in row 2154 : 0
NaN values in row 2155 : 0
NaN values in row 2156 : 0
NaN values in row 2157 : 0
NaN values in row 2158 : 0
NaN values in row 2159 : 0
NaN values in row 2160 : 0
NaN values in row 2161 : 0
NaN values in row 2162 : 0
NaN values in row 2163 : 0
NaN values in row 2164 : 0
NaN values in row 2165 : 0
NaN values in row 2166 : 0
NaN values in row 2167 : 0
NaN values in row 2168 : 0
NaN values in row 2169 : 0
NaN values in row 2170 : 0
NaN values in row 2171 : 0
NaN values in row 2172 : 0
NaN values in row 2173 : 0
NaN values in row 2174 : 0
NaN values in row 2175 : 0
NaN values in row 2176 : 0
NaN values in row 2177 : 0
NaN values in row 2178 : 0
NaN values in row 2179 : 0
NaN values in row 2180 : 1
NaN values in row 2181 : 1
NaN values in row 2182 : 0
NaN values in row 2183 : 0
NaN values in row 2184 : 0
NaN values in row 2185 : 0
NaN values in row 2186 : 0
NaN values in row 2187 : 0
NaN values in row 2188 : 0
NaN values in row 2189 : 1
NaN values in row 2190 : 0
NaN values in row 2191 : 6
NaN values in row 2192 : 0
NaN values in row 2193 : 0
NaN values in row 2194 : 0
NaN values in row 2195 : 0
NaN values in row 2196 : 0
NaN values in row 2197 : 0
NaN values in row 2198 : 0
NaN values in row 2199 : 0
NaN values in row 2200 : 1
NaN values in row 2201 : 0
NaN values in row 2202 : 0
NaN values in row 2203 : 0
NaN values in row 2204 : 0
NaN values in row 2205 : 0
NaN values in row 2206 : 0
NaN values in row 2207 : 0
NaN values in row 2208 : 0
NaN values in row 2209 : 0
NaN values in row 2210 : 0
NaN values in row 2211 : 1
NaN values in row 2212 : 0
NaN values in row 2213 : 0
NaN values in row 2214 : 0
NaN values in row 2215 : 0
NaN values in row 2216 : 0
NaN values in row 2217 : 1
NaN values in row 2218 : 0
NaN values in row 2219 : 0
NaN values in row 2220 : 0
NaN values in row 2221 : 0
NaN values in row 2222 : 0
NaN values in row 2223 : 0
NaN values in row 2224 : 0
NaN values in row 2225 : 0
NaN values in row 2226 : 0
NaN values in row 2227 : 0
NaN values in row 2228 : 0
NaN values in row 2229 : 0
NaN values in row 2230 : 0
NaN values in row 2231 : 0
NaN values in row 2232 : 0
NaN values in row 2233 : 0
NaN values in row 2234 : 0
NaN values in row 2235 : 1
NaN values in row 2236 : 0
NaN values in row 2237 : 0
NaN values in row 2238 : 1
NaN values in row 2239 : 1
NaN values in row 2240 : 0
NaN values in row 2241 : 11
NaN values in row 2242 : 0
NaN values in row 2243 : 0
NaN values in row 2244 : 0
NaN values in row 2245 : 0
NaN values in row 2246 : 0
NaN values in row 2247 : 1
NaN values in row 2248 : 0
NaN values in row 2249 : 0
NaN values in row 2250 : 0
NaN values in row 2251 : 0
NaN values in row 2252 : 0
NaN values in row 2253 : 0
NaN values in row 2254 : 0
NaN values in row 2255 : 0
NaN values in row 2256 : 0
NaN values in row 2257 : 7
NaN values in row 2258 : 0
NaN values in row 2259 : 0
NaN values in row 2260 : 0
NaN values in row 2261 : 0
NaN values in row 2262 : 0
NaN values in row 2263 : 0
NaN values in row 2264 : 0
NaN values in row 2265 : 1
NaN values in row 2266 : 0
NaN values in row 2267 : 1
NaN values in row 2268 : 0
NaN values in row 2269 : 0
NaN values in row 2270 : 0
NaN values in row 2271 : 0
NaN values in row 2272 : 0
NaN values in row 2273 : 0
NaN values in row 2274 : 0
NaN values in row 2275 : 0
NaN values in row 2276 : 0
NaN values in row 2277 : 0
NaN values in row 2278 : 0
NaN values in row 2279 : 0
NaN values in row 2280 : 0
NaN values in row 2281 : 0
NaN values in row 2282 : 0
NaN values in row 2283 : 0
NaN values in row 2284 : 0
NaN values in row 2285 : 0
NaN values in row 2286 : 0
NaN values in row 2287 : 0
NaN values in row 2288 : 0
NaN values in row 2289 : 0
NaN values in row 2290 : 0
NaN values in row 2291 : 0
NaN values in row 2292 : 0
NaN values in row 2293 : 0
NaN values in row 2294 : 0
NaN values in row 2295 : 0
NaN values in row 2296 : 0
NaN values in row 2297 : 0
NaN values in row 2298 : 0
NaN values in row 2299 : 1
NaN values in row 2300 : 0
NaN values in row 2301 : 0
NaN values in row 2302 : 0
NaN values in row 2303 : 6
NaN values in row 2304 : 0
NaN values in row 2305 : 0
NaN values in row 2306 : 0
NaN values in row 2307 : 0
NaN values in row 2308 : 0
NaN values in row 2309 : 1
NaN values in row 2310 : 0
NaN values in row 2311 : 0
NaN values in row 2312 : 0
NaN values in row 2313 : 0
NaN values in row 2314 : 0
NaN values in row 2315 : 0
NaN values in row 2316 : 0
NaN values in row 2317 : 1
NaN values in row 2318 : 0
NaN values in row 2319 : 0
NaN values in row 2320 : 0
NaN values in row 2321 : 0
NaN values in row 2322 : 0
NaN values in row 2323 : 0
NaN values in row 2324 : 0
NaN values in row 2325 : 0
NaN values in row 2326 : 0
NaN values in row 2327 : 0
NaN values in row 2328 : 0
NaN values in row 2329 : 0
NaN values in row 2330 : 0
NaN values in row 2331 : 0
NaN values in row 2332 : 1
NaN values in row 2333 : 0
NaN values in row 2334 : 0
NaN values in row 2335 : 0
NaN values in row 2336 : 1
NaN values in row 2337 : 0
NaN values in row 2338 : 1
NaN values in row 2339 : 1
NaN values in row 2340 : 0
NaN values in row 2341 : 0
NaN values in row 2342 : 10
NaN values in row 2343 : 0
NaN values in row 2344 : 1
NaN values in row 2345 : 4
NaN values in row 2346 : 1
NaN values in row 2347 : 1
NaN values in row 2348 : 1
NaN values in row 2349 : 3
NaN values in row 2350 : 2
NaN values in row 2351 : 3
NaN values in row 2352 : 1
NaN values in row 2353 : 1
NaN values in row 2354 : 0
NaN values in row 2355 : 0
NaN values in row 2356 : 0
NaN values in row 2357 : 0
NaN values in row 2358 : 0
NaN values in row 2359 : 0
NaN values in row 2360 : 0
NaN values in row 2361 : 0
NaN values in row 2362 : 1
NaN values in row 2363 : 0
NaN values in row 2364 : 0
NaN values in row 2365 : 0
NaN values in row 2366 : 4
NaN values in row 2367 : 0
NaN values in row 2368 : 0
NaN values in row 2369 : 0
NaN values in row 2370 : 8
NaN values in row 2371 : 0
NaN values in row 2372 : 0
NaN values in row 2373 : 0
NaN values in row 2374 : 3
NaN values in row 2375 : 0
NaN values in row 2376 : 0
NaN values in row 2377 : 0
NaN values in row 2378 : 0
NaN values in row 2379 : 1
NaN values in row 2380 : 0
NaN values in row 2381 : 1
NaN values in row 2382 : 0
NaN values in row 2383 : 0
NaN values in row 2384 : 1
NaN values in row 2385 : 0
NaN values in row 2386 : 0
NaN values in row 2387 : 0
NaN values in row 2388 : 3
NaN values in row 2389 : 0
NaN values in row 2390 : 0
NaN values in row 2391 : 0
NaN values in row 2392 : 0
NaN values in row 2393 : 0
NaN values in row 2394 : 0
NaN values in row 2395 : 0
NaN values in row 2396 : 0
NaN values in row 2397 : 0
NaN values in row 2398 : 0
NaN values in row 2399 : 0
NaN values in row 2400 : 0
NaN values in row 2401 : 0
NaN values in row 2402 : 0
NaN values in row 2403 : 0
NaN values in row 2404 : 0
NaN values in row 2405 : 0
NaN values in row 2406 : 0
NaN values in row 2407 : 0
NaN values in row 2408 : 0
NaN values in row 2409 : 0
NaN values in row 2410 : 0
NaN values in row 2411 : 0
NaN values in row 2412 : 5
NaN values in row 2413 : 0
NaN values in row 2414 : 0
NaN values in row 2415 : 0
NaN values in row 2416 : 0
NaN values in row 2417 : 0
NaN values in row 2418 : 0
NaN values in row 2419 : 0
NaN values in row 2420 : 0
NaN values in row 2421 : 0
NaN values in row 2422 : 1
NaN values in row 2423 : 0
NaN values in row 2424 : 0
NaN values in row 2425 : 0
NaN values in row 2426 : 0
NaN values in row 2427 : 0
NaN values in row 2428 : 0
NaN values in row 2429 : 0
NaN values in row 2430 : 0
NaN values in row 2431 : 0
NaN values in row 2432 : 0
NaN values in row 2433 : 0
NaN values in row 2434 : 0
NaN values in row 2435 : 0
NaN values in row 2436 : 0
NaN values in row 2437 : 0
NaN values in row 2438 : 0
NaN values in row 2439 : 0
NaN values in row 2440 : 1
NaN values in row 2441 : 0
NaN values in row 2442 : 0
NaN values in row 2443 : 0
NaN values in row 2444 : 0
NaN values in row 2445 : 0
NaN values in row 2446 : 0
NaN values in row 2447 : 0
NaN values in row 2448 : 0
NaN values in row 2449 : 0
NaN values in row 2450 : 0
NaN values in row 2451 : 0
NaN values in row 2452 : 0
NaN values in row 2453 : 0
NaN values in row 2454 : 0
NaN values in row 2455 : 1
NaN values in row 2456 : 0
NaN values in row 2457 : 0
NaN values in row 2458 : 0
NaN values in row 2459 : 9
NaN values in row 2460 : 0
NaN values in row 2461 : 5
NaN values in row 2462 : 0
NaN values in row 2463 : 0
NaN values in row 2464 : 1
NaN values in row 2465 : 1
NaN values in row 2466 : 4
NaN values in row 2467 : 1
NaN values in row 2468 : 0
NaN values in row 2469 : 1
NaN values in row 2470 : 2
NaN values in row 2471 : 0
NaN values in row 2472 : 2
NaN values in row 2473 : 1
NaN values in row 2474 : 1
NaN values in row 2475 : 0
NaN values in row 2476 : 1
NaN values in row 2477 : 1
NaN values in row 2478 : 0

NaN values in row 2479 : 0
NaN values in row 2480 : 0
NaN values in row 2481 : 0
NaN values in row 2482 : 0
NaN values in row 2483 : 1
NaN values in row 2484 : 0
NaN values in row 2485 : 0
NaN values in row 2486 : 0
NaN values in row 2487 : 0
NaN values in row 2488 : 0
NaN values in row 2489 : 0
NaN values in row 2490 : 0
NaN values in row 2491 : 0
NaN values in row 2492 : 0
NaN values in row 2493 : 0
NaN values in row 2494 : 0
NaN values in row 2495 : 0
NaN values in row 2496 : 0
NaN values in row 2497 : 0
NaN values in row 2498 : 0
NaN values in row 2499 : 0
NaN values in row 2500 : 0
NaN values in row 2501 : 0
NaN values in row 2502 : 0
NaN values in row 2503 : 0
NaN values in row 2504 : 0
NaN values in row 2505 : 1
NaN values in row 2506 : 1
NaN values in row 2507 : 0
NaN values in row 2508 : 0
NaN values in row 2509 : 0
NaN values in row 2510 : 0
NaN values in row 2511 : 0
NaN values in row 2512 : 0
NaN values in row 2513 : 0
NaN values in row 2514 : 1
NaN values in row 2515 : 0
NaN values in row 2516 : 0
NaN values in row 2517 : 0
NaN values in row 2518 : 0
NaN values in row 2519 : 1
NaN values in row 2520 : 0
NaN values in row 2521 : 1
NaN values in row 2522 : 0
NaN values in row 2523 : 0
NaN values in row 2524 : 0
NaN values in row 2525 : 0
NaN values in row 2526 : 1
NaN values in row 2527 : 0
NaN values in row 2528 : 2
NaN values in row 2529 : 1
NaN values in row 2530 : 0
NaN values in row 2531 : 0
NaN values in row 2532 : 0
NaN values in row 2533 : 0
NaN values in row 2534 : 0
NaN values in row 2535 : 0
NaN values in row 2536 : 0
NaN values in row 2537 : 0
NaN values in row 2538 : 0
NaN values in row 2539 : 0
NaN values in row 2540 : 0
NaN values in row 2541 : 0
NaN values in row 2542 : 0
NaN values in row 2543 : 0
NaN values in row 2544 : 0
NaN values in row 2545 : 0
NaN values in row 2546 : 0
NaN values in row 2547 : 0
NaN values in row 2548 : 0
NaN values in row 2549 : 0
NaN values in row 2550 : 0
NaN values in row 2551 : 0
NaN values in row 2552 : 7
NaN values in row 2553 : 0
NaN values in row 2554 : 0
NaN values in row 2555 : 0
NaN values in row 2556 : 0
NaN values in row 2557 : 0
NaN values in row 2558 : 0
NaN values in row 2559 : 0
NaN values in row 2560 : 0
NaN values in row 2561 : 2
NaN values in row 2562 : 1
NaN values in row 2563 : 0
NaN values in row 2564 : 0
NaN values in row 2565 : 0
NaN values in row 2566 : 0
NaN values in row 2567 : 0
NaN values in row 2568 : 0
NaN values in row 2569 : 0
NaN values in row 2570 : 0
NaN values in row 2571 : 0
NaN values in row 2572 : 0
NaN values in row 2573 : 0
NaN values in row 2574 : 1
NaN values in row 2575 : 1
NaN values in row 2576 : 0
NaN values in row 2577 : 0
NaN values in row 2578 : 0
NaN values in row 2579 : 0
NaN values in row 2580 : 0
NaN values in row 2581 : 0
NaN values in row 2582 : 0
NaN values in row 2583 : 0
NaN values in row 2584 : 0
NaN values in row 2585 : 0
NaN values in row 2586 : 2
NaN values in row 2587 : 0
NaN values in row 2588 : 0
NaN values in row 2589 : 0
NaN values in row 2590 : 1
NaN values in row 2591 : 1
NaN values in row 2592 : 0
NaN values in row 2593 : 0
NaN values in row 2594 : 4
NaN values in row 2595 : 1
NaN values in row 2596 : 1
NaN values in row 2597 : 0
NaN values in row 2598 : 0
NaN values in row 2599 : 0
NaN values in row 2600 : 0
NaN values in row 2601 : 0
NaN values in row 2602 : 0
NaN values in row 2603 : 0
NaN values in row 2604 : 0
NaN values in row 2605 : 0
NaN values in row 2606 : 0
NaN values in row 2607 : 0
NaN values in row 2608 : 0
NaN values in row 2609 : 5
NaN values in row 2610 : 0
NaN values in row 2611 : 0
NaN values in row 2612 : 2
NaN values in row 2613 : 1
NaN values in row 2614 : 0
NaN values in row 2615 : 0
NaN values in row 2616 : 1
NaN values in row 2617 : 0
NaN values in row 2618 : 0
NaN values in row 2619 : 0
NaN values in row 2620 : 0
NaN values in row 2621 : 0
NaN values in row 2622 : 0
NaN values in row 2623 : 0
NaN values in row 2624 : 0
NaN values in row 2625 : 0
NaN values in row 2626 : 0
NaN values in row 2627 : 0
NaN values in row 2628 : 0
NaN values in row 2629 : 1
NaN values in row 2630 : 0
NaN values in row 2631 : 0
NaN values in row 2632 : 0
NaN values in row 2633 : 0
NaN values in row 2634 : 0
NaN values in row 2635 : 1
NaN values in row 2636 : 0
NaN values in row 2637 : 0
NaN values in row 2638 : 0
NaN values in row 2639 : 0
NaN values in row 2640 : 0
NaN values in row 2641 : 0
NaN values in row 2642 : 0
NaN values in row 2643 : 0
NaN values in row 2644 : 0
NaN values in row 2645 : 0
NaN values in row 2646 : 0
NaN values in row 2647 : 0
NaN values in row 2648 : 0
NaN values in row 2649 : 0
NaN values in row 2650 : 0
NaN values in row 2651 : 0
NaN values in row 2652 : 0
NaN values in row 2653 : 0
NaN values in row 2654 : 0
NaN values in row 2655 : 0
NaN values in row 2656 : 0
NaN values in row 2657 : 0
NaN values in row 2658 : 0
NaN values in row 2659 : 0
NaN values in row 2660 : 0
NaN values in row 2661 : 0
NaN values in row 2662 : 0
NaN values in row 2663 : 0
NaN values in row 2664 : 0
NaN values in row 2665 : 0
NaN values in row 2666 : 0
NaN values in row 2667 : 0
NaN values in row 2668 : 0
NaN values in row 2669 : 0
NaN values in row 2670 : 0
NaN values in row 2671 : 0
NaN values in row 2672 : 0
NaN values in row 2673 : 0
NaN values in row 2674 : 0
NaN values in row 2675 : 0
NaN values in row 2676 : 0
NaN values in row 2677 : 0
NaN values in row 2678 : 0
NaN values in row 2679 : 0
NaN values in row 2680 : 0
NaN values in row 2681 : 0
NaN values in row 2682 : 0
NaN values in row 2683 : 0
NaN values in row 2684 : 0
NaN values in row 2685 : 0
NaN values in row 2686 : 1
NaN values in row 2687 : 0
NaN values in row 2688 : 0
NaN values in row 2689 : 0
NaN values in row 2690 : 0
NaN values in row 2691 : 1
NaN values in row 2692 : 0
NaN values in row 2693 : 0
NaN values in row 2694 : 0
NaN values in row 2695 : 0
NaN values in row 2696 : 0
NaN values in row 2697 : 0
NaN values in row 2698 : 0
NaN values in row 2699 : 0
NaN values in row 2700 : 0
NaN values in row 2701 : 0
NaN values in row 2702 : 6
NaN values in row 2703 : 0
NaN values in row 2704 : 0
NaN values in row 2705 : 0
NaN values in row 2706 : 0
NaN values in row 2707 : 0
NaN values in row 2708 : 0
NaN values in row 2709 : 0
NaN values in row 2710 : 3
NaN values in row 2711 : 0
NaN values in row 2712 : 0
NaN values in row 2713 : 0
NaN values in row 2714 : 0
NaN values in row 2715 : 0
NaN values in row 2716 : 0
NaN values in row 2717 : 0
NaN values in row 2718 : 0
NaN values in row 2719 : 0
NaN values in row 2720 : 0
NaN values in row 2721 : 0
NaN values in row 2722 : 0
NaN values in row 2723 : 0
NaN values in row 2724 : 1
NaN values in row 2725 : 0
NaN values in row 2726 : 0
NaN values in row 2727 : 6
NaN values in row 2728 : 0
NaN values in row 2729 : 0
NaN values in row 2730 : 0
NaN values in row 2731 : 0
NaN values in row 2732 : 3
NaN values in row 2733 : 1
NaN values in row 2734 : 0
NaN values in row 2735 : 0
NaN values in row 2736 : 0
NaN values in row 2737 : 0
NaN values in row 2738 : 0
NaN values in row 2739 : 1
NaN values in row 2740 : 0
NaN values in row 2741 : 1
NaN values in row 2742 : 1
NaN values in row 2743 : 0
NaN values in row 2744 : 2
NaN values in row 2745 : 0
NaN values in row 2746 : 0
NaN values in row 2747 : 0
NaN values in row 2748 : 2
NaN values in row 2749 : 2
NaN values in row 2750 : 1
NaN values in row 2751 : 1
NaN values in row 2752 : 4
NaN values in row 2753 : 2
NaN values in row 2754 : 2
NaN values in row 2755 : 0
NaN values in row 2756 : 0
NaN values in row 2757 : 0
NaN values in row 2758 : 0
NaN values in row 2759 : 2
NaN values in row 2760 : 0
NaN values in row 2761 : 0
NaN values in row 2762 : 0
NaN values in row 2763 : 0
NaN values in row 2764 : 0
NaN values in row 2765 : 7
NaN values in row 2766 : 0
NaN values in row 2767 : 2
NaN values in row 2768 : 0
NaN values in row 2769 : 0
NaN values in row 2770 : 0
NaN values in row 2771 : 0
NaN values in row 2772 : 1
NaN values in row 2773 : 0
NaN values in row 2774 : 0
NaN values in row 2775 : 7
NaN values in row 2776 : 0
NaN values in row 2777 : 0
NaN values in row 2778 : 1
NaN values in row 2779 : 0
NaN values in row 2780 : 0
NaN values in row 2781 : 0
NaN values in row 2782 : 0
NaN values in row 2783 : 0
NaN values in row 2784 : 0
NaN values in row 2785 : 0
NaN values in row 2786 : 1
NaN values in row 2787 : 0
NaN values in row 2788 : 0
NaN values in row 2789 : 0
NaN values in row 2790 : 0
NaN values in row 2791 : 0
NaN values in row 2792 : 0
NaN values in row 2793 : 0
NaN values in row 2794 : 1
NaN values in row 2795 : 0
NaN values in row 2796 : 1
NaN values in row 2797 : 0
NaN values in row 2798 : 0
NaN values in row 2799 : 0
NaN values in row 2800 : 0
NaN values in row 2801 : 0
NaN values in row 2802 : 1
NaN values in row 2803 : 0
NaN values in row 2804 : 0
NaN values in row 2805 : 0
NaN values in row 2806 : 0
NaN values in row 2807 : 0
NaN values in row 2808 : 0
NaN values in row 2809 : 1
NaN values in row 2810 : 0
NaN values in row 2811 : 0
NaN values in row 2812 : 1
NaN values in row 2813 : 0
NaN values in row 2814 : 1
NaN values in row 2815 : 0
NaN values in row 2816 : 0
NaN values in row 2817 : 2
NaN values in row 2818 : 0
NaN values in row 2819 : 0
NaN values in row 2820 : 0
NaN values in row 2821 : 0
NaN values in row 2822 : 0
NaN values in row 2823 : 0
NaN values in row 2824 : 4
NaN values in row 2825 : 0
NaN values in row 2826 : 0
NaN values in row 2827 : 1
NaN values in row 2828 : 8
NaN values in row 2829 : 0
NaN values in row 2830 : 0
NaN values in row 2831 : 1
NaN values in row 2832 : 0
NaN values in row 2833 : 0
NaN values in row 2834 : 0
NaN values in row 2835 : 0
NaN values in row 2836 : 0
NaN values in row 2837 : 0
NaN values in row 2838 : 0
NaN values in row 2839 : 0
NaN values in row 2840 : 0
NaN values in row 2841 : 0
NaN values in row 2842 : 0
NaN values in row 2843 : 0
NaN values in row 2844 : 0
NaN values in row 2845 : 0
NaN values in row 2846 : 0
NaN values in row 2847 : 0
NaN values in row 2848 : 0
NaN values in row 2849 : 0
NaN values in row 2850 : 0
NaN values in row 2851 : 0
NaN values in row 2852 : 0
NaN values in row 2853 : 0
NaN values in row 2854 : 0
NaN values in row 2855 : 0
NaN values in row 2856 : 0
NaN values in row 2857 : 0
NaN values in row 2858 : 0
NaN values in row 2859 : 0
NaN values in row 2860 : 0
NaN values in row 2861 : 0
NaN values in row 2862 : 0
NaN values in row 2863 : 0
NaN values in row 2864 : 0
NaN values in row 2865 : 1
NaN values in row 2866 : 0
NaN values in row 2867 : 0
NaN values in row 2868 : 0
NaN values in row 2869 : 0
NaN values in row 2870 : 8
NaN values in row 2871 : 0
NaN values in row 2872 : 0
NaN values in row 2873 : 0
NaN values in row 2874 : 0
NaN values in row 2875 : 0
NaN values in row 2876 : 0
NaN values in row 2877 : 0
NaN values in row 2878 : 0
NaN values in row 2879 : 0
NaN values in row 2880 : 0
NaN values in row 2881 : 0
NaN values in row 2882 : 0
NaN values in row 2883 : 0
NaN values in row 2884 : 0
NaN values in row 2885 : 0
NaN values in row 2886 : 0
NaN values in row 2887 : 0
NaN values in row 2888 : 0
NaN values in row 2889 : 0
NaN values in row 2890 : 0
NaN values in row 2891 : 0
NaN values in row 2892 : 3
NaN values in row 2893 : 0
NaN values in row 2894 : 0
NaN values in row 2895 : 1
NaN values in row 2896 : 0
NaN values in row 2897 : 0
NaN values in row 2898 : 0
NaN values in row 2899 : 1
NaN values in row 2900 : 0
NaN values in row 2901 : 0
NaN values in row 2902 : 1
NaN values in row 2903 : 0
NaN values in row 2904 : 2
NaN values in row 2905 : 0
NaN values in row 2906 : 0
NaN values in row 2907 : 0
NaN values in row 2908 : 0
NaN values in row 2909 : 0
NaN values in row 2910 : 0
NaN values in row 2911 : 0
NaN values in row 2912 : 0
NaN values in row 2913 : 0
NaN values in row 2914 : 0
NaN values in row 2915 : 0
NaN values in row 2916 : 0
NaN values in row 2917 : 0
NaN values in row 2918 : 0
NaN values in row 2919 : 0
NaN values in row 2920 : 0
NaN values in row 2921 : 0
NaN values in row 2922 : 0
NaN values in row 2923 : 0
NaN values in row 2924 : 0
NaN values in row 2925 : 0
NaN values in row 2926 : 0
NaN values in row 2927 : 0
NaN values in row 2928 : 0
NaN values in row 2929 : 0
NaN values in row 2930 : 0
NaN values in row 2931 : 0
NaN values in row 2932 : 0
NaN values in row 2933 : 0
NaN values in row 2934 : 0
NaN values in row 2935 : 0
NaN values in row 2936 : 0
NaN values in row 2937 : 1
NaN values in row 2938 : 0
NaN values in row 2939 : 0
NaN values in row 2940 : 0
NaN values in row 2941 : 0
NaN values in row 2942 : 0
NaN values in row 2943 : 0
NaN values in row 2944 : 0
NaN values in row 2945 : 0
NaN values in row 2946 : 0
NaN values in row 2947 : 0
NaN values in row 2948 : 0
NaN values in row 2949 : 0
NaN values in row 2950 : 1
NaN values in row 2951 : 0
NaN values in row 2952 : 5
NaN values in row 2953 : 0
NaN values in row 2954 : 0
NaN values in row 2955 : 1
NaN values in row 2956 : 0
NaN values in row 2957 : 0
NaN values in row 2958 : 1
NaN values in row 2959 : 0
NaN values in row 2960 : 0

NaN values in row 2961 : 0
NaN values in row 2962 : 0
NaN values in row 2963 : 0
NaN values in row 2964 : 1
NaN values in row 2965 : 0
NaN values in row 2966 : 1
NaN values in row 2967 : 1
NaN values in row 2968 : 1
NaN values in row 2969 : 1
NaN values in row 2970 : 0
NaN values in row 2971 : 0
NaN values in row 2972 : 0
NaN values in row 2973 : 0
NaN values in row 2974 : 0
NaN values in row 2975 : 0
NaN values in row 2976 : 0
NaN values in row 2977 : 0
NaN values in row 2978 : 0
NaN values in row 2979 : 0
NaN values in row 2980 : 0
NaN values in row 2981 : 0
NaN values in row 2982 : 0
NaN values in row 2983 : 0
NaN values in row 2984 : 0
NaN values in row 2985 : 0
NaN values in row 2986 : 0
NaN values in row 2987 : 0
NaN values in row 2988 : 0
NaN values in row 2989 : 1
NaN values in row 2990 : 0
NaN values in row 2991 : 0
NaN values in row 2992 : 0
NaN values in row 2993 : 0
NaN values in row 2994 : 0
NaN values in row 2995 : 0
NaN values in row 2996 : 0
NaN values in row 2997 : 0
NaN values in row 2998 : 0
NaN values in row 2999 : 0
NaN values in row 3000 : 0
NaN values in row 3001 : 0
NaN values in row 3002 : 0
NaN values in row 3003 : 1
NaN values in row 3004 : 0
NaN values in row 3005 : 0
NaN values in row 3006 : 0
NaN values in row 3007 : 1
NaN values in row 3008 : 1
NaN values in row 3009 : 0
NaN values in row 3010 : 0
NaN values in row 3011 : 3
NaN values in row 3012 : 1
NaN values in row 3013 : 0
NaN values in row 3014 : 1
NaN values in row 3015 : 1
NaN values in row 3016 : 1
NaN values in row 3017 : 0
NaN values in row 3018 : 3
NaN values in row 3019 : 0
NaN values in row 3020 : 1
NaN values in row 3021 : 1
NaN values in row 3022 : 3
NaN values in row 3023 : 0
NaN values in row 3024 : 0
NaN values in row 3025 : 0
NaN values in row 3026 : 0
NaN values in row 3027 : 1
NaN values in row 3028 : 0
NaN values in row 3029 : 0
NaN values in row 3030 : 1
NaN values in row 3031 : 0
NaN values in row 3032 : 0
NaN values in row 3033 : 3
NaN values in row 3034 : 0
NaN values in row 3035 : 1
NaN values in row 3036 : 0
NaN values in row 3037 : 0
NaN values in row 3038 : 0
NaN values in row 3039 : 0
NaN values in row 3040 : 0
NaN values in row 3041 : 1
NaN values in row 3042 : 0
NaN values in row 3043 : 0
NaN values in row 3044 : 0
NaN values in row 3045 : 1
NaN values in row 3046 : 0
NaN values in row 3047 : 0
NaN values in row 3048 : 1
NaN values in row 3049 : 0
NaN values in row 3050 : 0
NaN values in row 3051 : 0
NaN values in row 3052 : 0
NaN values in row 3053 : 0
NaN values in row 3054 : 0
NaN values in row 3055 : 0
NaN values in row 3056 : 0
NaN values in row 3057 : 0
NaN values in row 3058 : 0
NaN values in row 3059 : 0
NaN values in row 3060 : 0
NaN values in row 3061 : 0
NaN values in row 3062 : 0
NaN values in row 3063 : 0
NaN values in row 3064 : 0
NaN values in row 3065 : 0
NaN values in row 3066 : 1
NaN values in row 3067 : 1
NaN values in row 3068 : 0
NaN values in row 3069 : 0
NaN values in row 3070 : 1
NaN values in row 3071 : 0
NaN values in row 3072 : 2
NaN values in row 3073 : 1
NaN values in row 3074 : 0
NaN values in row 3075 : 0
NaN values in row 3076 : 0
NaN values in row 3077 : 0
NaN values in row 3078 : 0
NaN values in row 3079 : 0
NaN values in row 3080 : 0
NaN values in row 3081 : 0
NaN values in row 3082 : 1
NaN values in row 3083 : 1
NaN values in row 3084 : 7
NaN values in row 3085 : 3
NaN values in row 3086 : 1
NaN values in row 3087 : 0
NaN values in row 3088 : 2
NaN values in row 3089 : 0
NaN values in row 3090 : 1
NaN values in row 3091 : 0
NaN values in row 3092 : 0
NaN values in row 3093 : 0
NaN values in row 3094 : 0
NaN values in row 3095 : 0
NaN values in row 3096 : 0
NaN values in row 3097 : 0
NaN values in row 3098 : 0
NaN values in row 3099 : 0
NaN values in row 3100 : 0
NaN values in row 3101 : 1
NaN values in row 3102 : 0
NaN values in row 3103 : 0
NaN values in row 3104 : 0
NaN values in row 3105 : 0
NaN values in row 3106 : 0
NaN values in row 3107 : 0
NaN values in row 3108 : 0
NaN values in row 3109 : 0
NaN values in row 3110 : 0
NaN values in row 3111 : 1
NaN values in row 3112 : 0
NaN values in row 3113 : 0
NaN values in row 3114 : 0
NaN values in row 3115 : 0
NaN values in row 3116 : 0
NaN values in row 3117 : 0
NaN values in row 3118 : 0
NaN values in row 3119 : 0
NaN values in row 3120 : 0
NaN values in row 3121 : 0
NaN values in row 3122 : 0
NaN values in row 3123 : 0
NaN values in row 3124 : 0
NaN values in row 3125 : 0
NaN values in row 3126 : 0
NaN values in row 3127 : 0
NaN values in row 3128 : 0
NaN values in row 3129 : 2
NaN values in row 3130 : 1
NaN values in row 3131 : 0
NaN values in row 3132 : 0
NaN values in row 3133 : 0
NaN values in row 3134 : 0
NaN values in row 3135 : 0
NaN values in row 3136 : 0
NaN values in row 3137 : 1
NaN values in row 3138 : 1
NaN values in row 3139 : 0
NaN values in row 3140 : 0
NaN values in row 3141 : 0
NaN values in row 3142 : 0
NaN values in row 3143 : 0
NaN values in row 3144 : 0
NaN values in row 3145 : 0
NaN values in row 3146 : 0
NaN values in row 3147 : 0
NaN values in row 3148 : 1
NaN values in row 3149 : 0
NaN values in row 3150 : 0
NaN values in row 3151 : 0
NaN values in row 3152 : 0
NaN values in row 3153 : 1
NaN values in row 3154 : 0
NaN values in row 3155 : 0
NaN values in row 3156 : 0
NaN values in row 3157 : 0
NaN values in row 3158 : 0
NaN values in row 3159 : 0
NaN values in row 3160 : 0
NaN values in row 3161 : 0
NaN values in row 3162 : 0
NaN values in row 3163 : 0
NaN values in row 3164 : 0
NaN values in row 3165 : 0
NaN values in row 3166 : 1
NaN values in row 3167 : 0
NaN values in row 3168 : 0
NaN values in row 3169 : 0
NaN values in row 3170 : 0
NaN values in row 3171 : 0
NaN values in row 3172 : 0
NaN values in row 3173 : 1
NaN values in row 3174 : 5
NaN values in row 3175 : 0
NaN values in row 3176 : 0
NaN values in row 3177 : 0
NaN values in row 3178 : 0
NaN values in row 3179 : 0
NaN values in row 3180 : 0
NaN values in row 3181 : 0
NaN values in row 3182 : 1
NaN values in row 3183 : 1
NaN values in row 3184 : 0
NaN values in row 3185 : 0
NaN values in row 3186 : 0
NaN values in row 3187 : 1
NaN values in row 3188 : 0
NaN values in row 3189 : 0
NaN values in row 3190 : 0
NaN values in row 3191 : 0
NaN values in row 3192 : 0
NaN values in row 3193 : 0
NaN values in row 3194 : 0
NaN values in row 3195 : 0
NaN values in row 3196 : 0
NaN values in row 3197 : 0
NaN values in row 3198 : 0
NaN values in row 3199 : 0
NaN values in row 3200 : 0
NaN values in row 3201 : 0
NaN values in row 3202 : 0
NaN values in row 3203 : 0
NaN values in row 3204 : 0
NaN values in row 3205 : 0
NaN values in row 3206 : 0
NaN values in row 3207 : 4
NaN values in row 3208 : 1
NaN values in row 3209 : 0
NaN values in row 3210 : 0
NaN values in row 3211 : 0
NaN values in row 3212 : 0
NaN values in row 3213 : 0
NaN values in row 3214 : 0
NaN values in row 3215 : 1
NaN values in row 3216 : 0
NaN values in row 3217 : 0
NaN values in row 3218 : 0
NaN values in row 3219 : 0
NaN values in row 3220 : 1
NaN values in row 3221 : 0
NaN values in row 3222 : 2
NaN values in row 3223 : 1
NaN values in row 3224 : 0
NaN values in row 3225 : 0
NaN values in row 3226 : 1
NaN values in row 3227 : 0
NaN values in row 3228 : 0
NaN values in row 3229 : 1
NaN values in row 3230 : 0
NaN values in row 3231 : 1
NaN values in row 3232 : 2
NaN values in row 3233 : 1
NaN values in row 3234 : 0
NaN values in row 3235 : 0
NaN values in row 3236 : 0
NaN values in row 3237 : 0
NaN values in row 3238 : 2
NaN values in row 3239 : 1
NaN values in row 3240 : 2
NaN values in row 3241 : 0
NaN values in row 3242 : 0
NaN values in row 3243 : 2
NaN values in row 3244 : 0
NaN values in row 3245 : 1
NaN values in row 3246 : 2
NaN values in row 3247 : 1
NaN values in row 3248 : 4
NaN values in row 3249 : 1
NaN values in row 3250 : 1
NaN values in row 3251 : 1
NaN values in row 3252 : 1
NaN values in row 3253 : 1
NaN values in row 3254 : 3
NaN values in row 3255 : 0
NaN values in row 3256 : 1
NaN values in row 3257 : 2
NaN values in row 3258 : 1
NaN values in row 3259 : 0
NaN values in row 3260 : 0
NaN values in row 3261 : 2
NaN values in row 3262 : 0
NaN values in row 3263 : 2
NaN values in row 3264 : 0
NaN values in row 3265 : 0
NaN values in row 3266 : 1
NaN values in row 3267 : 0
NaN values in row 3268 : 1
NaN values in row 3269 : 1
NaN values in row 3270 : 2
NaN values in row 3271 : 0
NaN values in row 3272 : 2
NaN values in row 3273 : 2
NaN values in row 3274 : 0
NaN values in row 3275 : 1
NaN values in row 3276 : 0
NaN values in row 3277 : 0
NaN values in row 3278 : 0
NaN values in row 3279 : 0
NaN values in row 3280 : 0
NaN values in row 3281 : 0
NaN values in row 3282 : 1
NaN values in row 3283 : 3
NaN values in row 3284 : 0
NaN values in row 3285 : 0
NaN values in row 3286 : 0
NaN values in row 3287 : 0
NaN values in row 3288 : 0
NaN values in row 3289 : 0
NaN values in row 3290 : 0
NaN values in row 3291 : 0
NaN values in row 3292 : 0
NaN values in row 3293 : 1
NaN values in row 3294 : 0
NaN values in row 3295 : 1
NaN values in row 3296 : 0
NaN values in row 3297 : 1
NaN values in row 3298 : 1
NaN values in row 3299 : 0
NaN values in row 3300 : 0
NaN values in row 3301 : 0
NaN values in row 3302 : 1
NaN values in row 3303 : 5
NaN values in row 3304 : 1
NaN values in row 3305 : 0
NaN values in row 3306 : 0
NaN values in row 3307 : 0
NaN values in row 3308 : 1
NaN values in row 3309 : 1
NaN values in row 3310 : 0
NaN values in row 3311 : 0
NaN values in row 3312 : 0
NaN values in row 3313 : 4
NaN values in row 3314 : 0
NaN values in row 3315 : 0
NaN values in row 3316 : 0
NaN values in row 3317 : 1
NaN values in row 3318 : 0
NaN values in row 3319 : 0
NaN values in row 3320 : 2
NaN values in row 3321 : 1
NaN values in row 3322 : 1
NaN values in row 3323 : 0
NaN values in row 3324 : 2
NaN values in row 3325 : 1
NaN values in row 3326 : 1
NaN values in row 3327 : 1
NaN values in row 3328 : 0
NaN values in row 3329 : 5
NaN values in row 3330 : 0
NaN values in row 3331 : 1
NaN values in row 3332 : 0
NaN values in row 3333 : 0
NaN values in row 3334 : 0
NaN values in row 3335 : 1
NaN values in row 3336 : 1
NaN values in row 3337 : 0
NaN values in row 3338 : 1
NaN values in row 3339 : 0
NaN values in row 3340 : 0
NaN values in row 3341 : 1
NaN values in row 3342 : 2
NaN values in row 3343 : 0
NaN values in row 3344 : 0
NaN values in row 3345 : 0
NaN values in row 3346 : 4
NaN values in row 3347 : 0
NaN values in row 3348 : 3
NaN values in row 3349 : 1
NaN values in row 3350 : 2
NaN values in row 3351 : 0
NaN values in row 3352 : 1
NaN values in row 3353 : 0

NaN values in row 3354 : 2
NaN values in row 3355 : 0
NaN values in row 3356 : 1
NaN values in row 3357 : 0
NaN values in row 3358 : 0
NaN values in row 3359 : 0
NaN values in row 3360 : 0
NaN values in row 3361 : 0
NaN values in row 3362 : 0
NaN values in row 3363 : 0
NaN values in row 3364 : 0
NaN values in row 3365 : 0
NaN values in row 3366 : 0
NaN values in row 3367 : 0
NaN values in row 3368 : 0
NaN values in row 3369 : 0
NaN values in row 3370 : 1
NaN values in row 3371 : 0
NaN values in row 3372 : 1
NaN values in row 3373 : 5
NaN values in row 3374 : 0
NaN values in row 3375 : 0
NaN values in row 3376 : 5
NaN values in row 3377 : 0
NaN values in row 3378 : 0
NaN values in row 3379 : 1
NaN values in row 3380 : 0
NaN values in row 3381 : 0
NaN values in row 3382 : 0
NaN values in row 3383 : 0
NaN values in row 3384 : 0
NaN values in row 3385 : 1
NaN values in row 3386 : 0
NaN values in row 3387 : 1
NaN values in row 3388 : 0
NaN values in row 3389 : 0
NaN values in row 3390 : 1
NaN values in row 3391 : 0
NaN values in row 3392 : 0
NaN values in row 3393 : 1
NaN values in row 3394 : 0
NaN values in row 3395 : 0
NaN values in row 3396 : 1
NaN values in row 3397 : 6
NaN values in row 3398 : 0
NaN values in row 3399 : 0
NaN values in row 3400 : 0
NaN values in row 3401 : 0
NaN values in row 3402 : 0
NaN values in row 3403 : 0
NaN values in row 3404 : 0
NaN values in row 3405 : 0
NaN values in row 3406 : 0
NaN values in row 3407 : 1
NaN values in row 3408 : 0
NaN values in row 3409 : 0
NaN values in row 3410 : 0
NaN values in row 3411 : 0
NaN values in row 3412 : 3
NaN values in row 3413 : 0
NaN values in row 3414 : 1
NaN values in row 3415 : 0
NaN values in row 3416 : 0
NaN values in row 3417 : 0
NaN values in row 3418 : 0
NaN values in row 3419 : 7
NaN values in row 3420 : 0
NaN values in row 3421 : 0
NaN values in row 3422 : 1
NaN values in row 3423 : 0
NaN values in row 3424 : 1
NaN values in row 3425 : 1
NaN values in row 3426 : 2
NaN values in row 3427 : 3
NaN values in row 3428 : 0
NaN values in row 3429 : 2
NaN values in row 3430 : 1
NaN values in row 3431 : 2
NaN values in row 3432 : 0
NaN values in row 3433 : 2
NaN values in row 3434 : 0
NaN values in row 3435 : 0
NaN values in row 3436 : 0
NaN values in row 3437 : 2
NaN values in row 3438 : 0
NaN values in row 3439 : 0
NaN values in row 3440 : 0
NaN values in row 3441 : 1
NaN values in row 3442 : 0
NaN values in row 3443 : 0
NaN values in row 3444 : 0
NaN values in row 3445 : 0
NaN values in row 3446 : 1
NaN values in row 3447 : 0
NaN values in row 3448 : 1
NaN values in row 3449 : 2
NaN values in row 3450 : 0
NaN values in row 3451 : 4
NaN values in row 3452 : 0
NaN values in row 3453 : 0
NaN values in row 3454 : 3
NaN values in row 3455 : 2
NaN values in row 3456 : 0
NaN values in row 3457 : 1
NaN values in row 3458 : 2
NaN values in row 3459 : 0
NaN values in row 3460 : 0
NaN values in row 3461 : 0
NaN values in row 3462 : 0
NaN values in row 3463 : 0
NaN values in row 3464 : 1
NaN values in row 3465 : 0
NaN values in row 3466 : 0
NaN values in row 3467 : 0
NaN values in row 3468 : 0
NaN values in row 3469 : 0
NaN values in row 3470 : 0
NaN values in row 3471 : 0
NaN values in row 3472 : 0
NaN values in row 3473 : 0
NaN values in row 3474 : 1
NaN values in row 3475 : 0
NaN values in row 3476 : 0
NaN values in row 3477 : 0
NaN values in row 3478 : 0
NaN values in row 3479 : 0
NaN values in row 3480 : 0
NaN values in row 3481 : 5
NaN values in row 3482 : 0
NaN values in row 3483 : 0
NaN values in row 3484 : 0
NaN values in row 3485 : 0
NaN values in row 3486 : 2
NaN values in row 3487 : 0
NaN values in row 3488 : 0
NaN values in row 3489 : 0
NaN values in row 3490 : 4
NaN values in row 3491 : 0
NaN values in row 3492 : 0
NaN values in row 3493 : 0
NaN values in row 3494 : 0
NaN values in row 3495 : 2
NaN values in row 3496 : 0
NaN values in row 3497 : 0
NaN values in row 3498 : 0
NaN values in row 3499 : 1
NaN values in row 3500 : 0
NaN values in row 3501 : 0
NaN values in row 3502 : 0
NaN values in row 3503 : 0
NaN values in row 3504 : 0
NaN values in row 3505 : 0
NaN values in row 3506 : 0
NaN values in row 3507 : 6
NaN values in row 3508 : 0
NaN values in row 3509 : 5
NaN values in row 3510 : 1
NaN values in row 3511 : 0
NaN values in row 3512 : 0
NaN values in row 3513 : 0
NaN values in row 3514 : 0
NaN values in row 3515 : 0
NaN values in row 3516 : 0
NaN values in row 3517 : 2
NaN values in row 3518 : 0
NaN values in row 3519 : 2
NaN values in row 3520 : 0
NaN values in row 3521 : 0
NaN values in row 3522 : 0
NaN values in row 3523 : 0
NaN values in row 3524 : 1
NaN values in row 3525 : 0
NaN values in row 3526 : 0
NaN values in row 3527 : 1
NaN values in row 3528 : 2
NaN values in row 3529 : 0
NaN values in row 3530 : 0
NaN values in row 3531 : 0
NaN values in row 3532 : 1
NaN values in row 3533 : 0
NaN values in row 3534 : 0
NaN values in row 3535 : 1
NaN values in row 3536 : 3
NaN values in row 3537 : 1
NaN values in row 3538 : 2
NaN values in row 3539 : 5
NaN values in row 3540 : 0
NaN values in row 3541 : 3
NaN values in row 3542 : 0
NaN values in row 3543 : 1
NaN values in row 3544 : 3
NaN values in row 3545 : 2
NaN values in row 3546 : 1
NaN values in row 3547 : 0
NaN values in row 3548 : 0
NaN values in row 3549 : 0
NaN values in row 3550 : 0
NaN values in row 3551 : 0
NaN values in row 3552 : 1
NaN values in row 3553 : 0
NaN values in row 3554 : 0
NaN values in row 3555 : 0
NaN values in row 3556 : 0
NaN values in row 3557 : 0
NaN values in row 3558 : 2
NaN values in row 3559 : 0
NaN values in row 3560 : 0
NaN values in row 3561 : 0
NaN values in row 3562 : 0
NaN values in row 3563 : 1
NaN values in row 3564 : 0
NaN values in row 3565 : 0
NaN values in row 3566 : 0
NaN values in row 3567 : 0
NaN values in row 3568 : 0
NaN values in row 3569 : 0
NaN values in row 3570 : 0
NaN values in row 3571 : 1
NaN values in row 3572 : 0
NaN values in row 3573 : 1
NaN values in row 3574 : 0
NaN values in row 3575 : 0
NaN values in row 3576 : 0
NaN values in row 3577 : 0
NaN values in row 3578 : 1
NaN values in row 3579 : 6
NaN values in row 3580 : 0
NaN values in row 3581 : 0
NaN values in row 3582 : 0
NaN values in row 3583 : 0
NaN values in row 3584 : 0
NaN values in row 3585 : 0
NaN values in row 3586 : 0
NaN values in row 3587 : 0
NaN values in row 3588 : 0
NaN values in row 3589 : 0
NaN values in row 3590 : 0
NaN values in row 3591 : 0
NaN values in row 3592 : 0
NaN values in row 3593 : 0
NaN values in row 3594 : 0
NaN values in row 3595 : 0
NaN values in row 3596 : 0
NaN values in row 3597 : 0
NaN values in row 3598 : 0
NaN values in row 3599 : 0
NaN values in row 3600 : 0
NaN values in row 3601 : 1
NaN values in row 3602 : 1
NaN values in row 3603 : 0
NaN values in row 3604 : 6
NaN values in row 3605 : 0
NaN values in row 3606 : 0
NaN values in row 3607 : 0
NaN values in row 3608 : 0
NaN values in row 3609 : 0
NaN values in row 3610 : 3
NaN values in row 3611 : 0
NaN values in row 3612 : 0
NaN values in row 3613 : 0
NaN values in row 3614 : 0
NaN values in row 3615 : 0
NaN values in row 3616 : 0
NaN values in row 3617 : 0
NaN values in row 3618 : 0
NaN values in row 3619 : 1
NaN values in row 3620 : 0
NaN values in row 3621 : 0
NaN values in row 3622 : 0
NaN values in row 3623 : 5
NaN values in row 3624 : 0
NaN values in row 3625 : 0
NaN values in row 3626 : 3
NaN values in row 3627 : 0
NaN values in row 3628 : 0
NaN values in row 3629 : 1
NaN values in row 3630 : 1
NaN values in row 3631 : 0
NaN values in row 3632 : 1
NaN values in row 3633 : 1
NaN values in row 3634 : 0
NaN values in row 3635 : 0
NaN values in row 3636 : 1
NaN values in row 3637 : 0
NaN values in row 3638 : 1
NaN values in row 3639 : 0
NaN values in row 3640 : 0
NaN values in row 3641 : 1
NaN values in row 3642 : 0
NaN values in row 3643 : 2
NaN values in row 3644 : 1
NaN values in row 3645 : 1
NaN values in row 3646 : 2
NaN values in row 3647 : 0
NaN values in row 3648 : 1
NaN values in row 3649 : 1
NaN values in row 3650 : 6
NaN values in row 3651 : 1
NaN values in row 3652 : 0
NaN values in row 3653 : 1
NaN values in row 3654 : 0
NaN values in row 3655 : 0
NaN values in row 3656 : 3
NaN values in row 3657 : 1
NaN values in row 3658 : 1
NaN values in row 3659 : 0
NaN values in row 3660 : 1
NaN values in row 3661 : 5
NaN values in row 3662 : 0
NaN values in row 3663 : 0
NaN values in row 3664 : 0
NaN values in row 3665 : 2
NaN values in row 3666 : 0
NaN values in row 3667 : 2
NaN values in row 3668 : 0
NaN values in row 3669 : 0
NaN values in row 3670 : 0
NaN values in row 3671 : 0
NaN values in row 3672 : 0
NaN values in row 3673 : 1
NaN values in row 3674 : 0
NaN values in row 3675 : 0
NaN values in row 3676 : 2
NaN values in row 3677 : 0
NaN values in row 3678 : 0
NaN values in row 3679 : 0
NaN values in row 3680 : 0
NaN values in row 3681 : 0
NaN values in row 3682 : 0
NaN values in row 3683 : 1
NaN values in row 3684 : 0
NaN values in row 3685 : 1
NaN values in row 3686 : 3
NaN values in row 3687 : 0
NaN values in row 3688 : 0
NaN values in row 3689 : 1
NaN values in row 3690 : 0
NaN values in row 3691 : 1
NaN values in row 3692 : 0
NaN values in row 3693 : 2
NaN values in row 3694 : 1
NaN values in row 3695 : 2
NaN values in row 3696 : 0
NaN values in row 3697 : 0
NaN values in row 3698 : 0
NaN values in row 3699 : 0
NaN values in row 3700 : 0
NaN values in row 3701 : 0
NaN values in row 3702 : 0
NaN values in row 3703 : 0
NaN values in row 3704 : 0
NaN values in row 3705 : 0
NaN values in row 3706 : 0
NaN values in row 3707 : 0
NaN values in row 3708 : 1
NaN values in row 3709 : 0
NaN values in row 3710 : 0
NaN values in row 3711 : 1
NaN values in row 3712 : 0
NaN values in row 3713 : 1
NaN values in row 3714 : 0
NaN values in row 3715 : 0
NaN values in row 3716 : 0
NaN values in row 3717 : 0
NaN values in row 3718 : 0
NaN values in row 3719 : 0
NaN values in row 3720 : 0
NaN values in row 3721 : 0
NaN values in row 3722 : 1
NaN values in row 3723 : 0
NaN values in row 3724 : 0
NaN values in row 3725 : 1
NaN values in row 3726 : 0
NaN values in row 3727 : 1
NaN values in row 3728 : 0
NaN values in row 3729 : 0
NaN values in row 3730 : 0
NaN values in row 3731 : 0
NaN values in row 3732 : 0
NaN values in row 3733 : 0
NaN values in row 3734 : 1
NaN values in row 3735 : 1
NaN values in row 3736 : 0
NaN values in row 3737 : 0
NaN values in row 3738 : 0
NaN values in row 3739 : 0
NaN values in row 3740 : 0
NaN values in row 3741 : 0
NaN values in row 3742 : 0
NaN values in row 3743 : 0
NaN values in row 3744 : 0
NaN values in row 3745 : 0
NaN values in row 3746 : 0
NaN values in row 3747 : 0
NaN values in row 3748 : 0
NaN values in row 3749 : 0
NaN values in row 3750 : 0
NaN values in row 3751 : 1
NaN values in row 3752 : 2
NaN values in row 3753 : 1
NaN values in row 3754 : 0
NaN values in row 3755 : 1
NaN values in row 3756 : 2
NaN values in row 3757 : 0
NaN values in row 3758 : 0
NaN values in row 3759 : 0
NaN values in row 3760 : 1
NaN values in row 3761 : 0
NaN values in row 3762 : 1
NaN values in row 3763 : 0
NaN values in row 3764 : 1
NaN values in row 3765 : 0
NaN values in row 3766 : 1
NaN values in row 3767 : 0
NaN values in row 3768 : 0
NaN values in row 3769 : 1
NaN values in row 3770 : 1
NaN values in row 3771 : 0
NaN values in row 3772 : 0
NaN values in row 3773 : 0
NaN values in row 3774 : 2
NaN values in row 3775 : 0
NaN values in row 3776 : 0
NaN values in row 3777 : 0
NaN values in row 3778 : 0
NaN values in row 3779 : 0
NaN values in row 3780 : 0
NaN values in row 3781 : 0
NaN values in row 3782 : 0
NaN values in row 3783 : 0
NaN values in row 3784 : 0
NaN values in row 3785 : 1
NaN values in row 3786 : 1
NaN values in row 3787 : 0
NaN values in row 3788 : 0
NaN values in row 3789 : 2
NaN values in row 3790 : 1
NaN values in row 3791 : 1
NaN values in row 3792 : 1
NaN values in row 3793 : 0
NaN values in row 3794 : 1
NaN values in row 3795 : 0
NaN values in row 3796 : 1
NaN values in row 3797 : 1
NaN values in row 3798 : 0
NaN values in row 3799 : 0
NaN values in row 3800 : 5
NaN values in row 3801 : 2
NaN values in row 3802 : 1
NaN values in row 3803 : 1
NaN values in row 3804 : 1
NaN values in row 3805 : 2
NaN values in row 3806 : 5
NaN values in row 3807 : 5
NaN values in row 3808 : 1
NaN values in row 3809 : 2
NaN values in row 3810 : 4
NaN values in row 3811 : 2
NaN values in row 3812 : 1
NaN values in row 3813 : 2
NaN values in row 3814 : 1
NaN values in row 3815 : 5
NaN values in row 3816 : 6
NaN values in row 3817 : 2
NaN values in row 3818 : 4
NaN values in row 3819 : 0
NaN values in row 3820 : 1
NaN values in row 3821 : 0
NaN values in row 3822 : 1
NaN values in row 3823 : 0
NaN values in row 3824 : 0
NaN values in row 3825 : 0
NaN values in row 3826 : 0
NaN values in row 3827 : 1
NaN values in row 3828 : 2
NaN values in row 3829 : 0
NaN values in row 3830 : 1
NaN values in row 3831 : 0
NaN values in row 3832 : 4
NaN values in row 3833 : 2
NaN values in row 3834 : 6
NaN values in row 3835 : 1
NaN values in row 3836 : 1
NaN values in row 3837 : 0
NaN values in row 3838 : 4
NaN values in row 3839 : 0
NaN values in row 3840 : 2
NaN values in row 3841 : 0
NaN values in row 3842 : 1
NaN values in row 3843 : 0
NaN values in row 3844 : 1
NaN values in row 3845 : 1
NaN values in row 3846 : 0
NaN values in row 3847 : 7
NaN values in row 3848 : 0
NaN values in row 3849 : 0
NaN values in row 3850 : 2
NaN values in row 3851 : 0
NaN values in row 3852 : 1
NaN values in row 3853 : 1

NaN values in row 3854 : 0
NaN values in row 3855 : 1
NaN values in row 3856 : 0
NaN values in row 3857 : 0
NaN values in row 3858 : 1
NaN values in row 3859 : 0
NaN values in row 3860 : 2
NaN values in row 3861 : 0
NaN values in row 3862 : 0
NaN values in row 3863 : 1
NaN values in row 3864 : 1
NaN values in row 3865 : 0
NaN values in row 3866 : 5
NaN values in row 3867 : 0
NaN values in row 3868 : 1
NaN values in row 3869 : 2
NaN values in row 3870 : 2
NaN values in row 3871 : 5
NaN values in row 3872 : 2
NaN values in row 3873 : 0
NaN values in row 3874 : 1
NaN values in row 3875 : 1
NaN values in row 3876 : 0
NaN values in row 3877 : 1
NaN values in row 3878 : 2
NaN values in row 3879 : 0
NaN values in row 3880 : 1
NaN values in row 3881 : 6
NaN values in row 3882 : 1
NaN values in row 3883 : 0
NaN values in row 3884 : 0
NaN values in row 3885 : 0
NaN values in row 3886 : 0
NaN values in row 3887 : 1
NaN values in row 3888 : 0
NaN values in row 3889 : 0
NaN values in row 3890 : 0
NaN values in row 3891 : 0
NaN values in row 3892 : 0
NaN values in row 3893 : 0
NaN values in row 3894 : 0
NaN values in row 3895 : 2
NaN values in row 3896 : 1
NaN values in row 3897 : 1
NaN values in row 3898 : 0
NaN values in row 3899 : 1
NaN values in row 3900 : 5
NaN values in row 3901 : 0
NaN values in row 3902 : 0
NaN values in row 3903 : 1
NaN values in row 3904 : 1
NaN values in row 3905 : 0
NaN values in row 3906 : 0
NaN values in row 3907 : 0
NaN values in row 3908 : 0
NaN values in row 3909 : 0
NaN values in row 3910 : 0
NaN values in row 3911 : 0
NaN values in row 3912 : 1
NaN values in row 3913 : 0
NaN values in row 3914 : 1
NaN values in row 3915 : 0
NaN values in row 3916 : 0
NaN values in row 3917 : 0
NaN values in row 3918 : 0
NaN values in row 3919 : 1
NaN values in row 3920 : 1
NaN values in row 3921 : 0
NaN values in row 3922 : 0
NaN values in row 3923 : 0
NaN values in row 3924 : 0
NaN values in row 3925 : 0
NaN values in row 3926 : 0
NaN values in row 3927 : 0
NaN values in row 3928 : 0
NaN values in row 3929 : 1
NaN values in row 3930 : 0
NaN values in row 3931 : 0
NaN values in row 3932 : 0
NaN values in row 3933 : 1
NaN values in row 3934 : 1
NaN values in row 3935 : 0
NaN values in row 3936 : 0
NaN values in row 3937 : 2
NaN values in row 3938 : 0
NaN values in row 3939 : 0
NaN values in row 3940 : 0
NaN values in row 3941 : 0
NaN values in row 3942 : 0
NaN values in row 3943 : 1
NaN values in row 3944 : 0
NaN values in row 3945 : 0
NaN values in row 3946 : 1
NaN values in row 3947 : 0
NaN values in row 3948 : 1
NaN values in row 3949 : 0
NaN values in row 3950 : 0
NaN values in row 3951 : 5
NaN values in row 3952 : 0
NaN values in row 3953 : 0
NaN values in row 3954 : 1
NaN values in row 3955 : 1
NaN values in row 3956 : 2
NaN values in row 3957 : 3
NaN values in row 3958 : 1
NaN values in row 3959 : 1
NaN values in row 3960 : 1
NaN values in row 3961 : 2
NaN values in row 3962 : 1
NaN values in row 3963 : 2
NaN values in row 3964 : 2
NaN values in row 3965 : 2
NaN values in row 3966 : 2
NaN values in row 3967 : 1
NaN values in row 3968 : 1
NaN values in row 3969 : 1
NaN values in row 3970 : 0
NaN values in row 3971 : 0
NaN values in row 3972 : 0
NaN values in row 3973 : 2
NaN values in row 3974 : 0
NaN values in row 3975 : 1
NaN values in row 3976 : 1
NaN values in row 3977 : 0
NaN values in row 3978 : 0
NaN values in row 3979 : 0
NaN values in row 3980 : 0
NaN values in row 3981 : 0
NaN values in row 3982 : 5
NaN values in row 3983 : 1
NaN values in row 3984 : 0
NaN values in row 3985 : 0
NaN values in row 3986 : 1
NaN values in row 3987 : 0
NaN values in row 3988 : 0
NaN values in row 3989 : 5
NaN values in row 3990 : 0
NaN values in row 3991 : 1
NaN values in row 3992 : 1
NaN values in row 3993 : 1
NaN values in row 3994 : 1
NaN values in row 3995 : 1
NaN values in row 3996 : 0
NaN values in row 3997 : 0
NaN values in row 3998 : 0
NaN values in row 3999 : 0
NaN values in row 4000 : 0
NaN values in row 4001 : 1
NaN values in row 4002 : 2
NaN values in row 4003 : 0
NaN values in row 4004 : 0
NaN values in row 4005 : 1
NaN values in row 4006 : 0
NaN values in row 4007 : 0
NaN values in row 4008 : 0
NaN values in row 4009 : 0
NaN values in row 4010 : 0
NaN values in row 4011 : 0
NaN values in row 4012 : 1
NaN values in row 4013 : 2
NaN values in row 4014 : 1
NaN values in row 4015 : 7
NaN values in row 4016 : 2
NaN values in row 4017 : 2
NaN values in row 4018 : 3
NaN values in row 4019 : 1
NaN values in row 4020 : 1
NaN values in row 4021 : 3
NaN values in row 4022 : 1
NaN values in row 4023 : 1
NaN values in row 4024 : 0
NaN values in row 4025 : 0
NaN values in row 4026 : 2
NaN values in row 4027 : 0
NaN values in row 4028 : 0
NaN values in row 4029 : 0
NaN values in row 4030 : 0
NaN values in row 4031 : 2
NaN values in row 4032 : 1
NaN values in row 4033 : 0
NaN values in row 4034 : 1
NaN values in row 4035 : 0
NaN values in row 4036 : 1
NaN values in row 4037 : 2
NaN values in row 4038 : 1
NaN values in row 4039 : 1
NaN values in row 4040 : 1
NaN values in row 4041 : 1
NaN values in row 4042 : 1
NaN values in row 4043 : 0
NaN values in row 4044 : 0
NaN values in row 4045 : 1
NaN values in row 4046 : 0
NaN values in row 4047 : 0
NaN values in row 4048 : 1
NaN values in row 4049 : 1
NaN values in row 4050 : 0
NaN values in row 4051 : 0
NaN values in row 4052 : 0
NaN values in row 4053 : 0
NaN values in row 4054 : 0
NaN values in row 4055 : 1
NaN values in row 4056 : 0
NaN values in row 4057 : 0
NaN values in row 4058 : 0
NaN values in row 4059 : 0
NaN values in row 4060 : 0
NaN values in row 4061 : 1
NaN values in row 4062 : 1
NaN values in row 4063 : 0
NaN values in row 4064 : 1
NaN values in row 4065 : 0
NaN values in row 4066 : 0
NaN values in row 4067 : 0
NaN values in row 4068 : 1
NaN values in row 4069 : 1
NaN values in row 4070 : 0
NaN values in row 4071 : 1
NaN values in row 4072 : 0
NaN values in row 4073 : 1
NaN values in row 4074 : 2
NaN values in row 4075 : 0
NaN values in row 4076 : 1
NaN values in row 4077 : 1
NaN values in row 4078 : 1
NaN values in row 4079 : 5
NaN values in row 4080 : 1
NaN values in row 4081 : 0
NaN values in row 4082 : 0
NaN values in row 4083 : 0
NaN values in row 4084 : 0
NaN values in row 4085 : 2
NaN values in row 4086 : 0
NaN values in row 4087 : 7
NaN values in row 4088 : 1
NaN values in row 4089 : 0
NaN values in row 4090 : 0
NaN values in row 4091 : 0
NaN values in row 4092 : 1
NaN values in row 4093 : 1
NaN values in row 4094 : 0
NaN values in row 4095 : 0
NaN values in row 4096 : 1
NaN values in row 4097 : 0
NaN values in row 4098 : 0
NaN values in row 4099 : 0
NaN values in row 4100 : 1
NaN values in row 4101 : 0
NaN values in row 4102 : 1
NaN values in row 4103 : 0
NaN values in row 4104 : 0
NaN values in row 4105 : 0
NaN values in row 4106 : 0
NaN values in row 4107 : 0
NaN values in row 4108 : 2
NaN values in row 4109 : 1
NaN values in row 4110 : 2
NaN values in row 4111 : 1
NaN values in row 4112 : 1
NaN values in row 4113 : 6
NaN values in row 4114 : 0
NaN values in row 4115 : 6
NaN values in row 4116 : 3
NaN values in row 4117 : 0
NaN values in row 4118 : 0
NaN values in row 4119 : 6
NaN values in row 4120 : 0
NaN values in row 4121 : 2
NaN values in row 4122 : 0
NaN values in row 4123 : 0
NaN values in row 4124 : 0
NaN values in row 4125 : 1
NaN values in row 4126 : 2
NaN values in row 4127 : 1
NaN values in row 4128 : 0
NaN values in row 4129 : 2
NaN values in row 4130 : 1
NaN values in row 4131 : 2
NaN values in row 4132 : 2
NaN values in row 4133 : 1
NaN values in row 4134 : 1
NaN values in row 4135 : 1
NaN values in row 4136 : 3
NaN values in row 4137 : 2
NaN values in row 4138 : 3
NaN values in row 4139 : 2
NaN values in row 4140 : 2
NaN values in row 4141 : 0
NaN values in row 4142 : 1
NaN values in row 4143 : 2
NaN values in row 4144 : 0
NaN values in row 4145 : 1
NaN values in row 4146 : 3
NaN values in row 4147 : 0
NaN values in row 4148 : 3
NaN values in row 4149 : 1
NaN values in row 4150 : 1
NaN values in row 4151 : 0
NaN values in row 4152 : 2
NaN values in row 4153 : 1
NaN values in row 4154 : 0
NaN values in row 4155 : 0
NaN values in row 4156 : 0
NaN values in row 4157 : 0
NaN values in row 4158 : 0
NaN values in row 4159 : 0
NaN values in row 4160 : 1
NaN values in row 4161 : 0
NaN values in row 4162 : 1
NaN values in row 4163 : 4
NaN values in row 4164 : 2
NaN values in row 4165 : 1
NaN values in row 4166 : 2
NaN values in row 4167 : 1
NaN values in row 4168 : 0
NaN values in row 4169 : 0
NaN values in row 4170 : 1
NaN values in row 4171 : 0
NaN values in row 4172 : 1
NaN values in row 4173 : 0
NaN values in row 4174 : 2
NaN values in row 4175 : 0
NaN values in row 4176 : 2
NaN values in row 4177 : 1
NaN values in row 4178 : 1
NaN values in row 4179 : 3
NaN values in row 4180 : 0
NaN values in row 4181 : 0
NaN values in row 4182 : 0
NaN values in row 4183 : 0
NaN values in row 4184 : 0
NaN values in row 4185 : 1
NaN values in row 4186 : 1
NaN values in row 4187 : 0
NaN values in row 4188 : 0
NaN values in row 4189 : 0
NaN values in row 4190 : 0
NaN values in row 4191 : 2
NaN values in row 4192 : 0
NaN values in row 4193 : 1
NaN values in row 4194 : 1
NaN values in row 4195 : 0
NaN values in row 4196 : 0
NaN values in row 4197 : 0
NaN values in row 4198 : 2
NaN values in row 4199 : 0
NaN values in row 4200 : 0
NaN values in row 4201 : 2
NaN values in row 4202 : 0
NaN values in row 4203 : 0
NaN values in row 4204 : 0
NaN values in row 4205 : 0
NaN values in row 4206 : 0
NaN values in row 4207 : 0
NaN values in row 4208 : 0
NaN values in row 4209 : 2
NaN values in row 4210 : 1
NaN values in row 4211 : 4
NaN values in row 4212 : 0
NaN values in row 4213 : 0
NaN values in row 4214 : 1
NaN values in row 4215 : 4
NaN values in row 4216 : 0
NaN values in row 4217 : 1
NaN values in row 4218 : 1
NaN values in row 4219 : 0
NaN values in row 4220 : 1
NaN values in row 4221 : 1
NaN values in row 4222 : 1
NaN values in row 4223 : 3
NaN values in row 4224 : 2
NaN values in row 4225 : 2
NaN values in row 4226 : 1
NaN values in row 4227 : 4
NaN values in row 4228 : 0
NaN values in row 4229 : 0
NaN values in row 4230 : 0
NaN values in row 4231 : 1
NaN values in row 4232 : 2
NaN values in row 4233 : 1
NaN values in row 4234 : 3
NaN values in row 4235 : 2
NaN values in row 4236 : 3
NaN values in row 4237 : 1
NaN values in row 4238 : 0
NaN values in row 4239 : 1
NaN values in row 4240 : 0
NaN values in row 4241 : 1
NaN values in row 4242 : 1
NaN values in row 4243 : 3
NaN values in row 4244 : 3
NaN values in row 4245 : 4
NaN values in row 4246 : 3
NaN values in row 4247 : 0
NaN values in row 4248 : 0
NaN values in row 4249 : 6
NaN values in row 4250 : 1
NaN values in row 4251 : 0
NaN values in row 4252 : 1
NaN values in row 4253 : 1
NaN values in row 4254 : 0
NaN values in row 4255 : 0
NaN values in row 4256 : 1
NaN values in row 4257 : 0
NaN values in row 4258 : 0
NaN values in row 4259 : 0
NaN values in row 4260 : 0
NaN values in row 4261 : 1
NaN values in row 4262 : 1
NaN values in row 4263 : 0
NaN values in row 4264 : 0
NaN values in row 4265 : 1
NaN values in row 4266 : 0
NaN values in row 4267 : 0
NaN values in row 4268 : 0
NaN values in row 4269 : 1
NaN values in row 4270 : 0
NaN values in row 4271 : 1
NaN values in row 4272 : 1
NaN values in row 4273 : 0
NaN values in row 4274 : 1
NaN values in row 4275 : 0
NaN values in row 4276 : 1
NaN values in row 4277 : 0
NaN values in row 4278 : 0
NaN values in row 4279 : 0
NaN values in row 4280 : 0
NaN values in row 4281 : 5
NaN values in row 4282 : 0
NaN values in row 4283 : 0
NaN values in row 4284 : 0
NaN values in row 4285 : 0
NaN values in row 4286 : 1
NaN values in row 4287 : 0
NaN values in row 4288 : 6
NaN values in row 4289 : 0
NaN values in row 4290 : 1
NaN values in row 4291 : 0
NaN values in row 4292 : 1
NaN values in row 4293 : 2
NaN values in row 4294 : 0
NaN values in row 4295 : 1
NaN values in row 4296 : 0
NaN values in row 4297 : 1
NaN values in row 4298 : 0
NaN values in row 4299 : 5
NaN values in row 4300 : 1
NaN values in row 4301 : 0
NaN values in row 4302 : 2
NaN values in row 4303 : 0
NaN values in row 4304 : 5
NaN values in row 4305 : 1
NaN values in row 4306 : 2
NaN values in row 4307 : 2
NaN values in row 4308 : 1
NaN values in row 4309 : 1
NaN values in row 4310 : 1
NaN values in row 4311 : 0
NaN values in row 4312 : 0
NaN values in row 4313 : 0
NaN values in row 4314 : 3
NaN values in row 4315 : 1
NaN values in row 4316 : 1
NaN values in row 4317 : 2
NaN values in row 4318 : 0
NaN values in row 4319 : 1
NaN values in row 4320 : 1
NaN values in row 4321 : 2
NaN values in row 4322 : 1
NaN values in row 4323 : 6
NaN values in row 4324 : 1
NaN values in row 4325 : 3
NaN values in row 4326 : 1
NaN values in row 4327 : 6
NaN values in row 4328 : 0
NaN values in row 4329 : 1
NaN values in row 4330 : 1
NaN values in row 4331 : 2
NaN values in row 4332 : 2
NaN values in row 4333 : 0
NaN values in row 4334 : 2
NaN values in row 4335 : 2
NaN values in row 4336 : 2
NaN values in row 4337 : 1
NaN values in row 4338 : 3
NaN values in row 4339 : 2
NaN values in row 4340 : 2
NaN values in row 4341 : 4
NaN values in row 4342 : 2
NaN values in row 4343 : 0
NaN values in row 4344 : 0
NaN values in row 4345 : 1
NaN values in row 4346 : 0
NaN values in row 4347 : 1
NaN values in row 4348 : 2

NaN values in row 4349 : 0
NaN values in row 4350 : 0
NaN values in row 4351 : 3
NaN values in row 4352 : 0
NaN values in row 4353 : 0
NaN values in row 4354 : 5
NaN values in row 4355 : 0
NaN values in row 4356 : 0
NaN values in row 4357 : 1
NaN values in row 4358 : 1
NaN values in row 4359 : 1
NaN values in row 4360 : 0
NaN values in row 4361 : 0
NaN values in row 4362 : 1
NaN values in row 4363 : 0
NaN values in row 4364 : 1
NaN values in row 4365 : 4
NaN values in row 4366 : 1
NaN values in row 4367 : 1
NaN values in row 4368 : 1
NaN values in row 4369 : 1
NaN values in row 4370 : 3
NaN values in row 4371 : 1
NaN values in row 4372 : 7
NaN values in row 4373 : 2
NaN values in row 4374 : 1
NaN values in row 4375 : 0
NaN values in row 4376 : 0
NaN values in row 4377 : 2
NaN values in row 4378 : 1
NaN values in row 4379 : 1
NaN values in row 4380 : 1
NaN values in row 4381 : 0
NaN values in row 4382 : 0
NaN values in row 4383 : 0
NaN values in row 4384 : 0
NaN values in row 4385 : 0
NaN values in row 4386 : 0
NaN values in row 4387 : 1
NaN values in row 4388 : 1
NaN values in row 4389 : 1
NaN values in row 4390 : 2
NaN values in row 4391 : 1
NaN values in row 4392 : 2
NaN values in row 4393 : 0
NaN values in row 4394 : 2
NaN values in row 4395 : 1
NaN values in row 4396 : 1
NaN values in row 4397 : 4
NaN values in row 4398 : 0
NaN values in row 4399 : 0
NaN values in row 4400 : 3
NaN values in row 4401 : 0
NaN values in row 4402 : 0
NaN values in row 4403 : 0
NaN values in row 4404 : 1
NaN values in row 4405 : 1
NaN values in row 4406 : 0
NaN values in row 4407 : 0
NaN values in row 4408 : 1
NaN values in row 4409 : 6
NaN values in row 4410 : 1
NaN values in row 4411 : 0
NaN values in row 4412 : 0
NaN values in row 4413 : 0
NaN values in row 4414 : 1
NaN values in row 4415 : 0
NaN values in row 4416 : 1
NaN values in row 4417 : 0
NaN values in row 4418 : 0
NaN values in row 4419 : 0
NaN values in row 4420 : 0
NaN values in row 4421 : 1
NaN values in row 4422 : 2
NaN values in row 4423 : 0
NaN values in row 4424 : 0
NaN values in row 4425 : 3
NaN values in row 4426 : 1
NaN values in row 4427 : 0
NaN values in row 4428 : 0
NaN values in row 4429 : 0
NaN values in row 4430 : 1
NaN values in row 4431 : 2
NaN values in row 4432 : 1
NaN values in row 4433 : 1
NaN values in row 4434 : 0
NaN values in row 4435 : 0
NaN values in row 4436 : 6
NaN values in row 4437 : 0
NaN values in row 4438 : 1
NaN values in row 4439 : 1
NaN values in row 4440 : 3
NaN values in row 4441 : 3
NaN values in row 4442 : 2
NaN values in row 4443 : 4
NaN values in row 4444 : 3
NaN values in row 4445 : 3
NaN values in row 4446 : 0
NaN values in row 4447 : 2
NaN values in row 4448 : 3
NaN values in row 4449 : 0
NaN values in row 4450 : 0
NaN values in row 4451 : 1
NaN values in row 4452 : 0
NaN values in row 4453 : 3
NaN values in row 4454 : 2
NaN values in row 4455 : 1
NaN values in row 4456 : 2
NaN values in row 4457 : 1
NaN values in row 4458 : 0
NaN values in row 4459 : 5
NaN values in row 4460 : 8
NaN values in row 4461 : 0
NaN values in row 4462 : 0
NaN values in row 4463 : 0
NaN values in row 4464 : 0
NaN values in row 4465 : 1
NaN values in row 4466 : 0
NaN values in row 4467 : 5
NaN values in row 4468 : 1
NaN values in row 4469 : 1
NaN values in row 4470 : 0
NaN values in row 4471 : 1
NaN values in row 4472 : 1
NaN values in row 4473 : 2
NaN values in row 4474 : 1
NaN values in row 4475 : 0
NaN values in row 4476 : 1
NaN values in row 4477 : 1
NaN values in row 4478 : 1
NaN values in row 4479 : 1
NaN values in row 4480 : 1
NaN values in row 4481 : 1
NaN values in row 4482 : 6
NaN values in row 4483 : 2
NaN values in row 4484 : 0
NaN values in row 4485 : 0
NaN values in row 4486 : 0
NaN values in row 4487 : 2
NaN values in row 4488 : 2
NaN values in row 4489 : 0
NaN values in row 4490 : 0
NaN values in row 4491 : 0
NaN values in row 4492 : 1
NaN values in row 4493 : 0
NaN values in row 4494 : 0
NaN values in row 4495 : 0
NaN values in row 4496 : 0
NaN values in row 4497 : 2
NaN values in row 4498 : 0
NaN values in row 4499 : 0
NaN values in row 4500 : 0
NaN values in row 4501 : 0
NaN values in row 4502 : 7
NaN values in row 4503 : 2
NaN values in row 4504 : 2
NaN values in row 4505 : 3
NaN values in row 4506 : 2
NaN values in row 4507 : 2
NaN values in row 4508 : 1
NaN values in row 4509 : 3
NaN values in row 4510 : 2
NaN values in row 4511 : 0
NaN values in row 4512 : 1
NaN values in row 4513 : 2
NaN values in row 4514 : 3
NaN values in row 4515 : 0
NaN values in row 4516 : 1
NaN values in row 4517 : 7
NaN values in row 4518 : 0
NaN values in row 4519 : 8
NaN values in row 4520 : 1
NaN values in row 4521 : 1
NaN values in row 4522 : 0
NaN values in row 4523 : 0
NaN values in row 4524 : 1
NaN values in row 4525 : 2
NaN values in row 4526 : 1
NaN values in row 4527 : 1
NaN values in row 4528 : 4
NaN values in row 4529 : 1
NaN values in row 4530 : 0
NaN values in row 4531 : 1
NaN values in row 4532 : 0
NaN values in row 4533 : 1
NaN values in row 4534 : 0
NaN values in row 4535 : 1
NaN values in row 4536 : 0
NaN values in row 4537 : 0
NaN values in row 4538 : 0
NaN values in row 4539 : 0
NaN values in row 4540 : 0
NaN values in row 4541 : 0
NaN values in row 4542 : 0
NaN values in row 4543 : 0
NaN values in row 4544 : 0
NaN values in row 4545 : 0
NaN values in row 4546 : 0
NaN values in row 4547 : 2
NaN values in row 4548 : 3
NaN values in row 4549 : 1
NaN values in row 4550 : 1
NaN values in row 4551 : 0
NaN values in row 4552 : 2
NaN values in row 4553 : 0
NaN values in row 4554 : 1
NaN values in row 4555 : 2
NaN values in row 4556 : 0
NaN values in row 4557 : 0
NaN values in row 4558 : 1
NaN values in row 4559 : 1
NaN values in row 4560 : 1
NaN values in row 4561 : 0
NaN values in row 4562 : 0
NaN values in row 4563 : 0
NaN values in row 4564 : 0
NaN values in row 4565 : 0
NaN values in row 4566 : 0
NaN values in row 4567 : 0
NaN values in row 4568 : 1
NaN values in row 4569 : 0
NaN values in row 4570 : 0
NaN values in row 4571 : 0
NaN values in row 4572 : 1
NaN values in row 4573 : 1
NaN values in row 4574 : 0
NaN values in row 4575 : 0
NaN values in row 4576 : 0
NaN values in row 4577 : 0
NaN values in row 4578 : 1
NaN values in row 4579 : 1
NaN values in row 4580 : 2
NaN values in row 4581 : 0
NaN values in row 4582 : 1
NaN values in row 4583 : 0
NaN values in row 4584 : 0
NaN values in row 4585 : 0
NaN values in row 4586 : 0
NaN values in row 4587 : 0
NaN values in row 4588 : 3
NaN values in row 4589 : 2
NaN values in row 4590 : 0
NaN values in row 4591 : 1
NaN values in row 4592 : 0
NaN values in row 4593 : 2
NaN values in row 4594 : 0
NaN values in row 4595 : 0
NaN values in row 4596 : 0
NaN values in row 4597 : 2
NaN values in row 4598 : 1
NaN values in row 4599 : 0
NaN values in row 4600 : 2
NaN values in row 4601 : 0
NaN values in row 4602 : 0
NaN values in row 4603 : 0
NaN values in row 4604 : 2
NaN values in row 4605 : 1
NaN values in row 4606 : 0
NaN values in row 4607 : 0
NaN values in row 4608 : 1
NaN values in row 4609 : 4
NaN values in row 4610 : 1
NaN values in row 4611 : 2
NaN values in row 4612 : 2
NaN values in row 4613 : 1
NaN values in row 4614 : 3
NaN values in row 4615 : 3
NaN values in row 4616 : 2
NaN values in row 4617 : 5
NaN values in row 4618 : 1
NaN values in row 4619 : 1
NaN values in row 4620 : 2
NaN values in row 4621 : 2
NaN values in row 4622 : 4
NaN values in row 4623 : 1
NaN values in row 4624 : 2
NaN values in row 4625 : 1
NaN values in row 4626 : 3
NaN values in row 4627 : 4
NaN values in row 4628 : 1
NaN values in row 4629 : 1
NaN values in row 4630 : 5
NaN values in row 4631 : 0
NaN values in row 4632 : 2
NaN values in row 4633 : 2
NaN values in row 4634 : 8
NaN values in row 4635 : 2
NaN values in row 4636 : 3
NaN values in row 4637 : 3
NaN values in row 4638 : 0
NaN values in row 4639 : 0
NaN values in row 4640 : 0
NaN values in row 4641 : 3
NaN values in row 4642 : 0
NaN values in row 4643 : 0
NaN values in row 4644 : 1
NaN values in row 4645 : 0
NaN values in row 4646 : 0
NaN values in row 4647 : 1
NaN values in row 4648 : 1
NaN values in row 4649 : 0
NaN values in row 4650 : 0
NaN values in row 4651 : 2
NaN values in row 4652 : 2
NaN values in row 4653 : 0
NaN values in row 4654 : 1
NaN values in row 4655 : 0
NaN values in row 4656 : 1
NaN values in row 4657 : 3
NaN values in row 4658 : 4
NaN values in row 4659 : 0
NaN values in row 4660 : 4
NaN values in row 4661 : 0
NaN values in row 4662 : 0
NaN values in row 4663 : 0
NaN values in row 4664 : 1
NaN values in row 4665 : 2
NaN values in row 4666 : 2
NaN values in row 4667 : 0
NaN values in row 4668 : 2
NaN values in row 4669 : 2
NaN values in row 4670 : 2
NaN values in row 4671 : 0
NaN values in row 4672 : 1
NaN values in row 4673 : 4
NaN values in row 4674 : 0
NaN values in row 4675 : 2
NaN values in row 4676 : 0
NaN values in row 4677 : 0
NaN values in row 4678 : 1
NaN values in row 4679 : 0
NaN values in row 4680 : 0
NaN values in row 4681 : 0
NaN values in row 4682 : 1
NaN values in row 4683 : 0
NaN values in row 4684 : 0
NaN values in row 4685 : 1
NaN values in row 4686 : 1
NaN values in row 4687 : 1
NaN values in row 4688 : 0
NaN values in row 4689 : 1
NaN values in row 4690 : 5
NaN values in row 4691 : 0
NaN values in row 4692 : 2
NaN values in row 4693 : 3
NaN values in row 4694 : 0
NaN values in row 4695 : 0
NaN values in row 4696 : 0
NaN values in row 4697 : 1
NaN values in row 4698 : 1
NaN values in row 4699 : 2
NaN values in row 4700 : 1
NaN values in row 4701 : 3
NaN values in row 4702 : 3
NaN values in row 4703 : 1
NaN values in row 4704 : 3
NaN values in row 4705 : 3
NaN values in row 4706 : 0
NaN values in row 4707 : 0
NaN values in row 4708 : 0
NaN values in row 4709 : 1
NaN values in row 4710 : 0
NaN values in row 4711 : 2
NaN values in row 4712 : 0
NaN values in row 4713 : 5
NaN values in row 4714 : 4
NaN values in row 4715 : 3
NaN values in row 4716 : 3
NaN values in row 4717 : 4
NaN values in row 4718 : 4
NaN values in row 4719 : 0
NaN values in row 4720 : 8
NaN values in row 4721 : 2
NaN values in row 4722 : 3
NaN values in row 4723 : 0
NaN values in row 4724 : 2
NaN values in row 4725 : 0
NaN values in row 4726 : 0
NaN values in row 4727 : 4

NaN values in row 4728 : 0
NaN values in row 4729 : 1
NaN values in row 4730 : 0
NaN values in row 4731 : 0
NaN values in row 4732 : 1
NaN values in row 4733 : 0
NaN values in row 4734 : 1
NaN values in row 4735 : 0
NaN values in row 4736 : 0
NaN values in row 4737 : 0
NaN values in row 4738 : 1
NaN values in row 4739 : 0
NaN values in row 4740 : 0
NaN values in row 4741 : 0
NaN values in row 4742 : 0
NaN values in row 4743 : 0
NaN values in row 4744 : 0
NaN values in row 4745 : 1
NaN values in row 4746 : 2
NaN values in row 4747 : 0
NaN values in row 4748 : 1
NaN values in row 4749 : 1
NaN values in row 4750 : 0
NaN values in row 4751 : 0
NaN values in row 4752 : 0
NaN values in row 4753 : 0
NaN values in row 4754 : 0
NaN values in row 4755 : 0
NaN values in row 4756 : 2
NaN values in row 4757 : 1
NaN values in row 4758 : 0
NaN values in row 4759 : 2
NaN values in row 4760 : 2
NaN values in row 4761 : 1
NaN values in row 4762 : 1
NaN values in row 4763 : 4
NaN values in row 4764 : 3
NaN values in row 4765 : 2
NaN values in row 4766 : 1
NaN values in row 4767 : 7
NaN values in row 4768 : 3
NaN values in row 4769 : 0
NaN values in row 4770 : 2
NaN values in row 4771 : 2
NaN values in row 4772 : 2
NaN values in row 4773 : 2
NaN values in row 4774 : 4
NaN values in row 4775 : 3
NaN values in row 4776 : 2
NaN values in row 4777 : 3
NaN values in row 4778 : 0
NaN values in row 4779 : 1
NaN values in row 4780 : 0
NaN values in row 4781 : 0
NaN values in row 4782 : 2
NaN values in row 4783 : 0
NaN values in row 4784 : 0
NaN values in row 4785 : 3
NaN values in row 4786 : 0
NaN values in row 4787 : 3
NaN values in row 4788 : 0
NaN values in row 4789 : 1
NaN values in row 4790 : 3
NaN values in row 4791 : 0
NaN values in row 4792 : 0
NaN values in row 4793 : 0
NaN values in row 4794 : 1
NaN values in row 4795 : 0
NaN values in row 4796 : 0
NaN values in row 4797 : 1
NaN values in row 4798 : 5
NaN values in row 4799 : 0
NaN values in row 4800 : 1
NaN values in row 4801 : 3
NaN values in row 4802 : 0
NaN values in row 4803 : 5
NaN values in row 4804 : 0
NaN values in row 4805 : 1
NaN values in row 4806 : 1
NaN values in row 4807 : 2
NaN values in row 4808 : 1
NaN values in row 4809 : 1
NaN values in row 4810 : 2
NaN values in row 4811 : 1
NaN values in row 4812 : 0
NaN values in row 4813 : 1
NaN values in row 4814 : 0
NaN values in row 4815 : 6
NaN values in row 4816 : 0
NaN values in row 4817 : 0
NaN values in row 4818 : 2
NaN values in row 4819 : 5
NaN values in row 4820 : 2
NaN values in row 4821 : 0
NaN values in row 4822 : 1
NaN values in row 4823 : 2
NaN values in row 4824 : 1
NaN values in row 4825 : 1
NaN values in row 4826 : 1
NaN values in row 4827 : 0
NaN values in row 4828 : 0
NaN values in row 4829 : 0
NaN values in row 4830 : 0
NaN values in row 4831 : 3
NaN values in row 4832 : 0
NaN values in row 4833 : 0
NaN values in row 4834 : 2
NaN values in row 4835 : 1
NaN values in row 4836 : 5
NaN values in row 4837 : 7
NaN values in row 4838 : 1
NaN values in row 4839 : 1
NaN values in row 4840 : 0
NaN values in row 4841 : 2
NaN values in row 4842 : 0
NaN values in row 4843 : 4
NaN values in row 4844 : 1
NaN values in row 4845 : 0
NaN values in row 4846 : 4
NaN values in row 4847 : 2
NaN values in row 4848 : 1
NaN values in row 4849 : 1
NaN values in row 4850 : 2
NaN values in row 4851 : 0
NaN values in row 4852 : 0
NaN values in row 4853 : 0
NaN values in row 4854 : 3
NaN values in row 4855 : 0
NaN values in row 4856 : 0
NaN values in row 4857 : 0
NaN values in row 4858 : 0
NaN values in row 4859 : 6
NaN values in row 4860 : 0
NaN values in row 4861 : 1
NaN values in row 4862 : 0
NaN values in row 4863 : 0
NaN values in row 4864 : 0
NaN values in row 4865 : 3
NaN values in row 4866 : 1
NaN values in row 4867 : 2
NaN values in row 4868 : 0
NaN values in row 4869 : 5
NaN values in row 4870 : 3
NaN values in row 4871 : 1
NaN values in row 4872 : 2
NaN values in row 4873 : 1
NaN values in row 4874 : 2
NaN values in row 4875 : 2
NaN values in row 4876 : 3
NaN values in row 4877 : 2
NaN values in row 4878 : 6
NaN values in row 4879 : 2
NaN values in row 4880 : 3
NaN values in row 4881 : 2
NaN values in row 4882 : 3
NaN values in row 4883 : 3
NaN values in row 4884 : 3
NaN values in row 4885 : 2
NaN values in row 4886 : 3
NaN values in row 4887 : 3
NaN values in row 4888 : 1
NaN values in row 4889 : 3
NaN values in row 4890 : 0
NaN values in row 4891 : 0
NaN values in row 4892 : 1
NaN values in row 4893 : 0
NaN values in row 4894 : 1
NaN values in row 4895 : 1
NaN values in row 4896 : 0
NaN values in row 4897 : 0
NaN values in row 4898 : 1
NaN values in row 4899 : 1
NaN values in row 4900 : 1
NaN values in row 4901 : 1
NaN values in row 4902 : 1
NaN values in row 4903 : 2
NaN values in row 4904 : 1
NaN values in row 4905 : 0
NaN values in row 4906 : 1
NaN values in row 4907 : 3
NaN values in row 4908 : 1
NaN values in row 4909 : 1
NaN values in row 4910 : 5
NaN values in row 4911 : 3
NaN values in row 4912 : 2
NaN values in row 4913 : 1
NaN values in row 4914 : 1
NaN values in row 4915 : 0
NaN values in row 4916 : 2
NaN values in row 4917 : 1
NaN values in row 4918 : 4
NaN values in row 4919 : 5
NaN values in row 4920 : 3
NaN values in row 4921 : 0
NaN values in row 4922 : 0
NaN values in row 4923 : 0
NaN values in row 4924 : 5
NaN values in row 4925 : 4
NaN values in row 4926 : 0
NaN values in row 4927 : 3
NaN values in row 4928 : 0
NaN values in row 4929 : 5
NaN values in row 4930 : 0
NaN values in row 4931 : 0
NaN values in row 4932 : 2
NaN values in row 4933 : 0
NaN values in row 4934 : 3
NaN values in row 4935 : 3
NaN values in row 4936 : 0
NaN values in row 4937 : 1
NaN values in row 4938 : 3
NaN values in row 4939 : 3
NaN values in row 4940 : 3
NaN values in row 4941 : 0
NaN values in row 4942 : 1
NaN values in row 4943 : 2
NaN values in row 4944 : 1
NaN values in row 4945 : 11
NaN values in row 4946 : 8
NaN values in row 4947 : 1
NaN values in row 4948 : 8
NaN values in row 4949 : 2
NaN values in row 4950 : 2
NaN values in row 4951 : 1
NaN values in row 4952 : 2
NaN values in row 4953 : 2
NaN values in row 4954 : 3
NaN values in row 4955 : 0
NaN values in row 4956 : 0
NaN values in row 4957 : 1
NaN values in row 4958 : 2
NaN values in row 4959 : 0
NaN values in row 4960 : 1
NaN values in row 4961 : 1
NaN values in row 4962 : 0
NaN values in row 4963 : 2
NaN values in row 4964 : 0
NaN values in row 4965 : 1
NaN values in row 4966 : 1
NaN values in row 4967 : 2
NaN values in row 4968 : 2
NaN values in row 4969 : 3
NaN values in row 4970 : 1
NaN values in row 4971 : 0
NaN values in row 4972 : 3
NaN values in row 4973 : 0
NaN values in row 4974 : 2
NaN values in row 4975 : 0
NaN values in row 4976 : 4
NaN values in row 4977 : 0
NaN values in row 4978 : 0
NaN values in row 4979 : 0
NaN values in row 4980 : 1
NaN values in row 4981 : 1
NaN values in row 4982 : 3
NaN values in row 4983 : 1
NaN values in row 4984 : 0
NaN values in row 4985 : 3
NaN values in row 4986 : 2
NaN values in row 4987 : 0
NaN values in row 4988 : 2
NaN values in row 4989 : 6
NaN values in row 4990 : 8
NaN values in row 4991 : 2
NaN values in row 4992 : 7
NaN values in row 4993 : 1
NaN values in row 4994 : 3
NaN values in row 4995 : 1
NaN values in row 4996 : 3
NaN values in row 4997 : 0
NaN values in row 4998 : 0
NaN values in row 4999 : 4
NaN values in row 5000 : 1
NaN values in row 5001 : 1
NaN values in row 5002 : 3
NaN values in row 5003 : 2
NaN values in row 5004 : 1
NaN values in row 5005 : 2
NaN values in row 5006 : 3
NaN values in row 5007 : 2
NaN values in row 5008 : 0
NaN values in row 5009 : 2
NaN values in row 5010 : 3
NaN values in row 5011 : 0
NaN values in row 5012 : 0
NaN values in row 5013 : 2
NaN values in row 5014 : 2
NaN values in row 5015 : 0
NaN values in row 5016 : 5
NaN values in row 5017 : 2
NaN values in row 5018 : 2
NaN values in row 5019 : 2
NaN values in row 5020 : 5
NaN values in row 5021 : 1
NaN values in row 5022 : 4
NaN values in row 5023 : 2
NaN values in row 5024 : 1
NaN values in row 5025 : 0
NaN values in row 5026 : 0
NaN values in row 5027 : 0
NaN values in row 5028 : 3
NaN values in row 5029 : 1
NaN values in row 5030 : 5
NaN values in row 5031 : 3
NaN values in row 5032 : 4
NaN values in row 5033 : 0
NaN values in row 5034 : 1
NaN values in row 5035 : 0
NaN values in row 5036 : 3
NaN values in row 5037 : 1
NaN values in row 5038 : 4
NaN values in row 5039 : 5
NaN values in row 5040 : 4
NaN values in row 5041 : 2
NaN values in row 5042 : 0

In [11]:
# Write your code for column-wise null percentage
perc = perc =(movies.isna().sum() * 100)/len(movies)
perc

color                         0.376760
director_name                 2.062265
num_critic_for_reviews        0.991473
duration                      0.297442
director_facebook_likes       2.062265
actor_3_facebook_likes        0.456078
actor_2_name                  0.257783
actor_1_facebook_likes        0.138806
gross                        17.529248
genres                        0.000000
actor_1_name                  0.138806
movie_title                   0.000000
num_voted_users               0.000000
cast_total_facebook_likes     0.000000
actor_3_name                  0.456078
facenumber_in_poster          0.257783
plot_keywords                 3.033908
movie_imdb_link               0.000000
num_user_for_reviews          0.416419
language                      0.237954
country                       0.099147
content_rating                6.008328
budget                        9.756098
title_year                    2.141582
actor_2_facebook_likes        0.257783
imdb_score                    0.000000
aspect_ratio                  6.523895
movie_facebook_likes          0.000000
dtype: float64

In [12]:
perc =(movies.isna().sum() * 100)/len(movies)
perc

color                         0.376760
director_name                 2.062265
num_critic_for_reviews        0.991473
duration                      0.297442
director_facebook_likes       2.062265
actor_3_facebook_likes        0.456078
actor_2_name                  0.257783
actor_1_facebook_likes        0.138806
gross                        17.529248
genres                        0.000000
actor_1_name                  0.138806
movie_title                   0.000000
num_voted_users               0.000000
cast_total_facebook_likes     0.000000
actor_3_name                  0.456078
facenumber_in_poster          0.257783
plot_keywords                 3.033908
movie_imdb_link               0.000000
num_user_for_reviews          0.416419
language                      0.237954
country                       0.099147
content_rating                6.008328
budget                        9.756098
title_year                    2.141582
actor_2_facebook_likes        0.257783
imdb_score                    0.000000
aspect_ratio                  6.523895
movie_facebook_likes          0.000000
dtype: float64

-  ###  Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [13]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations 
dropcoluns = ['color','director_facebook_likes','actor_1_facebook_likes','actor_2_facebook_likes','actor_3_facebook_likes',
             'actor_2_name','cast_total_facebook_likes','actor_3_name','duration','facenumber_in_poster','content_rating',
             'country','movie_imdb_link','aspect_ratio','plot_keywords']
for i in dropcoluns:
    movies.drop([i],axis=1,inplace= True)
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 13 columns):
director_name             4939 non-null object
num_critic_for_reviews    4993 non-null float64
gross                     4159 non-null float64
genres                    5043 non-null object
actor_1_name              5036 non-null object
movie_title               5043 non-null object
num_voted_users           5043 non-null int64
num_user_for_reviews      5022 non-null float64
language                  5031 non-null object
budget                    4551 non-null float64
title_year                4935 non-null float64
imdb_score                5043 non-null float64
movie_facebook_likes      5043 non-null int64
dtypes: float64(6), int64(2), object(5)
memory usage: 512.3+ KB

-  ###  Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [14]:
# Write your code for dropping the rows here

selectedcolumns = ['gross','budget']
for i in selectedcolumns:
    movies.dropna(subset=selectedcolumns,how='any',inplace=True)

In [15]:
perc =(movies.isna().sum() * 100)/len(movies)
perc

director_name             0.000000
num_critic_for_reviews    0.025700
gross                     0.000000
genres                    0.000000
actor_1_name              0.077101
movie_title               0.000000
num_voted_users           0.000000
num_user_for_reviews      0.000000
language                  0.077101
budget                    0.000000
title_year                0.000000
imdb_score                0.000000
movie_facebook_likes      0.000000
dtype: float64

-  ###  Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [16]:
# Write your code for dropping the rows here
for i in range(len(movies.index)):
    s= movies.iloc[i].isna().sum()
    if s>5:
        movies.drop(i,axis = 0,inplace=True)
movies.isna().sum(axis = 1)

0       0
1       0
2       0
3       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
30      0
       ..
4959    0
4962    0
4964    0
4971    0
4973    0
4975    0
4977    0
4978    0
4979    0
4984    0
4987    0
4997    0
4998    0
5004    0
5008    0
5009    0
5011    0
5012    0
5015    0
5021    0
5023    0
5025    0
5026    0
5027    0
5029    0
5033    0
5034    0
5035    0
5037    0
5042    0
Length: 3891, dtype: int64

-  ###  Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [17]:
# Write your code for filling the NaN values in the 'language' column here
movies.fillna(value='language',axis=1,inplace=True)
movies['language']

0        English
1        English
2        English
3        English
5        English
6        English
7        English
8        English
9        English
10       English
11       English
12       English
13       English
14       English
15       English
16       English
17       English
18       English
19       English
20       English
21       English
22       English
23       English
24       English
25       English
26       English
27       English
28       English
29       English
30       English
          ...
4959     English
4962     English
4964     English
4971     English
4973     English
4975     English
4977     English
4978     English
4979     English
4984     English
4987     English
4997     English
4998     English
5004     English
5008     English
5009     English
5011     English
5012     English
5015     English
5021     English
5023     English
5025     English
5026      French
5027     Persian
5029    Japanese
5033     English
5034     English
5035     Spanish
5037     English
5042     English
Name: language, Length: 3891, dtype: object

-  ###  Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [18]:
# Write your code for checking number of retained rows here
movies.isna().sum(axis =1)
print( round(100*len(movies.index)/5043,2))

77.16

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

##  Data Analysis

-  ###  Change the unit of columns

Converting the unit of the `budget` and `gross` columns from `$` to `million $`.

In [19]:
# Write your code for unit conversion here
movies['budget'].apply(lambda x:x/1000000)
movies['gross'].apply(lambda x:x/1000000)

0       760.505847
1       309.404152
2       200.074175
3       448.130642
5        73.058679
6       336.530303
7       200.807262
8       458.991599
9       301.956980
10      330.249062
11      200.069408
12      168.368427
13      423.032628
14       89.289910
15      291.021565
16      141.614023
17      623.279547
18      241.063875
19      179.020854
20      255.108370
21      262.030663
22      105.219735
23      258.355354
24       70.083519
25      218.051260
26      658.672302
27      407.197282
28       65.173160
29      652.177271
30      304.360277
           ...
4959      5.228617
4962      0.110536
4964      0.059379
4971     32.721635
4973      3.216970
4975      0.536767
4977     11.529368
4978      0.040557
4979      0.030084
4984     10.246600
4987      0.389804
4997      0.241816
4998      0.277233
5004      0.243768
5008      3.151130
5009      0.008231
5011      2.856622
5012     10.499968
5015      1.227508
5021      0.192467
5023      0.076382
5025      0.180483
5026      0.136007
5027      0.673780
5029      0.094596
5033      0.424760
5034      0.070071
5035      2.040920
5037      0.004584
5042      0.085222
Name: gross, Length: 3891, dtype: float64

-  ###  Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [20]:
# Write your code for creating the profit column here
movies['PROFIT']=movies['gross']-movies['budget']
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,PROFIT
0,James Cameron,723,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000,523505847.0
1,Gore Verbinski,302,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0,9404152.0
2,Sam Mendes,602,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000,-44925825.0
3,Christopher Nolan,813,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000,198130642.0
5,Andrew Stanton,462,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263700000.0,2012.0,6.6,24000,-190641321.0

In [21]:
# Write your code for sorting the dataframe here
movies.sort_values(by='PROFIT',ascending=False)

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,PROFIT
0,James Cameron,723,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2.370000e+08,2009.0,7.9,33000,5.235058e+08
29,Colin Trevorrow,644,652177271.0,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,1.500000e+08,2015.0,7.0,150000,5.021773e+08
26,James Cameron,315,658672302.0,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,2.000000e+08,1997.0,7.7,26000,4.586723e+08
3024,George Lucas,282,460935665.0,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,1.100000e+07,1977.0,8.7,33000,4.499357e+08
3080,Steven Spielberg,215,434949459.0,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,1.050000e+07,1982.0,7.9,34000,4.244495e+08
794,Joss Whedon,703,623279547.0,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,2.200000e+08,2012.0,8.1,123000,4.032795e+08
17,Joss Whedon,703,623279547.0,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,2.200000e+08,2012.0,8.1,123000,4.032795e+08
509,Roger Allers,186,422783777.0,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion King,644348,656.0,English,4.500000e+07,1994.0,8.5,17000,3.777838e+08
240,George Lucas,320,474544677.0,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom Menace,534658,3597.0,English,1.150000e+08,1999.0,6.5,13000,3.595447e+08
66,Christopher Nolan,645,533316061.0,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,1.850000e+08,2008.0,9.0,37000,3.483161e+08
439,Gary Ross,673,407999255.0,Adventure|Drama|Sci-Fi|Thriller,Jennifer Lawrence,The Hunger Games,701607,1959.0,English,7.800000e+07,2012.0,7.3,140000,3.299993e+08
812,Tim Miller,579,363024263.0,Action|Adventure|Comedy|Romance|Sci-Fi,Ryan Reynolds,Deadpool,479047,1058.0,English,5.800000e+07,2016.0,8.1,117000,3.050243e+08
186,Francis Lawrence,502,424645577.0,Adventure|Sci-Fi|Thriller,Jennifer Lawrence,The Hunger Games: Catching Fire,498397,706.0,English,1.300000e+08,2013.0,7.6,82000,2.946456e+08
697,Steven Spielberg,308,356784000.0,Adventure|Sci-Fi|Thriller,Wayne Knight,Jurassic Park,613473,895.0,English,6.300000e+07,1993.0,8.1,19000,2.937840e+08
521,Pierre Coffin,306,368049635.0,Animation|Comedy|Family|Sci-Fi,Steve Carell,Despicable Me 2,286877,284.0,English,7.600000e+07,2013.0,7.5,56000,2.920496e+08
814,Clint Eastwood,490,350123553.0,Action|Biography|Drama|History|Thriller|War,Bradley Cooper,American Sniper,325264,916.0,English,5.880000e+07,2014.0,7.3,112000,2.913236e+08
338,Andrew Stanton,301,380838870.0,Adventure|Animation|Comedy|Family,Alexander Gould,Finding Nemo,692482,866.0,English,9.400000e+07,2003.0,8.2,11000,2.868389e+08
582,Andrew Adamson,205,436471036.0,Adventure|Animation|Comedy|Family|Fantasy|Romance,Rupert Everett,Shrek 2,314630,483.0,English,1.500000e+08,2004.0,7.2,0,2.864710e+08
339,Peter Jackson,328,377019252.0,Action|Adventure|Drama|Fantasy,Orlando Bloom,The Lord of the Rings: The Return of the King,1215718,3189.0,English,9.400000e+07,2003.0,8.9,16000,2.830193e+08
1536,Richard Marquand,197,309125409.0,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode VI - Return of the Jedi,681857,647.0,English,3.250000e+07,1983.0,8.4,14000,2.766254e+08
836,Robert Zemeckis,149,329691196.0,Comedy|Drama,Tom Hanks,Forrest Gump,1251222,1398.0,English,5.500000e+07,1994.0,8.8,59000,2.746912e+08
2051,Irvin Kershner,223,290158751.0,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode V - The Empire Strikes Back,837759,900.0,English,1.800000e+07,1980.0,8.8,17000,2.721588e+08
2601,Chris Columbus,102,285761243.0,Comedy|Family,Macaulay Culkin,Home Alone,311075,305.0,English,1.800000e+07,1990.0,7.5,20000,2.677612e+08
236,George Lucas,359,380262555.0,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode III - Revenge of the Sith,520104,3286.0,English,1.130000e+08,2005.0,7.6,10000,2.672626e+08
161,Sam Raimi,291,403706375.0,Action|Adventure|Fantasy|Romance,J.K. Simmons,Spider-Man,544665,2012.0,English,1.390000e+08,2002.0,7.3,5000,2.647064e+08
563,Kyle Balda,308,336029560.0,Action|Animation|Comedy|Family|Sci-Fi,Steve Carell,Minions,142403,275.0,English,7.400000e+07,2015.0,6.4,70000,2.620296e+08
1181,M. Night Shyamalan,234,293501675.0,Drama|Mystery|Thriller,Bruce Willis,The Sixth Sense,704766,2073.0,English,4.000000e+07,1999.0,8.1,14000,2.535017e+08
2917,Steven Spielberg,385,260000000.0,Adventure|Drama|Thriller,Roy Scheider,Jaws,412454,962.0,English,8.000000e+06,1975.0,8.0,21000,2.520000e+08
125,Chris Buck,406,400736600.0,Adventure|Animation|Comedy|Family|Fantasy|Musical,Josh Gad,Frozen,421658,904.0,English,1.500000e+08,2013.0,7.6,58000,2.507366e+08
519,Yarrow Cheney,165,323505540.0,Animation|Comedy|Family,Steve Coogan,The Secret Life of Pets,24407,155.0,English,7.500000e+07,2016.0,6.8,36000,2.485055e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3879,Joe Wright,256,34964818.0,Adventure|Family|Fantasy,Hugh Jackman,Pan,39975,186.0,English,1.500000e+08,2015.0,5.8,24000,-1.150352e+08
145,Joe Wright,256,34964818.0,Adventure|Family|Fantasy,Hugh Jackman,Pan,39956,186.0,English,1.500000e+08,2015.0,5.8,24000,-1.150352e+08
303,Joe Wright,256,34964818.0,Adventure|Family|Fantasy,Hugh Jackman,Pan,39956,186.0,English,1.500000e+08,2015.0,5.8,24000,-1.150352e+08
113,Oliver Stone,248,34293771.0,Action|Adventure|Biography|Drama|History|Roman...,Anthony Hopkins,Alexander,138863,1390.0,English,1.550000e+08,2004.0,5.5,0,-1.207062e+08
14,Gore Verbinski,450,89289910.0,Action|Adventure|Western,Johnny Depp,The Lone Ranger,181792,711.0,English,2.150000e+08,2013.0,6.5,48000,-1.257101e+08
143,Simon Wells,132,21379315.0,Action|Adventure|Animation|Comedy|Family|Sci-Fi,Elisabeth Harnois,Mars Needs Moms,17590,112.0,English,1.500000e+08,2011.0,5.4,0,-1.286207e+08
62,Lana Wachowski,384,47375327.0,Action|Adventure|Sci-Fi,Channing Tatum,Jupiter Ascending,139593,720.0,English,1.760000e+08,2015.0,5.4,44000,-1.286247e+08
49,Bryan Singer,338,65171860.0,Adventure|Fantasy,Eddie Marsan,Jack the Giant Slayer,106416,205.0,English,1.950000e+08,2013.0,6.3,22000,-1.298281e+08
85,Carl Rinsch,218,38297305.0,Action|Adventure|Drama|Fantasy,Keanu Reeves,47 Ronin,116994,324.0,English,1.750000e+08,2013.0,6.3,35000,-1.367027e+08
2339,Jean-Marie Poiré,8,146072.0,Comedy|Family|Fantasy|Sci-Fi,Christian Clavier,Les couloirs du temps: Les visiteurs II,7147,16.0,French,1.400000e+08,1998.0,6.0,136,-1.398539e+08
28,Peter Berg,377,65173160.0,Action|Adventure|Sci-Fi|Thriller,Liam Neeson,Battleship,202382,751.0,English,2.090000e+08,2012.0,5.9,44000,-1.438268e+08
1782,Jacques Perrin,100,10762178.0,Documentary,Jacques Perrin,Winged Migration,10369,153.0,English,1.600000e+08,2001.0,8.0,1000,-1.492378e+08
3877,R. Balki,12,199228.0,Comedy|Drama,Vidya Balan,Paa,7295,49.0,Hindi,1.500000e+08,2009.0,7.2,504,-1.498008e+08
91,Robert Zemeckis,188,665426.0,Adventure|Animation|Family|Fantasy,Tom Hanks,The Polar Express,120798,444.0,English,1.650000e+08,2004.0,6.6,10000,-1.643346e+08
3659,Prachya Pinkaew,112,11905519.0,Action|Crime|Drama|Thriller,Jon Foo,The Protector,30210,214.0,Thai,2.000000e+08,2005.0,7.1,0,-1.880945e+08
5,Andrew Stanton,462,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,2.637000e+08,2012.0,6.6,24000,-1.906413e+08
2740,Tony Jaa,110,102055.0,Action,Nirut Sirichanya,Ong-bak 2,24570,72.0,Thai,3.000000e+08,2008.0,6.2,0,-2.998979e+08
1016,Luc Besson,111,14131298.0,Adventure|Biography|Drama|History|War,Paul Brooke,The Messenger: The Story of Joan of Arc,55889,390.0,English,3.900000e+08,1999.0,6.4,0,-3.758687e+08
3311,Chatrichalerm Yukol,31,454255.0,Action|Adventure|Drama|History|War,Sarunyu Wongkrachang,The Legend of Suriyothai,1666,47.0,Thai,4.000000e+08,2001.0,6.6,124,-3.995457e+08
1338,John Woo,160,626809.0,Action|Adventure|Drama|History|War,Takeshi Kaneshiro,Red Cliff,36894,105.0,Mandarin,5.536320e+08,2008.0,7.4,0,-5.530052e+08
3273,Anurag Basu,41,1602466.0,Action|Drama|Romance|Thriller,Bárbara Mori,Kites,9673,106.0,English,6.000000e+08,2010.0,6.0,0,-5.983975e+08
3075,Karan Johar,20,3275443.0,Drama,Shah Rukh Khan,Kabhi Alvida Naa Kehna,13998,264.0,Hindi,7.000000e+08,2006.0,6.0,659,-6.967246e+08
3851,Carlos Saura,35,1687311.0,Drama|Musical,Mía Maestro,Tango,2412,40.0,Spanish,7.000000e+08,1998.0,7.2,539,-6.983127e+08
4542,Takao Okawara,107,10037390.0,Action|Adventure|Drama|Sci-Fi|Thriller,Hiroshi Abe,Godzilla 2000,5442,140.0,Japanese,1.000000e+09,1999.0,6.0,339,-9.899626e+08
3423,Katsuhiro Ôtomo,150,439162.0,Action|Animation|Sci-Fi,Mitsuo Iwata,Akira,106160,430.0,Japanese,1.100000e+09,1988.0,8.1,0,-1.099561e+09
2334,Katsuhiro Ôtomo,105,410388.0,Action|Adventure|Animation|Family|Sci-Fi|Thriller,William Hootkins,Steamboy,13727,79.0,Japanese,2.127520e+09,2004.0,6.9,973,-2.127110e+09
2323,Hayao Miyazaki,174,2298191.0,Adventure|Animation|Fantasy,Minnie Driver,Princess Mononoke,221552,570.0,Japanese,2.400000e+09,1997.0,8.4,11000,-2.397702e+09
3005,Lajos Koltai,73,195888.0,Drama|Romance|War,Marcell Nagy,Fateless,5603,45.0,Hungarian,2.500000e+09,2005.0,7.1,607,-2.499804e+09
3859,Chan-wook Park,202,211667.0,Crime|Drama,Min-sik Choi,Lady Vengeance,53508,131.0,Korean,4.200000e+09,2005.0,7.7,4000,-4.199788e+09
2988,Joon-ho Bong,363,2201412.0,Comedy|Drama|Horror|Sci-Fi,Doona Bae,The Host,68883,279.0,Korean,1.221550e+10,2006.0,7.0,7000,-1.221330e+10

In [22]:
# Write your code to get the top 10 profiting movies here
top10 = movies.head(10)
top10

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,PROFIT
0,James Cameron,723,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000,523505847.0
1,Gore Verbinski,302,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0,9404152.0
2,Sam Mendes,602,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000,-44925825.0
3,Christopher Nolan,813,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000,198130642.0
5,Andrew Stanton,462,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263700000.0,2012.0,6.6,24000,-190641321.0
6,Sam Raimi,392,336530303.0,Action|Adventure|Romance,J.K. Simmons,Spider-Man 3,383056,1902.0,English,258000000.0,2007.0,6.2,0,78530303.0
7,Nathan Greno,324,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,Brad Garrett,Tangled,294810,387.0,English,260000000.0,2010.0,7.8,29000,-59192738.0
8,Joss Whedon,635,458991599.0,Action|Adventure|Sci-Fi,Chris Hemsworth,Avengers: Age of Ultron,462669,1117.0,English,250000000.0,2015.0,7.5,118000,208991599.0
9,David Yates,375,301956980.0,Adventure|Family|Fantasy|Mystery,Alan Rickman,Harry Potter and the Half-Blood Prince,321795,973.0,English,250000000.0,2009.0,7.5,10000,51956980.0
10,Zack Snyder,673,330249062.0,Action|Adventure|Sci-Fi,Henry Cavill,Batman v Superman: Dawn of Justice,371639,3018.0,English,250000000.0,2016.0,6.9,197000,80249062.0

-  ###  Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [23]:
# Write your code for dropping duplicate values here
movies.drop_duplicates()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,PROFIT
0,James Cameron,723,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000,523505847.0
1,Gore Verbinski,302,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0,9404152.0
2,Sam Mendes,602,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000,-44925825.0
3,Christopher Nolan,813,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000,198130642.0
5,Andrew Stanton,462,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263700000.0,2012.0,6.6,24000,-190641321.0
6,Sam Raimi,392,336530303.0,Action|Adventure|Romance,J.K. Simmons,Spider-Man 3,383056,1902.0,English,258000000.0,2007.0,6.2,0,78530303.0
7,Nathan Greno,324,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,Brad Garrett,Tangled,294810,387.0,English,260000000.0,2010.0,7.8,29000,-59192738.0
8,Joss Whedon,635,458991599.0,Action|Adventure|Sci-Fi,Chris Hemsworth,Avengers: Age of Ultron,462669,1117.0,English,250000000.0,2015.0,7.5,118000,208991599.0
9,David Yates,375,301956980.0,Adventure|Family|Fantasy|Mystery,Alan Rickman,Harry Potter and the Half-Blood Prince,321795,973.0,English,250000000.0,2009.0,7.5,10000,51956980.0
10,Zack Snyder,673,330249062.0,Action|Adventure|Sci-Fi,Henry Cavill,Batman v Superman: Dawn of Justice,371639,3018.0,English,250000000.0,2016.0,6.9,197000,80249062.0
11,Bryan Singer,434,200069408.0,Action|Adventure|Sci-Fi,Kevin Spacey,Superman Returns,240396,2367.0,English,209000000.0,2006.0,6.1,0,-8930592.0
12,Marc Forster,403,168368427.0,Action|Adventure,Giancarlo Giannini,Quantum of Solace,330784,1243.0,English,200000000.0,2008.0,6.7,0,-31631573.0
13,Gore Verbinski,313,423032628.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: Dead Man's Chest,522040,1832.0,English,225000000.0,2006.0,7.3,5000,198032628.0
14,Gore Verbinski,450,89289910.0,Action|Adventure|Western,Johnny Depp,The Lone Ranger,181792,711.0,English,215000000.0,2013.0,6.5,48000,-125710090.0
15,Zack Snyder,733,291021565.0,Action|Adventure|Fantasy|Sci-Fi,Henry Cavill,Man of Steel,548573,2536.0,English,225000000.0,2013.0,7.2,118000,66021565.0
16,Andrew Adamson,258,141614023.0,Action|Adventure|Family|Fantasy,Peter Dinklage,The Chronicles of Narnia: Prince Caspian,149922,438.0,English,225000000.0,2008.0,6.6,0,-83385977.0
17,Joss Whedon,703,623279547.0,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220000000.0,2012.0,8.1,123000,403279547.0
18,Rob Marshall,448,241063875.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: On Stranger Tides,370704,484.0,English,250000000.0,2011.0,6.7,58000,-8936125.0
19,Barry Sonnenfeld,451,179020854.0,Action|Adventure|Comedy|Family|Fantasy|Sci-Fi,Will Smith,Men in Black 3,268154,341.0,English,225000000.0,2012.0,6.8,40000,-45979146.0
20,Peter Jackson,422,255108370.0,Adventure|Fantasy,Aidan Turner,The Hobbit: The Battle of the Five Armies,354228,802.0,English,250000000.0,2014.0,7.5,65000,5108370.0
21,Marc Webb,599,262030663.0,Action|Adventure|Fantasy,Emma Stone,The Amazing Spider-Man,451803,1225.0,English,230000000.0,2012.0,7.0,56000,32030663.0
22,Ridley Scott,343,105219735.0,Action|Adventure|Drama|History,Mark Addy,Robin Hood,211765,546.0,English,200000000.0,2010.0,6.7,17000,-94780265.0
23,Peter Jackson,509,258355354.0,Adventure|Fantasy,Aidan Turner,The Hobbit: The Desolation of Smaug,483540,951.0,English,225000000.0,2013.0,7.9,83000,33355354.0
24,Chris Weitz,251,70083519.0,Adventure|Family|Fantasy,Christopher Lee,The Golden Compass,149019,666.0,English,180000000.0,2007.0,6.1,0,-109916481.0
25,Peter Jackson,446,218051260.0,Action|Adventure|Drama|Romance,Naomi Watts,King Kong,316018,2618.0,English,207000000.0,2005.0,7.2,0,11051260.0
26,James Cameron,315,658672302.0,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200000000.0,1997.0,7.7,26000,458672302.0
27,Anthony Russo,516,407197282.0,Action|Adventure|Sci-Fi,Robert Downey Jr.,Captain America: Civil War,272670,1022.0,English,250000000.0,2016.0,8.2,72000,157197282.0
28,Peter Berg,377,65173160.0,Action|Adventure|Sci-Fi|Thriller,Liam Neeson,Battleship,202382,751.0,English,209000000.0,2012.0,5.9,44000,-143826840.0
29,Colin Trevorrow,644,652177271.0,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150000000.0,2015.0,7.0,150000,502177271.0
30,Sam Mendes,750,304360277.0,Action|Adventure|Thriller,Albert Finney,Skyfall,522030,1498.0,English,200000000.0,2012.0,7.8,80000,104360277.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4959,Robert Townsend,21,5228617.0,Comedy,Robert Townsend,Hollywood Shuffle,2770,32.0,English,100000.0,1987.0,7.0,471,5128617.0
4962,Larry Blamire,88,110536.0,Comedy|Horror|Sci-Fi,Fay Masterson,The Lost Skeleton of Cadavra,4117,118.0,English,40000.0,2001.0,7.0,0,70536.0
4964,E.L. Katz,193,59379.0,Comedy|Crime|Drama|Horror|Thriller,Brighton Sharbino,Cheap Thrills,12796,52.0,English,200000.0,2013.0,6.8,0,-140621.0
4971,Dennis Iliadis,241,32721635.0,Crime|Horror|Thriller,Tony Goldwyn,The Last House on the Left,67824,279.0,English,15000000.0,2009.0,6.6,0,17721635.0
4973,Darren Aronofsky,138,3216970.0,Drama|Mystery|Thriller,Mark Margolis,Pi,142619,586.0,English,60000.0,1998.0,7.5,24000,3156970.0
4975,Myles Berkowitz,32,536767.0,Biography|Comedy|Romance,Tia Carrere,20 Dates,1622,83.0,English,60000.0,1998.0,5.3,30,476767.0
4977,Morgan Spurlock,193,11529368.0,Comedy|Documentary|Drama,Chemeeka Walker,Super Size Me,85028,404.0,English,65000.0,2004.0,7.3,0,11464368.0
4978,Brandon Trost,66,40557.0,Comedy,Clifton Collins Jr.,The FP,1389,22.0,English,60000.0,2011.0,5.6,0,-19443.0
4979,Joe Swanberg,65,30084.0,Comedy|Drama,Anna Kendrick,Happy Christmas,5507,23.0,English,70000.0,2014.0,5.6,812,-39916.0
4984,Edward Burns,36,10246600.0,Comedy|Drama|Romance,Shari Albert,The Brothers McMullen,6375,36.0,English,25000.0,1995.0,6.6,265,10221600.0
4987,Lena Dunham,113,389804.0,Comedy|Drama|Romance,Lena Dunham,Tiny Furniture,11816,35.0,English,65000.0,2010.0,6.3,0,324804.0
4997,David Gordon Green,75,241816.0,Drama,Paul Schneider,George Washington,6246,76.0,English,42000.0,2000.0,7.5,451,199816.0
4998,Kevin Jordan,21,277233.0,Comedy|Romance,Derick Martini,Smiling Fish & Goat on Fire,2631,26.0,English,40000.0,1999.0,7.6,0,237233.0
5004,Mike Bruce,3,243768.0,Western,Joseph Campanella,The Legend of God's Gun,143,9.0,English,30000.0,2007.0,4.1,13,213768.0
5008,Kevin Smith,136,3151130.0,Comedy,Jason Mewes,Clerks,181749,615.0,English,230000.0,1994.0,7.8,0,2921130.0
5009,James Bidgood,8,8231.0,Drama|Fantasy,Don Brooks,Pink Narcissus,803,16.0,English,27000.0,1971.0,6.7,85,-18769.0
5011,Neil LaBute,80,2856622.0,Comedy|Drama,Stacy Edwards,In the Company of Men,11550,197.0,English,25000.0,1997.0,7.3,489,2831622.0
5012,David Ayer,233,10499968.0,Action|Crime|Drama|Thriller,Mireille Enos,Sabotage,47502,212.0,English,35000000.0,2014.0,5.7,10000,-24500032.0
5015,Richard Linklater,61,1227508.0,Comedy|Drama,Tommy Pallotta,Slacker,15103,80.0,English,23000.0,1991.0,7.1,2000,1204508.0
5021,Jay Duplass,51,192467.0,Comedy|Drama|Romance,Mark Duplass,The Puffy Chair,4067,71.0,English,15000.0,2005.0,6.6,297,177467.0
5023,Daryl Wein,22,76382.0,Romance,Zoe Lister-Jones,Breaking Upwards,1194,8.0,English,15000.0,2009.0,6.2,324,61382.0
5025,John Waters,73,180483.0,Comedy|Crime|Horror,Divine,Pink Flamingos,16792,183.0,English,10000.0,1972.0,6.1,0,170483.0
5026,Olivier Assayas,81,136007.0,Drama|Music|Romance,Maggie Cheung,Clean,3924,39.0,French,4500.0,2004.0,6.9,171,131507.0
5027,Jafar Panahi,64,673780.0,Drama,Fereshteh Sadre Orafaiy,The Circle,4555,26.0,Persian,10000.0,2000.0,7.5,697,663780.0
5029,Kiyoshi Kurosawa,78,94596.0,Crime|Horror|Mystery|Thriller,Kôji Yakusho,The Cure,6318,50.0,Japanese,1000000.0,1997.0,7.4,817,-905404.0
5033,Shane Carruth,143,424760.0,Drama|Sci-Fi|Thriller,Shane Carruth,Primer,72639,371.0,English,7000.0,2004.0,7.0,19000,417760.0
5034,Neill Dela Llana,35,70071.0,Thriller,Ian Gamazon,Cavite,589,35.0,English,7000.0,2005.0,6.3,74,63071.0
5035,Robert Rodriguez,56,2040920.0,Action|Crime|Drama|Romance|Thriller,Carlos Gallardo,El Mariachi,52055,130.0,Spanish,7000.0,1992.0,6.9,0,2033920.0
5037,Edward Burns,14,4584.0,Comedy|Drama,Kerry Bishé,Newlyweds,1338,14.0,English,9000.0,2011.0,6.4,413,-4416.0
5042,Jon Gunn,43,85222.0,Documentary,John August,My Date with Drew,4285,84.0,English,1100.0,2004.0,6.6,456,84122.0

In [24]:
# Write code for repeating subtask 2 here
top10 = movies.head(10)
top10

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,PROFIT
0,James Cameron,723,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000,523505847.0
1,Gore Verbinski,302,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0,9404152.0
2,Sam Mendes,602,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000,-44925825.0
3,Christopher Nolan,813,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000,198130642.0
5,Andrew Stanton,462,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263700000.0,2012.0,6.6,24000,-190641321.0
6,Sam Raimi,392,336530303.0,Action|Adventure|Romance,J.K. Simmons,Spider-Man 3,383056,1902.0,English,258000000.0,2007.0,6.2,0,78530303.0
7,Nathan Greno,324,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,Brad Garrett,Tangled,294810,387.0,English,260000000.0,2010.0,7.8,29000,-59192738.0
8,Joss Whedon,635,458991599.0,Action|Adventure|Sci-Fi,Chris Hemsworth,Avengers: Age of Ultron,462669,1117.0,English,250000000.0,2015.0,7.5,118000,208991599.0
9,David Yates,375,301956980.0,Adventure|Family|Fantasy|Mystery,Alan Rickman,Harry Potter and the Half-Blood Prince,321795,973.0,English,250000000.0,2009.0,7.5,10000,51956980.0
10,Zack Snyder,673,330249062.0,Action|Adventure|Sci-Fi,Henry Cavill,Batman v Superman: Dawn of Justice,371639,3018.0,English,250000000.0,2016.0,6.9,197000,80249062.0

 You might spot two movies directed by `James Cameron` in the list.

In [25]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'
IMDb_Top_250=movies.sort_values(by='imdb_score',ascending=False)
IMDb_Top_250

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,PROFIT
1937,Frank Darabont,199,28341469.0,Crime|Drama,Morgan Freeman,The Shawshank Redemption,1689764,4144.0,English,25000000.0,1994.0,9.3,108000,3341469.0
3466,Francis Ford Coppola,208,134821952.0,Crime|Drama,Al Pacino,The Godfather,1155770,2238.0,English,6000000.0,1972.0,9.2,43000,128821952.0
66,Christopher Nolan,645,533316061.0,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,185000000.0,2008.0,9.0,37000,348316061.0
2837,Francis Ford Coppola,149,57300000.0,Crime|Drama,Robert De Niro,The Godfather: Part II,790926,650.0,English,13000000.0,1974.0,9.0,14000,44300000.0
3355,Quentin Tarantino,215,107930000.0,Crime|Drama,Bruce Willis,Pulp Fiction,1324680,2195.0,English,8000000.0,1994.0,8.9,45000,99930000.0
1874,Steven Spielberg,174,96067179.0,Biography|Drama|History,Liam Neeson,Schindler's List,865020,1273.0,English,22000000.0,1993.0,8.9,41000,74067179.0
4498,Sergio Leone,181,6100000.0,Western,Clint Eastwood,"The Good, the Bad and the Ugly",503509,780.0,Italian,1200000.0,1966.0,8.9,20000,4900000.0
339,Peter Jackson,328,377019252.0,Action|Adventure|Drama|Fantasy,Orlando Bloom,The Lord of the Rings: The Return of the King,1215718,3189.0,English,94000000.0,2003.0,8.9,16000,283019252.0
97,Christopher Nolan,642,292568851.0,Action|Adventure|Sci-Fi|Thriller,Leonardo DiCaprio,Inception,1468200,2803.0,English,160000000.0,2010.0,8.8,175000,132568851.0
270,Peter Jackson,297,313837577.0,Action|Adventure|Drama|Fantasy,Christopher Lee,The Lord of the Rings: The Fellowship of the R...,1238746,5060.0,English,93000000.0,2001.0,8.8,21000,220837577.0
836,Robert Zemeckis,149,329691196.0,Comedy|Drama,Tom Hanks,Forrest Gump,1251222,1398.0,English,55000000.0,1994.0,8.8,59000,274691196.0
2051,Irvin Kershner,223,290158751.0,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode V - The Empire Strikes Back,837759,900.0,English,18000000.0,1980.0,8.8,17000,272158751.0
683,David Fincher,315,37023395.0,Drama,Brad Pitt,Fight Club,1347461,2968.0,English,63000000.0,1999.0,8.8,48000,-25976605.0
654,Lana Wachowski,313,171383253.0,Action|Sci-Fi,Keanu Reeves,The Matrix,1217752,3646.0,English,63000000.0,1999.0,8.7,25000,108383253.0
4029,Fernando Meirelles,214,7563397.0,Crime|Drama,Alice Braga,City of God,533200,749.0,Portuguese,3300000.0,2002.0,8.7,28000,4263397.0
4747,Akira Kurosawa,153,269061.0,Action|Adventure|Drama,Takashi Shimura,Seven Samurai,229012,596.0,Japanese,2000000.0,1954.0,8.7,11000,-1730939.0
340,Peter Jackson,294,340478898.0,Action|Adventure|Drama|Fantasy,Christopher Lee,The Lord of the Rings: The Two Towers,1100446,2417.0,English,94000000.0,2002.0,8.7,10000,246478898.0
3867,Milos Forman,149,112000000.0,Drama,Scatman Crothers,One Flew Over the Cuckoo's Nest,680041,760.0,English,4400000.0,1975.0,8.7,32000,107600000.0
3024,George Lucas,282,460935665.0,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,11000000.0,1977.0,8.7,33000,449935665.0
1903,Martin Scorsese,192,46836394.0,Biography|Crime|Drama,Robert De Niro,Goodfellas,728685,989.0,English,25000000.0,1990.0,8.7,25000,21836394.0
3592,Bryan Singer,162,23272306.0,Crime|Drama|Mystery|Thriller,Kevin Spacey,The Usual Suspects,740918,1182.0,English,6000000.0,1995.0,8.6,28000,17272306.0
1600,David Fincher,216,100125340.0,Crime|Drama|Mystery|Thriller,Morgan Freeman,Se7en,1023511,1080.0,English,33000000.0,1995.0,8.6,39000,67125340.0
2373,Hayao Miyazaki,246,10049886.0,Adventure|Animation|Family|Fantasy,Bunta Sugawara,Spirited Away,417971,902.0,Japanese,19000000.0,2001.0,8.6,28000,-8950114.0
648,Steven Spielberg,219,216119491.0,Action|Drama|War,Tom Hanks,Saving Private Ryan,881236,2277.0,English,70000000.0,1998.0,8.6,22000,146119491.0
96,Christopher Nolan,712,187991439.0,Adventure|Drama|Sci-Fi,Matthew McConaughey,Interstellar,928227,2725.0,English,165000000.0,2014.0,8.6,349000,22991439.0
2158,Jonathan Demme,185,130727000.0,Crime|Drama|Horror|Thriller,Anthony Hopkins,The Silence of the Lambs,887467,916.0,English,19000000.0,1991.0,8.6,40000,111727000.0
3175,Tony Kaye,162,6712241.0,Crime|Drama,Ethan Suplee,American History X,782437,1420.0,English,7500000.0,1998.0,8.6,35000,-787759.0
4427,Charles Chaplin,120,163245.0,Comedy|Drama|Family,Paulette Goddard,Modern Times,143086,211.0,English,1500000.0,1936.0,8.6,0,-1336755.0
1233,Christopher Nolan,341,53082743.0,Drama|Mystery|Sci-Fi|Thriller,Christian Bale,The Prestige,844052,1100.0,English,40000000.0,2006.0,8.5,49000,13082743.0
2363,Robert Zemeckis,198,210609762.0,Adventure|Comedy|Sci-Fi,Lea Thompson,Back to the Future,732212,809.0,English,19000000.0,1985.0,8.5,39000,191609762.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399,Vic Armstrong,169,13998282.0,Action|Drama|Fantasy|Mystery|Thriller,Nicolas Cage,Left Behind,24854,374.0,English,16000000.0,2014.0,3.1,31000,-2001718.0
3445,Charles Robert Carner,35,4131640.0,Comedy|Crime,Ivana Milicevic,Witless Protection,5463,20.0,English,7500000.0,2008.0,3.1,140,-3368360.0
620,John McTiernan,151,18990542.0,Action|Sci-Fi|Sport,LL Cool J,Rollerball,22264,289.0,English,70000000.0,2002.0,3.0,584,-51009458.0
4081,Nnegest Likké,37,7059537.0,Comedy,Mo'Nique,Phat Girlz,8279,101.0,English,3000000.0,2006.0,3.0,837,4059537.0
2522,Jim Goddard,21,2315683.0,Adventure|Crime|Drama|Romance,Victor Wong,Shanghai Surprise,4081,28.0,English,17000000.0,1986.0,3.0,154,-14684317.0
1998,Uwe Boll,143,1550000.0,Action|Adventure|Fantasy|Horror,Meat Loaf,BloodRayne,30628,471.0,English,25000000.0,2005.0,2.9,937,-23450000.0
3600,Fred Savage,52,13235267.0,Comedy|Family,Lochlyn Munro,Daddy Day Camp,12339,32.0,English,6000000.0,2007.0,2.9,256,7235267.0
2696,Steve Gomer,24,11144518.0,Adventure|Family,Trevor Morgan,Barney's Great Adventure,2724,53.0,English,15000000.0,1998.0,2.8,436,-3855482.0
2066,Joseph Sargent,80,20763013.0,Adventure|Horror|Thriller,Judith Barsi,Jaws: The Revenge,30840,383.0,English,23000000.0,1987.0,2.8,0,-2236987.0
2301,Dave Borthwick,31,7382993.0,Adventure|Animation|Comedy|Family|Fantasy,Jimmy Fallon,Doogal,3851,114.0,English,20000000.0,2006.0,2.8,346,-12617007.0
2328,Richard Benjamin,28,1646664.0,Comedy|Music,Damon Wayans,Marci X,4518,66.0,English,20000000.0,2003.0,2.8,241,-18353336.0
2581,Kenneth Johnson,36,1686429.0,Action|Crime|Sci-Fi,Charles Napier,Steel,8687,62.0,English,16000000.0,1997.0,2.8,0,-14313571.0
1702,James Wong,130,9353573.0,Action|Adventure|Fantasy|Sci-Fi|Thriller,Ian Whyte,Dragonball: Evolution,56451,524.0,English,45000000.0,2009.0,2.7,0,-35646427.0
2182,Aaron Seltzer,99,48546578.0,Comedy|Romance,Alyson Hannigan,Date Movie,50415,613.0,English,20000000.0,2006.0,2.7,806,28546578.0
1654,Jason Friedberg,111,38232624.0,Comedy,Carmen Electra,Meet the Spartans,88518,409.0,English,30000000.0,2008.0,2.7,0,8232624.0
3923,Rick de Oliveira,52,3713002.0,Documentary,Laura Ramsey,The Real Cancun,3611,62.0,English,8000000.0,2003.0,2.7,131,-4286998.0
2852,Bob Clark,45,27141959.0,Comedy|Crime|Family|Sci-Fi,Kathleen Turner,Baby Geniuses,19547,168.0,English,18000000.0,1999.0,2.5,0,9141959.0
495,Roger Christian,174,21471685.0,Action|Adventure|Sci-Fi,Richard Tyson,Battlefield Earth,65464,1308.0,English,44000000.0,2000.0,2.4,0,-22528315.0
899,Martin Brest,131,5660084.0,Comedy|Crime|Romance,Todd Giebenhain,Gigli,41620,418.0,English,54000000.0,2003.0,2.4,2000,-48339916.0
2192,Jason Friedberg,112,39737645.0,Adventure|Comedy,David Carradine,Epic Movie,89687,666.0,English,20000000.0,2007.0,2.3,0,19737645.0
2313,Uwe Boll,148,5132655.0,Horror|Sci-Fi,Catherine Lough Haggquist,Alone in the Dark,37626,521.0,English,20000000.0,2005.0,2.3,1000,-14867345.0
3525,Alex Zamm,12,306715.0,Comedy,Taylor Negron,Chairman of the Board,5143,62.0,English,10000000.0,1998.0,2.3,724,-9693285.0
319,Lawrence Guterman,78,17010646.0,Comedy|Family|Fantasy,Jamie Kennedy,Son of the Mask,40751,239.0,English,84000000.0,2005.0,2.2,881,-66989354.0
2983,Robert Iscove,60,4922166.0,Comedy|Musical|Romance,Anika Noni Rose,From Justin to Kelly,23606,304.0,English,12000000.0,2003.0,2.1,0,-7077834.0
3664,Preston A. Whitmore II,25,7009668.0,Action|Sport,Wesley Jonathan,Crossover,8707,36.0,English,5600000.0,2006.0,2.1,244,1409668.0
3340,Vondie Curtis-Hall,66,4273372.0,Drama|Music|Romance,Mariah Carey,Glitter,19412,308.0,English,22000000.0,2001.0,2.1,0,-17726628.0
3505,Don Michael Paul,25,5694308.0,Comedy|Sport,Jeffrey Jones,Who's Your Caddy?,13815,46.0,English,7000000.0,2007.0,2.0,446,-1305692.0
2295,Bob Clark,32,9109322.0,Comedy|Family|Sci-Fi,Scott Baio,Superbabies: Baby Geniuses 2,25371,129.0,English,20000000.0,2004.0,1.9,0,-10890678.0
2268,Jason Friedberg,111,14174654.0,Comedy,Carmen Electra,Disaster Movie,74945,359.0,English,25000000.0,2008.0,1.9,0,-10825346.0
2834,Jon M. Chu,84,73000942.0,Documentary|Music,Usher Raymond,Justin Bieber: Never Say Never,74351,233.0,English,13000000.0,2011.0,1.6,62000,60000942.0

In [26]:
Top_Foreign_Lang_Film =IMDb_Top_250[IMDb_Top_250.language!='English']
Top_Foreign_Lang_Film# Write your code to extract top foreign language films from 'IMDb_Top_250' here

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,PROFIT
4498,Sergio Leone,181,6100000.0,Western,Clint Eastwood,"The Good, the Bad and the Ugly",503509,780.0,Italian,1.200000e+06,1966.0,8.9,20000,4.900000e+06
4029,Fernando Meirelles,214,7563397.0,Crime|Drama,Alice Braga,City of God,533200,749.0,Portuguese,3.300000e+06,2002.0,8.7,28000,4.263397e+06
4747,Akira Kurosawa,153,269061.0,Action|Adventure|Drama,Takashi Shimura,Seven Samurai,229012,596.0,Japanese,2.000000e+06,1954.0,8.7,11000,-1.730939e+06
2373,Hayao Miyazaki,246,10049886.0,Adventure|Animation|Family|Fantasy,Bunta Sugawara,Spirited Away,417971,902.0,Japanese,1.900000e+07,2001.0,8.6,28000,-8.950114e+06
4259,Florian Henckel von Donnersmarck,215,11284657.0,Drama|Thriller,Sebastian Koch,The Lives of Others,259379,407.0,German,2.000000e+06,2006.0,8.5,39000,9.284657e+06
4921,Majid Majidi,46,925402.0,Drama|Family,Bahare Seddiqi,Children of Heaven,27882,130.0,Persian,1.800000e+05,1997.0,8.5,0,7.454020e+05
3931,Ron Fricke,115,2601847.0,Documentary|Music,Collin Alfredo St. Dic,Samsara,22457,69.0,None,4.000000e+06,2011.0,8.5,26000,-1.398153e+06
4105,Chan-wook Park,305,2181290.0,Drama|Mystery|Thriller,Min-sik Choi,Oldboy,356181,809.0,Korean,3.000000e+06,2003.0,8.4,43000,-8.187100e+05
2323,Hayao Miyazaki,174,2298191.0,Adventure|Animation|Fantasy,Minnie Driver,Princess Mononoke,221552,570.0,Japanese,2.400000e+09,1997.0,8.4,11000,-2.397702e+09
1298,Jean-Pierre Jeunet,242,33201661.0,Comedy|Romance,Mathieu Kassovitz,Amélie,534262,1314.0,French,7.700000e+07,2001.0,8.4,39000,-4.379834e+07
2970,Wolfgang Petersen,96,11433134.0,Adventure|Drama|Thriller|War,Jürgen Prochnow,Das Boot,168203,426.0,German,1.400000e+07,1981.0,8.4,11000,-2.566866e+06
1329,S.S. Rajamouli,44,6498000.0,Action|Adventure|Drama|Fantasy|War,Tamannaah Bhatia,Baahubali: The Beginning,62756,410.0,Telugu,1.802615e+07,2015.0,8.4,21000,-1.152815e+07
4659,Asghar Farhadi,354,7098492.0,Drama|Mystery,Shahab Hosseini,A Separation,151812,264.0,Persian,5.000000e+05,2011.0,8.4,48000,6.598492e+06
2829,Oliver Hirschbiegel,192,5501940.0,Biography|Drama|History|War,Thomas Kretschmann,Downfall,248354,564.0,German,1.350000e+07,2004.0,8.3,14000,-7.998060e+06
2734,Fritz Lang,260,26435.0,Drama|Sci-Fi,Brigitte Helm,Metropolis,111841,413.0,German,6.000000e+06,1927.0,8.3,12000,-5.973565e+06
4033,Thomas Vinterberg,349,610968.0,Drama,Thomas Bo Larsen,The Hunt,170155,249.0,Danish,3.800000e+06,2012.0,8.3,60000,-3.189032e+06
3550,Denis Villeneuve,226,6857096.0,Drama|Mystery|War,Lubna Azabal,Incendies,80429,156.0,French,6.800000e+06,2010.0,8.2,37000,5.709600e+04
4585,Joshua Oppenheimer,248,484221.0,Biography|Crime|Documentary|History,Anwar Congo,The Act of Killing,23836,107.0,Indonesian,1.000000e+06,2012.0,8.2,20000,-5.157790e+05
2047,Hayao Miyazaki,212,4710455.0,Adventure|Animation|Family|Fantasy,Christian Bale,Howl's Moving Castle,214091,330.0,Japanese,2.400000e+07,2004.0,8.2,13000,-1.928954e+07
2551,Guillermo del Toro,406,37623143.0,Drama|Fantasy|War,Ivana Baquero,Pan's Labyrinth,467234,1083.0,Spanish,1.350000e+07,2006.0,8.2,27000,2.412314e+07
4000,Juan José Campanella,262,20167424.0,Drama|Mystery|Thriller,Ricardo Darín,The Secret in Their Eyes,131831,231.0,Spanish,2.000000e+06,2009.0,8.2,33000,1.816742e+07
4461,Thomas Vinterberg,98,1647780.0,Drama,Ulrich Thomsen,The Celebration,65951,258.0,Danish,1.300000e+06,1998.0,8.1,5000,3.477800e+05
3423,Katsuhiro Ôtomo,150,439162.0,Action|Animation|Sci-Fi,Mitsuo Iwata,Akira,106160,430.0,Japanese,1.100000e+09,1988.0,8.1,0,-1.099561e+09
2830,Alejandro Amenábar,157,2086345.0,Biography|Drama|Romance,Belén Rueda,The Sea Inside,64556,140.0,Spanish,1.000000e+07,2004.0,8.1,0,-7.913655e+06
2914,Je-kyu Kang,86,1110186.0,Action|Drama|War,Min-sik Choi,Tae Guk Gi: The Brotherhood of War,31943,224.0,Korean,1.280000e+07,2004.0,8.1,0,-1.168981e+07
4267,Alejandro G. Iñárritu,157,5383834.0,Drama|Thriller,Adriana Barraza,Amores Perros,173551,361.0,Spanish,2.000000e+06,2000.0,8.1,11000,3.383834e+06
3553,José Padilha,142,8060.0,Action|Crime|Drama|Thriller,Wagner Moura,Elite Squad,81644,107.0,Portuguese,4.000000e+06,2007.0,8.1,11000,-3.991940e+06
3456,Vincent Paronnaud,242,4443403.0,Animation|Biography|Drama|War,Catherine Deneuve,Persepolis,70194,158.0,French,7.300000e+06,2007.0,8.0,14000,-2.856597e+06
4897,Sergio Leone,122,3500000.0,Action|Drama|Western,Clint Eastwood,A Fistful of Dollars,147566,235.0,Italian,2.000000e+05,1964.0,8.0,0,3.300000e+06
4284,Ari Folman,231,2283276.0,Animation|Biography|Documentary|Drama|History|War,Ari Folman,Waltz with Bashir,46107,156.0,Hebrew,1.500000e+06,2008.0,8.0,0,7.832760e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1344,Kar-Wai Wong,273,6594136.0,Action|Biography|Drama,Tony Chiu Wai Leung,The Grandmaster,24557,111.0,Mandarin,3.860000e+07,2013.0,6.5,13000,-3.200586e+07
3883,Timur Bekmambetov,232,1487477.0,Fantasy|Thriller,Konstantin Khabenskiy,Night Watch,47097,310.0,Russian,4.200000e+06,2004.0,6.5,0,-2.712523e+06
2014,Teddy Chan,65,129115.0,Action|Drama,Siu-Wong Fan,Kung Fu Killer,5900,26.0,Cantonese,2.500000e+07,2014.0,6.5,0,-2.487088e+07
377,Sydney Pollack,227,72515360.0,Crime|Mystery|Thriller,Curtiss Cook,The Interpreter,86152,411.0,Aboriginal,8.000000e+07,2005.0,6.4,0,-7.484640e+06
2737,Hsiao-Hsien Hou,205,613556.0,Action|Drama,Qi Shu,The Assassin,9427,87.0,Mandarin,1.500000e+07,2015.0,6.4,0,-1.438644e+07
4671,Tommy Wirkola,224,41709.0,Comedy|Horror,Bjørn Sundquist,Dead Snow,54601,200.0,Norwegian,8.000000e+05,2009.0,6.4,23000,-7.582910e+05
2740,Tony Jaa,110,102055.0,Action,Nirut Sirichanya,Ong-bak 2,24570,72.0,Thai,3.000000e+08,2008.0,6.2,0,-2.998979e+08
3232,Rafa Lara,12,169379.0,Drama|History|War,Jorge Luis Moreno,"Cinco de Mayo, La Batalla",683,3.0,Spanish,1.000000e+07,2013.0,6.2,874,-9.830621e+06
4572,Khalid Mohamed,1,610991.0,Drama|Romance,Karisma Kapoor,Fiza,2715,19.0,Hindi,1.000000e+06,2000.0,6.2,92,-3.890090e+05
3684,Hitoshi Matsumoto,72,22770.0,Comedy|Drama,Lindsay Kay Hayward,R100,1658,12.0,Japanese,5.500000e+06,2013.0,6.1,543,-5.477230e+06
4206,Stefan Ruzowitzky,62,5725.0,Horror|Thriller,Benno Fürmann,Anatomy,10220,110.0,German,8.400000e+06,2000.0,6.1,560,-8.394275e+06
3953,Karim Aïnouz,70,20262.0,Drama,Wagner Moura,Futuro Beach,1738,10.0,Portuguese,4.000000e+06,2014.0,6.1,278,-3.979738e+06
700,Daniel Lee,68,72413.0,Action|Adventure|Drama|History,Si Won Choi,Dragon Blade,11584,86.0,Mandarin,6.500000e+07,2015.0,6.1,0,-6.492759e+07
3075,Karan Johar,20,3275443.0,Drama,Shah Rukh Khan,Kabhi Alvida Naa Kehna,13998,264.0,Hindi,7.000000e+08,2006.0,6.0,659,-6.967246e+08
4542,Takao Okawara,107,10037390.0,Action|Adventure|Drama|Sci-Fi|Thriller,Hiroshi Abe,Godzilla 2000,5442,140.0,Japanese,1.000000e+09,1999.0,6.0,339,-9.899626e+08
1723,Li Zhang,63,127437.0,Action|Adventure|Drama|History|War,Bingbing Li,1911,4670,27.0,Mandarin,1.800000e+07,2011.0,6.0,0,-1.787256e+07
2339,Jean-Marie Poiré,8,146072.0,Comedy|Family|Fantasy|Sci-Fi,Christian Clavier,Les couloirs du temps: Les visiteurs II,7147,16.0,French,1.400000e+08,1998.0,6.0,136,-1.398539e+08
1324,Sergey Bodrov,30,77231.0,Drama|History|War,Jay Hernandez,Nomad: The Warrior,3322,32.0,Kazakh,2.500000e+07,2005.0,6.0,265,-2.492277e+07
4207,Alex Rivera,47,75727.0,Drama|Romance|Sci-Fi|Thriller,Leonor Varela,Sleep Dealer,5699,40.0,Spanish,2.500000e+06,2008.0,5.9,0,-2.424273e+06
484,Martin Campbell,137,45356386.0,Action|Adventure|Western,Michael Emerson,The Legend of Zorro,71574,244.0,Spanish,7.500000e+07,2005.0,5.9,951,-2.964361e+07
4349,Pascal Arnold,14,18435.0,Drama,Karl E. Landler,One to Another,1010,15.0,French,1.400000e+06,2006.0,5.8,104,-1.381565e+06
3086,Christopher Cain,43,1066555.0,Drama|History|Romance|Western,Jon Gries,September Dawn,2618,111.0,language,1.100000e+07,2007.0,5.8,411,-9.933445e+06
1720,Kaige Chen,90,668171.0,Action|Drama|Fantasy,Dong-gun Jang,The Promise,8215,132.0,Mandarin,6.000000e+07,2005.0,5.6,445,-5.933183e+07
3614,Matt Piedmont,133,5895238.0,Comedy|Western,Will Ferrell,Casa de mi Padre,17169,70.0,Spanish,6.000000e+06,2012.0,5.5,9000,-1.047620e+05
3455,Siddharth Anand,16,872643.0,Comedy|Family|Romance,Saif Ali Khan,Ta Ra Rum Pum,2909,37.0,Hindi,6.000000e+06,2007.0,5.4,108,-5.127357e+06
1957,Steve Barron,19,15091542.0,Adventure|Family|Fantasy|Musical,Martin Landau,The Adventures of Pinocchio,4086,22.0,Italian,2.500000e+07,1996.0,5.3,246,-9.908458e+06
3731,Bille Woodruff,9,17382982.0,Drama|Thriller,Boris Kodjoe,Addicted,5975,33.0,Spanish,5.000000e+06,2014.0,5.2,0,1.238298e+07
4958,Harry F. Millarde,1,3000000.0,Crime|Drama,Stephen Carr,Over the Hill to the Poorhouse,5,1.0,language,1.000000e+05,1920.0,4.8,0,2.900000e+06
4593,Vivek Agnihotri,4,49000.0,Thriller,Emraan Hashmi,Chocolate: Deep Dark Secrets,1524,30.0,Hindi,1.500000e+06,2005.0,4.8,31,-1.451000e+06
2890,Angelina Jolie Pitt,110,301305.0,Drama|Romance|War,Jelena Jovanova,In the Land of Blood and Honey,31414,180.0,Bosnian,1.300000e+07,2011.0,4.3,0,-1.269870e+07

You can  spot `Veer-Zaara` in the dataframe

- ###  Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [27]:
# Write your code for extracting the top 10 directors here
print(movies.groupby(by='director_name')['imdb_score'].mean().sort_values(ascending = False).head(10))

director_name
Tony Kaye                8.600000
Charles Chaplin          8.600000
Damien Chazelle          8.500000
Majid Majidi             8.500000
Alfred Hitchcock         8.500000
Ron Fricke               8.500000
Sergio Leone             8.433333
Christopher Nolan        8.425000
S.S. Rajamouli           8.400000
Marius A. Markevicius    8.400000
Name: imdb_score, dtype: float64

No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ###  Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [28]:
# Write your code for extracting the first two genres of each movie here
genrecollected=movies['genres'].apply(lambda s:pd.Series(s.split('|')))

# genre_1 = genrecollected.iloc[:,0]
# genre_2 = genrecollected[2]
genrecollected
movies['genre_1'] = genrecollected[0]
movies['genre_2'] = genrecollected[1]
print(movies.genre_1)
print(movies.genre_2)

0            Action
1            Action
2            Action
3            Action
5            Action
6            Action
7         Adventure
8            Action
9         Adventure
10           Action
11           Action
12           Action
13           Action
14           Action
15           Action
16           Action
17           Action
18           Action
19           Action
20        Adventure
21           Action
22           Action
23        Adventure
24        Adventure
25           Action
26            Drama
27           Action
28           Action
29           Action
30           Action
           ...
4959         Comedy
4962         Comedy
4964         Comedy
4971          Crime
4973          Drama
4975      Biography
4977         Comedy
4978         Comedy
4979         Comedy
4984         Comedy
4987         Comedy
4997          Drama
4998         Comedy
5004        Western
5008         Comedy
5009          Drama
5011         Comedy
5012         Action
5015         Comedy
5021         Comedy
5023        Romance
5025         Comedy
5026          Drama
5027          Drama
5029          Crime
5033          Drama
5034       Thriller
5035         Action
5037         Comedy
5042    Documentary
Name: genre_1, Length: 3891, dtype: object
0         Adventure
1         Adventure
2         Adventure
3          Thriller
5         Adventure
6         Adventure
7         Animation
8         Adventure
9            Family
10        Adventure
11        Adventure
12        Adventure
13        Adventure
14        Adventure
15        Adventure
16        Adventure
17        Adventure
18        Adventure
19        Adventure
20          Fantasy
21        Adventure
22        Adventure
23          Fantasy
24           Family
25        Adventure
26          Romance
27        Adventure
28        Adventure
29        Adventure
30        Adventure
           ...
4959            NaN
4962         Horror
4964          Crime
4971         Horror
4973        Mystery
4975         Comedy
4977    Documentary
4978            NaN
4979          Drama
4984          Drama
4987          Drama
4997            NaN
4998        Romance
5004            NaN
5008            NaN
5009        Fantasy
5011          Drama
5012          Crime
5015          Drama
5021          Drama
5023            NaN
5025          Crime
5026          Music
5027            NaN
5029         Horror
5033         Sci-Fi
5034            NaN
5035          Crime
5037          Drama
5042            NaN
Name: genre_2, Length: 3891, dtype: object

In [29]:
movies_by_segment =movies.groupby(by=['genre_1','genre_2'])
movies_by_segment# Write your code for grouping the dataframe here

In [30]:
PopGenre = movies_by_segment['gross'].mean().sort_values(ascending=False).head(5)
PopGenre.head(5)
                                                    # Write your code for getting the 5 most popular combo of genres here

genre_1    genre_2
Family     Sci-Fi       4.349495e+08
Adventure  Sci-Fi       2.286278e+08
           Animation    1.169985e+08
           Family       1.165208e+08
Action     Adventure    1.103825e+08
Name: gross, dtype: float64

In [31]:
#method2
PopGenre = movies_by_segment.mean().sort_values(by ='gross',ascending=False).head(5)
PopGenre.head(5)

                            gross  num_voted_users  num_user_for_reviews  \
genre_1   genre_2
Family    Sci-Fi     4.349495e+08    281842.000000            515.000000
Adventure Sci-Fi     2.286278e+08    290322.500000            915.500000
          Animation  1.169985e+08    136037.273504            241.179487
          Family     1.165208e+08    149323.685714            482.742857
Action    Adventure  1.103825e+08    183145.820144            601.916067

                           budget   title_year  imdb_score  \
genre_1   genre_2
Family    Sci-Fi     1.050000e+07  1982.000000    7.900000
Adventure Sci-Fi     1.045000e+08  2007.750000    6.837500
          Animation  1.068436e+08  2006.487179    6.645299
          Family     1.044809e+08  2004.257143    6.434286
Action    Adventure  1.001511e+08  2002.381295    6.365468

                     movie_facebook_likes        PROFIT
genre_1   genre_2
Family    Sci-Fi             34000.000000  4.244495e+08
Adventure Sci-Fi             29125.000000  1.241278e+08
          Animation           8634.316239  1.015496e+07
          Family             13709.514286  1.203998e+07
Action    Adventure          15573.194245  1.023144e+07

In [32]:
movies

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,PROFIT,genre_1,genre_2
0,James Cameron,723,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000,523505847.0,Action,Adventure
1,Gore Verbinski,302,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0,9404152.0,Action,Adventure
2,Sam Mendes,602,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000,-44925825.0,Action,Adventure
3,Christopher Nolan,813,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000,198130642.0,Action,Thriller
5,Andrew Stanton,462,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263700000.0,2012.0,6.6,24000,-190641321.0,Action,Adventure
6,Sam Raimi,392,336530303.0,Action|Adventure|Romance,J.K. Simmons,Spider-Man 3,383056,1902.0,English,258000000.0,2007.0,6.2,0,78530303.0,Action,Adventure
7,Nathan Greno,324,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,Brad Garrett,Tangled,294810,387.0,English,260000000.0,2010.0,7.8,29000,-59192738.0,Adventure,Animation
8,Joss Whedon,635,458991599.0,Action|Adventure|Sci-Fi,Chris Hemsworth,Avengers: Age of Ultron,462669,1117.0,English,250000000.0,2015.0,7.5,118000,208991599.0,Action,Adventure
9,David Yates,375,301956980.0,Adventure|Family|Fantasy|Mystery,Alan Rickman,Harry Potter and the Half-Blood Prince,321795,973.0,English,250000000.0,2009.0,7.5,10000,51956980.0,Adventure,Family
10,Zack Snyder,673,330249062.0,Action|Adventure|Sci-Fi,Henry Cavill,Batman v Superman: Dawn of Justice,371639,3018.0,English,250000000.0,2016.0,6.9,197000,80249062.0,Action,Adventure
11,Bryan Singer,434,200069408.0,Action|Adventure|Sci-Fi,Kevin Spacey,Superman Returns,240396,2367.0,English,209000000.0,2006.0,6.1,0,-8930592.0,Action,Adventure
12,Marc Forster,403,168368427.0,Action|Adventure,Giancarlo Giannini,Quantum of Solace,330784,1243.0,English,200000000.0,2008.0,6.7,0,-31631573.0,Action,Adventure
13,Gore Verbinski,313,423032628.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: Dead Man's Chest,522040,1832.0,English,225000000.0,2006.0,7.3,5000,198032628.0,Action,Adventure
14,Gore Verbinski,450,89289910.0,Action|Adventure|Western,Johnny Depp,The Lone Ranger,181792,711.0,English,215000000.0,2013.0,6.5,48000,-125710090.0,Action,Adventure
15,Zack Snyder,733,291021565.0,Action|Adventure|Fantasy|Sci-Fi,Henry Cavill,Man of Steel,548573,2536.0,English,225000000.0,2013.0,7.2,118000,66021565.0,Action,Adventure
16,Andrew Adamson,258,141614023.0,Action|Adventure|Family|Fantasy,Peter Dinklage,The Chronicles of Narnia: Prince Caspian,149922,438.0,English,225000000.0,2008.0,6.6,0,-83385977.0,Action,Adventure
17,Joss Whedon,703,623279547.0,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220000000.0,2012.0,8.1,123000,403279547.0,Action,Adventure
18,Rob Marshall,448,241063875.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: On Stranger Tides,370704,484.0,English,250000000.0,2011.0,6.7,58000,-8936125.0,Action,Adventure
19,Barry Sonnenfeld,451,179020854.0,Action|Adventure|Comedy|Family|Fantasy|Sci-Fi,Will Smith,Men in Black 3,268154,341.0,English,225000000.0,2012.0,6.8,40000,-45979146.0,Action,Adventure
20,Peter Jackson,422,255108370.0,Adventure|Fantasy,Aidan Turner,The Hobbit: The Battle of the Five Armies,354228,802.0,English,250000000.0,2014.0,7.5,65000,5108370.0,Adventure,Fantasy
21,Marc Webb,599,262030663.0,Action|Adventure|Fantasy,Emma Stone,The Amazing Spider-Man,451803,1225.0,English,230000000.0,2012.0,7.0,56000,32030663.0,Action,Adventure
22,Ridley Scott,343,105219735.0,Action|Adventure|Drama|History,Mark Addy,Robin Hood,211765,546.0,English,200000000.0,2010.0,6.7,17000,-94780265.0,Action,Adventure
23,Peter Jackson,509,258355354.0,Adventure|Fantasy,Aidan Turner,The Hobbit: The Desolation of Smaug,483540,951.0,English,225000000.0,2013.0,7.9,83000,33355354.0,Adventure,Fantasy
24,Chris Weitz,251,70083519.0,Adventure|Family|Fantasy,Christopher Lee,The Golden Compass,149019,666.0,English,180000000.0,2007.0,6.1,0,-109916481.0,Adventure,Family
25,Peter Jackson,446,218051260.0,Action|Adventure|Drama|Romance,Naomi Watts,King Kong,316018,2618.0,English,207000000.0,2005.0,7.2,0,11051260.0,Action,Adventure
26,James Cameron,315,658672302.0,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200000000.0,1997.0,7.7,26000,458672302.0,Drama,Romance
27,Anthony Russo,516,407197282.0,Action|Adventure|Sci-Fi,Robert Downey Jr.,Captain America: Civil War,272670,1022.0,English,250000000.0,2016.0,8.2,72000,157197282.0,Action,Adventure
28,Peter Berg,377,65173160.0,Action|Adventure|Sci-Fi|Thriller,Liam Neeson,Battleship,202382,751.0,English,209000000.0,2012.0,5.9,44000,-143826840.0,Action,Adventure
29,Colin Trevorrow,644,652177271.0,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150000000.0,2015.0,7.0,150000,502177271.0,Action,Adventure
30,Sam Mendes,750,304360277.0,Action|Adventure|Thriller,Albert Finney,Skyfall,522030,1498.0,English,200000000.0,2012.0,7.8,80000,104360277.0,Action,Adventure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4959,Robert Townsend,21,5228617.0,Comedy,Robert Townsend,Hollywood Shuffle,2770,32.0,English,100000.0,1987.0,7.0,471,5128617.0,Comedy,NaN
4962,Larry Blamire,88,110536.0,Comedy|Horror|Sci-Fi,Fay Masterson,The Lost Skeleton of Cadavra,4117,118.0,English,40000.0,2001.0,7.0,0,70536.0,Comedy,Horror
4964,E.L. Katz,193,59379.0,Comedy|Crime|Drama|Horror|Thriller,Brighton Sharbino,Cheap Thrills,12796,52.0,English,200000.0,2013.0,6.8,0,-140621.0,Comedy,Crime
4971,Dennis Iliadis,241,32721635.0,Crime|Horror|Thriller,Tony Goldwyn,The Last House on the Left,67824,279.0,English,15000000.0,2009.0,6.6,0,17721635.0,Crime,Horror
4973,Darren Aronofsky,138,3216970.0,Drama|Mystery|Thriller,Mark Margolis,Pi,142619,586.0,English,60000.0,1998.0,7.5,24000,3156970.0,Drama,Mystery
4975,Myles Berkowitz,32,536767.0,Biography|Comedy|Romance,Tia Carrere,20 Dates,1622,83.0,English,60000.0,1998.0,5.3,30,476767.0,Biography,Comedy
4977,Morgan Spurlock,193,11529368.0,Comedy|Documentary|Drama,Chemeeka Walker,Super Size Me,85028,404.0,English,65000.0,2004.0,7.3,0,11464368.0,Comedy,Documentary
4978,Brandon Trost,66,40557.0,Comedy,Clifton Collins Jr.,The FP,1389,22.0,English,60000.0,2011.0,5.6,0,-19443.0,Comedy,NaN
4979,Joe Swanberg,65,30084.0,Comedy|Drama,Anna Kendrick,Happy Christmas,5507,23.0,English,70000.0,2014.0,5.6,812,-39916.0,Comedy,Drama
4984,Edward Burns,36,10246600.0,Comedy|Drama|Romance,Shari Albert,The Brothers McMullen,6375,36.0,English,25000.0,1995.0,6.6,265,10221600.0,Comedy,Drama
4987,Lena Dunham,113,389804.0,Comedy|Drama|Romance,Lena Dunham,Tiny Furniture,11816,35.0,English,65000.0,2010.0,6.3,0,324804.0,Comedy,Drama
4997,David Gordon Green,75,241816.0,Drama,Paul Schneider,George Washington,6246,76.0,English,42000.0,2000.0,7.5,451,199816.0,Drama,NaN
4998,Kevin Jordan,21,277233.0,Comedy|Romance,Derick Martini,Smiling Fish & Goat on Fire,2631,26.0,English,40000.0,1999.0,7.6,0,237233.0,Comedy,Romance
5004,Mike Bruce,3,243768.0,Western,Joseph Campanella,The Legend of God's Gun,143,9.0,English,30000.0,2007.0,4.1,13,213768.0,Western,NaN
5008,Kevin Smith,136,3151130.0,Comedy,Jason Mewes,Clerks,181749,615.0,English,230000.0,1994.0,7.8,0,2921130.0,Comedy,NaN
5009,James Bidgood,8,8231.0,Drama|Fantasy,Don Brooks,Pink Narcissus,803,16.0,English,27000.0,1971.0,6.7,85,-18769.0,Drama,Fantasy
5011,Neil LaBute,80,2856622.0,Comedy|Drama,Stacy Edwards,In the Company of Men,11550,197.0,English,25000.0,1997.0,7.3,489,2831622.0,Comedy,Drama
5012,David Ayer,233,10499968.0,Action|Crime|Drama|Thriller,Mireille Enos,Sabotage,47502,212.0,English,35000000.0,2014.0,5.7,10000,-24500032.0,Action,Crime
5015,Richard Linklater,61,1227508.0,Comedy|Drama,Tommy Pallotta,Slacker,15103,80.0,English,23000.0,1991.0,7.1,2000,1204508.0,Comedy,Drama
5021,Jay Duplass,51,192467.0,Comedy|Drama|Romance,Mark Duplass,The Puffy Chair,4067,71.0,English,15000.0,2005.0,6.6,297,177467.0,Comedy,Drama
5023,Daryl Wein,22,76382.0,Romance,Zoe Lister-Jones,Breaking Upwards,1194,8.0,English,15000.0,2009.0,6.2,324,61382.0,Romance,NaN
5025,John Waters,73,180483.0,Comedy|Crime|Horror,Divine,Pink Flamingos,16792,183.0,English,10000.0,1972.0,6.1,0,170483.0,Comedy,Crime
5026,Olivier Assayas,81,136007.0,Drama|Music|Romance,Maggie Cheung,Clean,3924,39.0,French,4500.0,2004.0,6.9,171,131507.0,Drama,Music
5027,Jafar Panahi,64,673780.0,Drama,Fereshteh Sadre Orafaiy,The Circle,4555,26.0,Persian,10000.0,2000.0,7.5,697,663780.0,Drama,NaN
5029,Kiyoshi Kurosawa,78,94596.0,Crime|Horror|Mystery|Thriller,Kôji Yakusho,The Cure,6318,50.0,Japanese,1000000.0,1997.0,7.4,817,-905404.0,Crime,Horror
5033,Shane Carruth,143,424760.0,Drama|Sci-Fi|Thriller,Shane Carruth,Primer,72639,371.0,English,7000.0,2004.0,7.0,19000,417760.0,Drama,Sci-Fi
5034,Neill Dela Llana,35,70071.0,Thriller,Ian Gamazon,Cavite,589,35.0,English,7000.0,2005.0,6.3,74,63071.0,Thriller,NaN
5035,Robert Rodriguez,56,2040920.0,Action|Crime|Drama|Romance|Thriller,Carlos Gallardo,El Mariachi,52055,130.0,Spanish,7000.0,1992.0,6.9,0,2033920.0,Action,Crime
5037,Edward Burns,14,4584.0,Comedy|Drama,Kerry Bishé,Newlyweds,1338,14.0,English,9000.0,2011.0,6.4,413,-4416.0,Comedy,Drama
5042,Jon Gunn,43,85222.0,Documentary,John August,My Date with Drew,4285,84.0,English,1100.0,2004.0,6.6,456,84122.0,Documentary,NaN

 Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!